[2019-01-15 23:26] tbm opened #1723 "Account directive use-after-free vulnerability with deferred postings (TALOS-2017-0304, CVE-2017-2808)"
Cory Duplantis and another member of Cisco Talos discovered and [described](https://www.talosintelligence.com/vulnerability_reports/TALOS-2017-0304) an issue with ledger:

CVE-2017-2808 was assigned.

[2019-01-15 23:43] tbm commented on #1722
[code]

[2019-01-15 23:45] tbm commented on #1723
[code]

[2019-01-16 00:03] #1722 closed

[2019-01-16 00:14] tbm commented on #1723
The background on these deferred postings is here: https://groups.google.com/forum/#!topic/ledger-cli/ooxbPVRinSs

[2019-01-16 00:40] tbm commented on #1224
I wonder if this issue got fixed.  I get the buffer overflow with 3.1.1 with this test case:

[code]

But with next I get:

[code]

[2019-01-16 01:01] tbm commented on #1224
Hmm, I don't see any things that would have fixed this.

So `src/times.cc` has:

[code]

But I think `VERIFY` only works in debug mode.

Maybe this works fine now because some change in the libc/c++ libraries. std::strlen says behaviour is undefined if the dest array is not large enough.

[2019-01-16 01:11] tbm commented on #1224
so imho whatever calls `parse_date_mask_routine` should make sure it's < 127, or we allocate as much space as `strlen()+1`.

[2019-01-16 01:18] tbm commented on #1222
I'm not a 100% sure since the line numbers are slightly different, but I think this is the same:

[code]

[code]

[2019-01-16 13:40] tko commented on #1706
@tbm I can't reproduce that on macos and I don't have linux readily available, so not very quickly.

If this is similar memory corruption issue running ledger in valgrind might help point to right direction.

(I did get test failure on `BaselineTest_opt-lots` though but haven't looked at it either.)

[2019-01-17 14:13] scfc commented on #1706
The issue also appears on `master` when compiled on Fedora 28.  I thought that maybe that is related to Fedora's boost 1.66 vs. Travis CI's 1.61, but bumping `BOOST_VERSION_MAX` to `1.66.0` in `.travis.yml` did not trigger the error (https://travis-ci.org/scfc/ledger/jobs/480875026).

[2019-01-17 15:09] scfc commented on #1706
The issue remains with `master` on Fedora 28 with Boost 1.61, so maybe the difference in `gcc` (4.8.4 vs. 8.2.1) triggers a bug.

[2019-01-17 18:05] tko commented on #1706
Seems that running ledger in valgrind makes it behave correctly...

With `--debug 'expr|format'` logging I see some differences between runs. Everything is about identical until we get to
[code]

Next, when it's working:
[code]

Or when broken:
[code]

I've no idea what to do with this information.

That running in valgrind changes things slightly suggests something related to timing perhaps. Mayb

[2019-01-17 18:59] scfc commented on #1706
For completeness: Travis CI succeeds with `gcc` at 5.4.0, 6.5.0, 7.4.0 and 8.1.0.  Fedora 28 uses `gcc` 8.2.1.

[2019-01-19 15:39] Zimmi48 commented on #1223
@tbm You said you were closing but apparently forgot to do it.

[2019-01-19 15:47] tbm commented on #1223
Duplicate of #1694.

[2019-01-19 15:47] #1223 closed

[2019-01-19 22:42] tbm opened #1738 "Discrepancy between bal and reg with -H and -V/-X $"
`ledger bal` and `ledger reg` should give the same result, but I have a test case where they don't (with `-H` and either the `-V` or `-X $` option).

Test case:

[code]

ledger output:

[code]

[2019-01-20 01:33] scfc commented on #1706
Uh, sorry.  On Ubuntu Cosmic, the output (as part of `make check`) is:

    226/372 Test #228: RegressTest_1057 ......................................***Failed    2.75 sec
    FAILURE in output from /ledger/test/regress/1057.test:
    --
    $ledger -f "/ledger/test/regress/1057.test" --now=2014/06/27 emacs
    --
      @@ -1,4 +1,4 @@
      -(("/ledger/test/regress/1057.test" 1 (21308 60112 0) ni

[2019-01-20 01:38] tbm opened #1739 "RegressTest_1057 fails"
@scfc reported that RegressTest_1057 fails on Ubuntu Cosmic.

On Debian stable, 'make check' works but when I run the test manually using:

    python ./test/RegressTests.py ./ledger ./ test/regress/1057.test

I also get a failure:
[code]

[2019-01-20 01:39] tbm commented on #1706
Let's continue to discuss the RegressTest_1057 failure in issue #1739 and let's keep this ticket for the other issue.

[2019-01-20 06:24] sorsasampo opened #1740 "Add --append-format FORMAT_STRING"
Would be nice to have `--append-format FORMAT_STRING` to complement `--prepend-format FORMAT_STRING`.

[2019-01-20 06:44] sorsasampo opened #1741 "ansify_if is documented with non-existing third option"
[According to the manual](https://www.ledger-cli.org/3.0/doc/ledger3.html#index-ansify_005fif):

But `report_t::fn_ansify_if` only reads two parameters:

https://github.com/ledger/ledger/blob/dfd807f3a491dbcb386ff4b7a9b6bfe2bd7fc6c6/src/report.cc#L810-L831

[2019-01-20 14:42] tbm commented on #1740
Adding @mbudde who implemented --prepend-format

[2019-01-21 21:36] mbudde commented on #1723
I don't think the analysis in the CVE report is complete. To me it looks like the bug happens because the 'all null' transaction is discarded:
https://github.com/ledger/ledger/blob/53f4035a2f4a6f33b447ce3658c4dc062058c422/src/xact.cc#L407-L408
But right before that, in the loop checking for not-null posts, the deferred post is added to a map on the account containing deferred postings. It's when t

[2019-01-22 17:12] mbudde commented on #1739
The test depends on the timezone, so if you run it manually you need to set TZ:
[code]

[2019-01-22 17:15] tbm commented on #1739
Good point @mbudde. I don't get a failure now. @scfc?

[2019-01-22 17:17] mbudde commented on #1739
That @scfc got the same result from running the test manually and via `make check` makes me suspect that for some reason the timezone does not get set properly in Ubuntu Cosmic. Setting `TZ=Europe/Hamburg` (which I believe is @scfc's timezone) I get the exact same failure:
[code]

[2019-01-22 20:06] scfc commented on #1739
No, my time zone is UTC :-) (but `Europe/Hamburg` is equal to that as it does not exist).  But the problem appears to be that at least in the Ubuntu Cosmic _Docker_ images the time zone database is no longer included and thus symbolic names like `America/Chicago` no longer recognized:

    [tim@passepartout ~/src/ledger]$ (for release in trusty cosmic; do echo -n "$release: "; sudo docker run -e T

[2019-01-22 22:41] tbm commented on #1701
This is now PR #1733 which got merged.

[2019-01-22 22:41] tbm commented on #1701
Fixed in 60f40ba

[2019-01-22 22:41] #1701 closed

[2019-01-22 22:43] tbm commented on #1706
@tko can you look at the BaselineTest_opt-lots issue you mention and open a new issue if it's a real bug.

[2019-01-23 04:40] jwiegley commented on #1706
Those are Emacs Lisp date/time values.

[2019-01-23 05:19] jwiegley commented on #1706
I was able to reproduce the Docker results here, but no ideas as of yet.

[2019-01-23 17:32] tko opened #1747 "BaselineTest_opt-lots fails (macos)"
macOS High Sierra 10.13.6 with up-to-date homebrew

Observed as part of `make check` and reproducable with `ctest --output-on-failure -R opt-lots`

[code]
followed by very many similar chunks where the lines are getting reordered.

[2019-01-23 19:42] tko commented on #1747
@tbm a little, but I wouldn't count on me. I tried bisecting but two runs point me to two different commits d4ede603c9442bca4675d8cde2759636d3d87008 and d1a22677c94f604f47fa637adda850e1df745f96, and both look nonsense to me. I'll try once more but other than git bisect I don't even know how to start.

[2019-01-23 19:44] tbm commented on #1747
Such issues are (in my limited experience) usually compiler or boost issues (i.e. ledger does something not quite right but it only shows up later when the toolchain changes).  So I would suspect you'd get the same result if you compiler an older ledger.  But who knows....

[2019-01-23 19:45] tbm commented on #1747
(or the strange results you get because it's not 100% deterministic)

[2019-01-23 19:56] tko commented on #1747
I have

boost: homebrew 1.68.0_1
c++: Apple LLVM version 10.0.0 (clang-1000.11.45.5)

but not really in a position to start bisecting either of those.

[2019-01-24 17:02] xsepen opened #1748 "Discontinuity with command directive 'year' and ledger prices, ledger stats"
### Expected behaviour
Regardless of how calendar dates are spelt out, ledger reg/prices/stats should arrive at the same results.

### Actual behaviour (3.1.1+dfsg1-1)
* Shortened calendar dates MM-DD with preceding *year* directive are honoured in  ledger reg , but prices are skipped in  ledger prices , and  ledger stats  displays a skewed sense of *now* in its 'Days since last post'.
* Ledger wo

[2019-01-24 17:07] tbm commented on #1748
To show the problem inline:

[code]

will result in:

[code]

The 2018 pricedb entry is missing.  If you remove the `year` directive it works.

[2019-01-24 17:10] xsepen commented on #1748
### transcript.txt with print out of journal 1 and 2, ledger reg calls, and prices:

    ++ cat case1
    year 2017

    10-24 Testing
      Assets       12 L
      Income       -12€

    year 2018

    10-24 Testing
      Assets       12 L
      Income       -15€

    ++ ledger --file case1 reg
    17-Oct-24 Testing           Assets                                   12 L                   12 L

[2019-01-25 01:08] tbm commented on #1652
I think this works as expected.

It works the way you want when you add `--empty`.

[2019-01-25 01:46] trevorld commented on #1652
Adding the ``--empty`` flag seems to do the trick.  Thanks for the follow-up, sorry I missed that detail in the documentation.

[2019-01-25 01:46] #1652 closed

[2019-01-25 15:05] #1739 closed

[2019-01-25 21:31] #1655 closed

[2019-01-25 23:47] #1723 closed

[2019-01-26 12:45] #1224 closed

[2019-01-26 15:44] tbm commented on #1222
I just noticed the string I copied into the bug isn't long enough to show the bug. Just add some ooooo's. Anyway, I'll add a fix.

[2019-01-26 16:05] #1222 closed

[2019-01-26 16:56] tbm commented on #1094
The original bug report:

[code]

The third transaction contains a balance assertion on the Target account and asserts that it contains 2 Bar. The account actually contains only 1 Bar. Running ledger on the above file should therefore produce an error, but no error is produced.

[2019-01-26 17:00] tbm commented on #1094
That's actually not correct.  The `= 2 Bar` syntax (on a null posting) means you're resetting the balance to 2 Bar.  And ledger does this correctly.  But since both postings are `Target`, ledger does +1 Bar to Target and then -1 Bar to Target.

Anyway, I did find a bug though:

[code]

gives:

[code]

[2019-01-26 17:01] tbm commented on #1094
Also, this is not valid but it seems it ought to be:

[code]

[2019-01-26 19:41] robbat2 commented on #1094
The syntax here also leads to lack of clarity. You labelled it as `Check`, but it's still an assignment, not really an assertion as you noted. The explicit zero case is handled correctly. I'd maybe consider throwing a clearer warning about already being the assigned value.

[code]

[2019-01-26 22:49] scfc commented on #510
I have rebased @afh's branch onto `next` at https://github.com/scfc/ledger/tree/afh/wip/python3.  It does not compile (but has a number of interesting commits for the build system which I will post pull requests for), and I believe the logic is currently flawed as it seems to (try to) compile Ledger for the system's "standard" Python.  Instead, this should be independent: You should be able to com

[2019-01-27 13:40] pascalfleury commented on #1094
I think the issue is that when the amount is unspecified, the assertion is not marked as an assignment, and then the validation will complain about multiple null amounts. Or maybe because the amount itself is zero.

I think the other cases are WAI, albeit sometimes a bit confusing as to what is happening. Two assertions on separate lines with different commodities does more than the user expects.

[2019-01-28 03:31] scfc commented on #510
I stand corrected: While IMHO the `python:` section in `.travis.yml` is still flawed, the idea to have to select one Python version per build seems to be sensible looking at https://src.fedoraproject.org/rpms/csdiff/blob/1c988d4b90ee0a2db409b8459ad93e97dfe1a253/f/csdiff.spec#_70 where CMake is called in separate directories with `-DPYTHON_EXECUTABLE` set to different values.

[2019-01-28 05:56] jwiegley commented on #541
That sounds exactly right @mbudde.

[2019-01-28 06:40] mbudde commented on #541
Great. I'll make a pull request.

[2019-01-28 18:07] tbm commented on #1706
@mbudde any chance you can take a look?

[2019-01-28 18:07] tbm commented on #1747
@jwiegley can you reproduce this?

[2019-01-28 18:21] #541 closed

[2019-01-28 21:35] mbudde commented on #1706
`amounts_map` in `balance_t` is defined like this:
https://github.com/ledger/ledger/blob/0c0f696fd2ae0e3d801bb0b534f9f20bcacc86b2/src/balance.h#L83
The code in `org.cc` iterates over this map. Since the keys in the map are pointers the order of the items [depends on the pointer values](https://stackoverflow.com/questions/25122932/pointers-as-keys-in-map-c-stl). Something has changed (in GCC perhap

[2019-01-28 21:46] tbm commented on #1747
@mbudde? ;)

[2019-01-28 21:52] jwiegley commented on #1706
Ahh, that makes sense! thanks `mbudde`.

In `org.cc`, we could project this map into a map of the following type:

    std::map<std::pair<std::string, commodity_t *>, amount_t>

I.e., just turn every key into a pairing of its commodity name and the pointer.

Then `org.cc` would iterate this map and ignore the commodity name part. Should be a few-liner.

[2019-01-28 21:54] mbudde commented on #1747
I think I'll have a hard time debugging this without a Mac :man_shrugging:

[2019-01-29 23:13] tbm opened #1753 "Parser shouldn't allow account starting with semicolon"
ledger is quite permissive in terms of what it accepts as account names - pretty much anything as long as it's followed by two spaces or a tab (or a newline).  Account names *may* contain semicolons.

However, account names can't start with a semicolon... because that would be parsed as a comment instead.  That makes sense.

Simple, right.

Except that ledger accepts an account name starting with

[2019-01-29 23:19] tbm opened #1754 "balance assignments rejected when you have 2 with same amount"
The following is rejected with:

[code]

[code]

I don't think that error makes sense.  Both balance assignments are valid.  If you put another transaction that touches `Assets:Cash` inbetween it works or if you change the second $500 to something else.

Maybe the two balance assignments don't make sense, but they are not invalid.  imho it shouldn't be rejected.  If it's rejected, the error messag

[2019-01-29 23:21] tbm commented on #1754
Maybe related to the recent conversion in #1094

[2019-01-29 23:21] tbm commented on #1754
@pascalfleury can you look at this?

[2019-01-29 23:22] tbm commented on #1754
Just to make it clear.

This works:

[code]

and this works:

[code]

[2019-01-30 06:03] jwiegley commented on #1747
This doesn't reproduce for me.

[2019-01-30 06:05] jwiegley commented on #1747
I'll note here that the correct output is being displayed, it's just that the sorting is off. This is established by `commodity_t::compare_by_commodity::operator()`, so I wonder what it's being sensitive to here...

[2019-01-30 16:27] dedmons commented on #1754
Hey @tbm,

I ran into this issue while doing my yearly envelop reset.

To me it is caused by the balance assignment being calculated to 0, and I have not been able to dig into why that is getting considered a null amount instead of a 0 amount.

[2019-01-30 19:45] jwiegley commented on #1747
The test `BaselineTest_cmd-pricedb` also intermittently fails.

[2019-02-04 07:32] Alotofwhoknowswhat opened #1757 "Amount of all my coins show ZERO in Ledger Live"

[2019-02-04 07:33] Alotofwhoknowswhat commented on #1757
I uninstalled the 1.3.4 Ledger Live because I couldn't withdraw any coins and installed 1.3.2 and now it shows ZERO for all my coins.  Can someone help me with this.  Ledger Live has a BUG! Please fix

[2019-02-04 08:18] peterkeen commented on #1757
Wrong ledger

[2019-02-04 08:18] #1757 closed

[2019-02-04 17:40] jwiegley commented on #1757
I was just starting to wonder what Ledger Live was... :)

[2019-02-04 18:12] Alotofwhoknowswhat commented on #1757
Lol. It’s an app

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: John Wiegley <notifications@github.com>
Sent: Monday, February 4, 2019 9:41 AM
To: ledger/ledger
Cc: Peggy Johnson; Author
Subject: Re: [ledger/ledger] Amount of all my coins show ZERO in Ledger Live (#1757)

I was just starting to wonder what Ledger Live was... :)

—
You are receiving this because

[2019-02-04 20:41] enderw88 commented on #1757
Wonder John is going to get a Cease and Desist on using the Ledger name.
Because of course they won’t catch 10+ years of use of the name.

On Mon, Feb 4, 2019 at 11:12 Alotofwhoknowswhat <notifications@github.com>
wrote:

--
Craig, Corona De Tucson, AZ
[image: missile_flyout]
enderw88.wordpress.com

[2019-02-04 21:00] aparkerlue commented on #510
Is there a pull request that one could contribute to?

[2019-02-04 21:32] jwiegley commented on #1757
I've never had a desire to copyright the term "Ledger", since it's such a commonly used idea in so many places. We're "ledger-cli" when we need disambiguation.

[2019-02-07 01:44] bremner opened #1758 "file with unknown license contrib/CSVReader.cs"
Quoting from the file

[code]

I'm not a lawyer, but I don't think that's how public domain works ;)

[2019-02-07 01:47] jwiegley commented on #1758
Right you are, @bremner! I've sent a message to the author, J.Marc Piulachs, asking if he will clarify the licensin

[2019-02-07 01:47] bremner opened #1759 "Minfied JS without source in python/res"
There are several minified JS files in python/res without the corresponding (non-minified) source. This means they need to be stripped from the package by Debian and probably by other Distros as well.

[2019-02-07 01:51] jwiegley commented on #1759
Good catch. I wonder which version of jQuery that is...

[2019-02-10 01:50] oliviergt opened #1761 "-V flag is "sticky" in script command interpreter"
In interactive mode (a.k.a. script command interpreter mode), once `-V` or `--market` has been used, further outputs will use market values, even if `-V` is no longer specified. The flag is "sticky". I didn't see this documented so I am filing this issue. Here is a test case.

example.ledger:

[code]

script.txt:

[code]

On a fresh build, the result of `ledger -f example.ledger < script.txt` is:

[2019-02-10 11:13] tbm commented on #1761
I can reproduce the result in the interactive prompt.

I can not reproduce the result when calling ledger separately and I'm not sure why you'd get that result since ledger doesn't keep state.

What platform are you on?

[2019-02-10 11:16] tbm commented on #1761
Oh, I just realized that you pipe the commands to *one* ledger call instead of calling ledger several times.

So this is the same as running the commands on the interactive prompt.

[2019-02-10 19:09] shentino commented on #1131
Same issue here.

Offending journal:

bucket Assets:Cash

2019/02/10 * Jane Doe
  Revenue:Labor:Lawnmowing   $-40.00
  Expenses:Tithe               $4.00
  Liabilities:Tithe           $-4.00

[2019-02-10 23:30] oliviergt commented on #1761
Correct, I have a single ledger process.

[2019-02-11 01:13] oliviergt opened #1762 "confusion about --end and --now"
Consider this file.

[code]

I am attempting to match a brokerage statement for 2019-01, which shows the value of each commodity to be $100 at the end of day 2019-01-31. The $110 prices were all recorded on 2019-02-01, so they shouldn't have any bearing on the 2019-01-31 balance.

Here is the result of `ledger -f example.ledger bal -e "2019-02-01" -V Brokerage`:

[code]

Two observations:

- If th

[2019-02-11 07:46] tbm commented on #1762
You have to add `--now 2019-01-31` to get the result you want.

`--end` only limits the transactions, but revaluations will be done to the current date.  If you want to revalue only to a certain date, you need to specify `--now` as well.

Please check the docs to see if this is clear.  If it's not clear, this is a documentation issue.  But ledger itself is doing the right thing here.

[2019-02-11 17:09] oliviergt commented on #1762
Thanks, that solves my problem. I think the undocumented behavior is that if `--now` is not specified, it doesn't default to the current calendar day, it defaults to `--end`. Ignoring this, I was left with the impression that `--now` wouldn't help, because my market values years in the past were only off by one day, not years.

[code]

[code]

Show that unspecified `--now` behaves like `--now` equ

[2019-02-12 12:41] tbm commented on #1762
Yeah, that seems to be true...

... and I think that make sense since --end says ignore all transactions after that day.

But the results are actually quite curious:

that doesn't make any sense.  Basically, a --now after --end should always give the same results as --now being the same as --end (in fact, I'm not sure if that's accurate because --end is exclusive, so it's really a day before the d

[2019-02-12 20:39] oliviergt commented on #1762
It's useful to be able to set `--now` years after `--end`. Here's an [example](https://github.com/ledger/ledger/files/2857542/exp.txt) of a person investing $1000 a year for 45 years, in a fund that returns 7% a year.

After the first ten years their investment was worth:

[code]

The money invested in the first 10 years has now grown to:
[code]

and presently constitutes more than 50% of the port

[2019-02-13 02:51] bradyt opened #1763 "Add ledger(3) to SEE ALSO section of manual"
At `man ledger`, there is

[code]

Would be nice to have `ledger(3)` there. I tried `info ledger` but it only took me to ledger-mode info pages. I hastily assumed there was no ledger info manual.

[2019-02-13 05:23] richardkiss opened #1764 "Crash with python extensions"
crash.dat below

[code]

Then `ledger -f crash.dat print` crashes or hangs.

On Mac OS X 10.14.3 ledger 3.1.2-20190205, segfaults.

On Ubuntu ledger 3.1.1, it hangs.

[2019-02-13 10:50] tbm commented on #1763
Why `ledger(3)`?  Isn't section 3 for "Library functions, covering in particular the C standard library"? I don't know how to refer to the info manual but I'm not sure `ledger(3)` is the right way....?

[2019-02-13 10:51] tbm commented on #1764
Can you show the backtrace from the segfault and gdb?

[2019-02-13 19:56] richardkiss commented on #1764
Here's the backtrace from `lldb`:

[code]

[2019-02-13 23:35] bradyt commented on #1763
I have not researched these notations, it was only brought to my attention that `info ledger3` works.

[2019-02-14 16:53] itsjohncs opened #1765 "`ledger bal --basis` not balancing to zero."
[I prepared a reduced test case](https://gist.github.com/itsjohncs/ab5d730f9f12c956e23520fb4509aab2).

[2019-02-14 17:29] jwiegley commented on #1765
Well, that's a great find. Thank you.

[2019-02-14 17:38] simonmichael commented on #1765
Slightly more reduced:
[code]

[2019-02-14 17:47] tbm commented on #1765
Thanks @simonmichael this is very insightful.  I wonder if this is due to #1663.

[2019-02-16 11:52] tbm commented on #1702
Interesting, yeah, I tend to agree that this is a bug that should be fixed.

[2019-02-16 11:55] tbm commented on #1763
If anyone knows how to refer to the info manual from a man page, we can add it; but I don't think ledger(3) is correct.

[2019-02-16 14:28] enderw88 commented on #1763
Yeah, the 3 is part of the file name to distinguish it from older versions.
Not part of the Unix man page structure.

On Sat, Feb 16, 2019 at 04:55 Martin Michlmayr <notifications@github.com>
wrote:

--
Craig, Corona De Tucson, AZ
[image: missile_flyout]
enderw88.wordpress.com

[2019-02-16 14:54] afh commented on #1763
I suggest to take the examples of [groff (7)](http://git.savannah.gnu.org/cgit/groff.git/tree/man/groff.7.man#n4650)

manual You can browse it interactively with **info groff**. Besides the gory details, it contains many examples.

and [makeinfo (1)](http://man.openbsd.org/makeinfo#SEE_ALSO)

as an inspiration and adapt accordingly, e.g.:

Note that `info ledger` may display an info (1) version of

[2019-02-16 21:45] mbudde commented on #1702
The current behavior isn't very consistent at all:
[code]

[2019-02-16 22:10] enderw88 commented on #1702
I agree that this is confusing, but at some point we need to think about
performance.  The more flexible the parser is, the slower it is.  Putting
reasonable limits on syntax doesn't seem like a hardship here.

On Sat, Feb 16, 2019 at 2:45 PM Michael Budde <notifications@github.com>
wrote:

--
Craig, Corona De Tucson, AZ
[image: missile_flyout]
enderw88.wordpress.com

[2019-02-23 08:56] narendraj9 commented on #1020
I am planning to switch to `ledger` from `hledger` but this is something that I have gotten used to. I will try to see if I can find the fix for it.

[2019-02-23 14:26] mbudde commented on #1678
The pricedb file is parsed before the journal, so aliases from the journal file is not set up at that point. The first reference to `RUB` in the pricedb creates the commodity which causes the assertion failure when trying to set up the alias because the `RUB` commodity already exists.

A workaround that seems to work is moving the commodity directive to the pricedb file.

Ledger should give a prop

[2019-02-23 15:52] mbudde commented on #1662
`!include Q*` includes the file itself resulting in infinite recursion.

[2019-02-24 19:04] tbm commented on #1763
Thanks @afh, that's a great suggestion.

[2019-02-24 19:05] #1763 closed

[2019-02-28 00:46] tbm commented on #523
3.1.2 has been released a while ago.

[2019-02-28 00:46] #523 closed

[2019-02-28 10:56] denysos commented on #555
I have found a way to use ledger with Emacs Ledger mode on windows 10  without the "cygdrive" issue

I have noticed when you try to use ledger with the command line,
`cd  C:\path\to\ledger\file`
this doesn't work  :
`ledger -f C:\path\to\ledger\file\test.ledger bal`
I get :
Error: Cannot read journal file "/cygdrive/c/Users/denis/Desktop/ledger/C:\Users\denis\Desktop\ledger\test.ledger"

but this

[2019-02-28 13:10] enderw88 commented on #555
I think this is an issue with your installation.  This will break on *nix
based systems.

On Thu, Feb 28, 2019 at 3:56 AM denysos <notifications@github.com> wrote:

--
Craig, Corona De Tucson, AZ
[image: missile_flyout]
enderw88.wordpress.com

[2019-03-01 08:13] denysos commented on #555
@enderw88 yes but Ledger with Emacs on Windows is the subject of this issue ...

[2019-03-01 11:58] enderw88 commented on #555
I should have been clearer. This is not a bug in ledger-mode.

On Fri, Mar 1, 2019 at 01:13 denysos <notifications@github.com> wrote:

--
Craig, Corona De Tucson, AZ
[image: missile_flyout]
enderw88.wordpress.com

[2019-03-01 15:56] denysos commented on #555
of course it's just a workaround for windows users ... just to wait until a fix for this issue.

[2019-03-03 17:29] MartyLake opened #1768 "ledger print removes apply tag directive"
Hello,

I am creating an import bash script for splitwise csv that works like this:
* read the splitwise csv, store column names
* in the `$my_tmp_file`
  * write "apply tag imported_from_splitwise"
  * for each entry splitwsie csv, write a corresponding ledger enry
  * write "end apply tag"
* format it  `ledger -f $my_tmp_file prin > $my_dest_file`

After the formatting, the apply tag directives

[2019-03-03 17:34] crazyh commented on #1768
I am not sure that it will help in this case but try to add `--raw`.

[2019-03-03 17:55] MartyLake commented on #1768
I tried to add --raw in this case, but it did not change anything.

[2019-03-03 19:01] enderw88 commented on #1768
Print really strips things down. I have never really found a use case for
it. At one point I was to use it as a prettifier but it didn’t preserve
enough.

On Sun, Mar 3, 2019 at 10:55 Matthieu Talbot <notifications@github.com>
wrote:

--
Craig, Corona De Tucson, AZ
[image: missile_flyout]
enderw88.wordpress.com

[2019-03-03 19:15] MartyLake commented on #1768
I ended up prettyfying with print and then add the "apply tag" directives.
It works well. Maybe we should close this issue then?

Le dim. 3 mars 2019 à 20:01, Craig Earls <notifications@github.com> a
écrit :

[2019-03-06 13:20] Qub1 commented on #1092
Seeing as hledger does provide this functionality by default, maybe it would be a good idea to include a flag that enables processing budget assignments in date order instead (or any other sorting order)?

Maybe something along the lines of `--balance-assignment-sort VEXPR`. That way users can sort them by date or index in the file if they wish.

I would be willing to write something up and submit

[2019-03-06 17:22] jwiegley commented on #1092
This is not a simple thing to add support for in C++ Ledger. Not impossible either, but it would require a fair bit of code reorganization. This is because processing of assertions and restrictions is done while parsing -- for speed -- rather than as a post-parsing phase.

[2019-03-08 01:31] gmenzel commented on #1683
In case it's of any interest, I just ran across this same problem on macOS, and it was caused by not having the bash-completion2 package installed.

[2019-03-08 14:06] Qub1 commented on #1092
Yes, shortly after I wrote that comment I was looking through the code to see if maybe I could write it and submit a pull request but I came to the same conclusion as well. I was hoping it would be as simple as switching around sorting and processing but alas.

[2019-03-09 23:46] tbm commented on #1129
I'd say this is invalid as metadate keys may not contain space.

[2019-03-10 00:04] zombiezen opened #1770 "Documentation claims that asterisk can be placed after code, but only works before code"
## Steps to Reproduce

[code]

## Expected Behavior

According to [Section 5.5](https://www.ledger-cli.org/3.0/doc/ledger3.html#Transaction-state) of the manual:

So I would expect the `ledger register` command to yield the transaction.

## Actual Behavior

`ledger register` produces no output.

## Version

Ledger 3.1.2-20160801 (Debian package version `3.1.2~pre1+g3a00e1c+dfsg1-2+b1`)

[2019-03-10 00:22] tbm commented on #1770
This is already fixed in commit 6abbb0043692688a80762608de25b3116e2f2a50

    Fix order of transaction state in txn header

    The transaction state comes before (not after) the code.

However, it seems the web site hasn't been updated.

[2019-03-10 00:24] enderw88 commented on #1770
Need to fix the documentation.

On Sat, Mar 9, 2019 at 5:04 PM Ross Light <notifications@github.com> wrote:

--
Craig, Corona De Tucson, AZ
[image: missile_flyout]
enderw88.wordpress.com

[2019-03-10 00:24] tbm commented on #1770
The web site is up to date now.

[2019-03-10 00:24] #1770 closed

[2019-03-11 20:26] fancsali opened #1771 "Balance assertion does not ignore UUID duplicates"
Just installed ledger 3.1.2, and I think I have stumbled upon something.

Having the following file:

[code]

If I run `ledger bal -f test.ldg --permissive`, the calculations seem to be just fine, it is ignoring the second instance of the same transaction, as it is expected:

[code]

However, if I run `ledger bal -f test.ldg`, it is complaining about the balance assertions being off:

[code]

It s

[2019-03-11 20:47] fancsali opened #1772 "Sort by auxiliary date"
I keep my journals separate by source (as in which bank statement they come from), and then merge them for final processing..

However, when merging them together, it'd be nice to have a way of sorting them based on the aux_date, if present, and date if the former is not specified. However if I do `cat *.ldg | ledger print -f - --effective --sort date --permissive  --detail > all.ldg` I essentiall

[2019-03-11 21:52] enderw88 commented on #1771
Ledger does not understand UUID. It is just another metatag. The
—permissive is allowing ledger to ignore the error on the second
transaction.

On Mon, Mar 11, 2019 at 13:26 fancsali <notifications@github.com> wrote:

--
Craig, Corona De Tucson, AZ
[image: missile_flyout]
enderw88.wordpress.com

[2019-03-11 23:33] fancsali commented on #1771
UPDATE: Tested on 3.1.1, and it works perfectly, `ledger` completely ignores the second transaction, not just for the purpose of the running total, but for the assertions too:

[code]

[2019-03-12 01:31] tbm commented on #1771
This is not true.  If there is more than one transaction with the same UUID, ledger will only take the first and ignore the rest.

[2019-03-12 01:32] tbm commented on #1771
so 3.1.1 works and 3.1.2 is broken?  That's weird.  I thought this was tested for in `test/baseline/feat-balance_assert_split.test`

[2019-03-12 01:35] tbm commented on #1772
It sounds like the real bug here is that `print --effective` does not retain the whole date information.

[code]

[2019-03-12 01:36] tbm commented on #1772
`--effective --raw --sort d` works for me

[2019-03-14 04:22] tbm opened #1773 "docs still mention automatic Equity:Capital Losses"
This is no longer true.

[2019-03-15 02:06] tbm commented on #1092
Can someone at least add something about this the docs? I don't think the limitation is currently documented.

[2019-03-15 02:15] simonmichael commented on #1092
I was trying to clean up/document hledger's implementation of this recently, which is mostly around [here](https://github.com/simonmichael/hledger/blob/master/hledger-lib/Hledger/Data/Journal.hs#L623). As you can see the combination of inferring transaction-balancing amounts, balance assignment, balance assertions, arbitrary ordering, and posting dates, gets rather tricky. We have imposed a couple

[2019-03-15 20:09] oguzserbetci commented on #1646
This made me scratch my head a lot today. I think this would be such a nice to have as it is very important to know how much one spends on each category on average.

[code]

Running `ledger -MA balance expenses` should generate 400EUR per month, but it calculates 160EUR. Correct behaviour would be to first group by month, sum up the groups and then take the average.

Please correct me if the curre

[2019-03-16 07:51] tbm commented on #1747
@tko this should be fixed with the changes @jwiegley made today. Can you please check.

[2019-03-16 07:55] tbm commented on #1706
@jwiegley removed the `org` command in f0dacdb22f2888 so I'm closing this issue.

[2019-03-16 12:47] tko opened #1774 "Fails to build on macOS (10.14; AppleClang 10.0.0.10001145, boost 1.68)"
macOS Mojave 10.14.3
The C compiler identification is AppleClang 10.0.0.10001145
The CXX compiler identification is AppleClang 10.0.0.10001145
Boost version: 1.68.0

boost and everything from homebrew, all up to date at the time of writing.

[code]

<details><p>

[code]
</p></details>

[2019-03-16 13:24] tko commented on #1774
Based on googling I tried adding `#include <cmath>` in the beginning of system.hh.in and also changing "math.h" to "cmath" in src/amount.cc but no luck.

[2019-03-17 11:26] tko commented on #1774
Getting similar errors also with llvm 7 and llvm@6, both from homebrew. gcc8 gets past the headers trouble but fails at linking, possibly due to boost still being built with clang.

[2019-03-17 11:35] tbm commented on #1771
@fancsali any comment on my last comment?

[2019-03-17 13:01] tko commented on #1774
I was able to build ledger with `cmake -DPRECOMPILE_SYSTEM_HH=OFF` and the default AppleClang compiler.

[2019-03-17 13:22] tko commented on #1747
@tbm worksforme

I can't make `BaselineTest_opt-lots` trip anymore, but with (very many) repeated test runs `BaselineTest_cmd-pricedb` eventually fails.

[2019-03-17 14:32] fancsali commented on #1771
@tbm It seems to me, that this is the case. Works on 3.1.1 but not on 3.1.2.

Looking at them at first, I'd believed, the tests should cover that, however the balance assertions are on different postings.

So, this works:
[code]
but this still has an issue:
[code]

Also, I am sure about the `<Assets:Checkig>` part. What do the brackets do here? Could that make any difference?

[2019-03-17 22:57] fturco opened #1775 "Wrong year when using the --input-date-format "%F" option with the register command"
I'm running `app-office/ledger-3.1.1-r2` on a Gentoo Linux system.

Ledger incorrectly shows transactions in the future even when in the source file they are set in the past. Day and month are the same, but the year is different.

Example of source file (`~/tmp/xxx.dat`):

[code]

On the command line:

[code]

As you can see, ledger displays `19-Mar-30` instead of `18-Mar-30`.

If you drop the `--

[2019-03-18 01:29] tbm commented on #1775
Interestingly `--input-date-format "%Y-%m-%d"` works as expected, but `%F` doesn't.

[2019-03-18 01:36] tbm commented on #1775
It seems the year is ignored with `%F` since all of the following lead to 2019:

[code]

Hmm, this is weird.  When I add `--now "2030-04-03"`, the years become 2018 instead of 2030.

[2019-03-18 01:42] tbm commented on #1775
This is weird.  `--debug time` shows the right dates:

[code]

@mbudde any idea?

[2019-03-18 01:44] tbm commented on #1775
[code]

[2019-03-18 01:49] tbm commented on #1775
@mbudde is on vacation.

@jwiegley can you look at this?

[2019-03-22 20:35] kroitor commented on #1774
Having the same issue with `./acprep` on MacOS X Mojave 10.14.3... looks like a common thing to many mac packages involving `cmake`.

[code]

@tko would be great if you could elaborate a bit more on the procedure (starting with a clean repo), can you write out the exact sequence you used to build it on your Mac? Thx a lot in advance.

[2019-03-26 20:51] crazyh commented on #1045
Just faced with the same issue. Am I right that the patch above is not applied and it is not possible to set `--explicit` and `--pedantic` in a journal file?

[2019-03-27 02:13] tbm commented on #1045
@crazyh

Correct, nothing has changed.

[2019-03-27 12:36] tbm commented on #1747
@tko

If it's repeatable, I suggest you open a new ticket.

[2019-03-28 04:23] jwiegley commented on #1747
Agreed, it's a different bug.

[2019-03-28 04:23] #1747 closed

[2019-03-28 11:20] Seriousness opened #1780 "Revision safe storage?"
The german GOBD (https://billwerk.io/subscription_economy/gobd-overview-and-practical-guidelines-of-the-german-directive/) requires a revision safe bookkeeping. Commercial systems normally allow an editing of a batch of bookings which you then commit to the internal system and are saved somehow to forbid changing.

I just flew through the documentation but as far as I read through it feels like yo

[2019-03-28 11:41] tbm commented on #1780
No, this is outside the scope of ledger.

You might be able to copy your ledger files to DATEV after each change.

This thread might be useful: https://www.reddit.com/r/plaintextaccounting/comments/a8m69i/appendonly_immutable_book_keeping_with_plain_text/

[2019-03-28 11:43] tbm commented on #1780
Right.  ledger itself doesn't care about how or how often you edit the data.  It just reads a plain-text file containing your transactions.  How you generate, modify and maintain that file is not something ledger itself cares about.

No, you'd have to build that around or on-top whatever editing mechanism you use.

[2019-03-28 11:45] enderw88 commented on #1780
And thank heaven for that. After 8 years I am still fiddling with my
account structure.

On Thu, Mar 28, 2019 at 04:43 Martin Michlmayr <notifications@github.com>
wrote:

--
Craig, Corona De Tucson, AZ
[image: missile_flyout]
enderw88.wordpress.com

[2019-03-29 06:39] tbm commented on #1706
@jwiegley removed the org command in f0dacdb so I'm closing this issue.

[2019-03-29 06:39] #1706 closed

[2019-03-30 03:39] lyqyd commented on #1475
I found that creating a stub entry without the month specification causes these transactions to (at least partially) work:

[code]

[2019-03-30 12:48] #1753 closed

[2019-03-30 13:32] #1702 closed

[2019-03-31 04:44] tbm commented on #1780
I'm closing this as it's outside the scope of ledger.

[2019-03-31 04:44] #1780 closed

[2019-03-31 04:46] tbm opened #1781 "backscape escaping wrong in value expression"
I want to search for the tilde (`|`) character in the payee.  Of course, the tile has a special meaning in regexes.

Normally, you can escape it like `/\|/`.  However, ledger requires *double* escaping, which seems wrong to me: `/\\|/`.

Test case:

[code]

[code]

[2019-03-31 13:09] mbudde commented on #1045
Looks like you can get to the journal through `parent`, e.g `parent->journal->checking_style`.

[2019-03-31 19:15] mbudde commented on #1045
Whoopsie, accidentally deleted my comment. Here it is again:

Looks like you can get to the journal through `parent`, e.g `parent->journal->checking_style`.

[2019-04-01 01:59] enderw88 commented on #1781
Smells like emacs, which requires you double escape...

On Sat, Mar 30, 2019 at 9:46 PM Martin Michlmayr <notifications@github.com>
wrote:

--
Craig, Corona De Tucson, AZ
[image: missile_flyout]
enderw88.wordpress.com

[2019-04-02 04:56] #1775 closed

[2019-04-06 07:19] tbm opened #1783 "Output of pricedb not deterministic / BaselineTest_cmd-pricedb fails"
@tko mentioned in issue #1747:

I just saw this on Travis after applying the patch from @mbudde (of course it's not related to his patch): https://travis-ci.org/ledger/ledger/jobs/514501257

[code]

[2019-04-07 14:12] JalapenoGremlin opened #1784 "How do you enter a stock split?"
This isn't a "bug issue" (but possibly a documentation question). So how do I enter a stock split into ledger?

[code]
In 2015 the stock splits 2 shares for every 1 owned
[code]
And now I sell
[code]

Effectively.
I purchased 4 "effective" shares of ACME on 2010-01-01 for an "effective price" of $25/share
and sold 3 shares of ACME at $75/share on 2017-03-30. So my capital gains are (210-75) $135.

[2019-04-07 14:44] tbm commented on #1784
Maybe I'm reading too much into what you wrote but it sounds like you want to realise a capital gain here. I don't think a stock split would do that.

Anyway, I will show both scenarios - with a capital gain caused by the split and without.  I think without is what you want (this will get the $135 you mention)

# without

[code]
# with

[code]

[2019-04-07 15:12] JalapenoGremlin commented on #1784
So easy. I guess. I was not trying to realize any gains in 2015. Just recording the fact that it split.

Thanks for your help and with the corrections with the @@. I've just started tracking "other currencies/stocks" with ledger, but have been using it for home currency ($) for a while now.

[2019-04-07 22:09] JalapenoGremlin commented on #1784
Here's what I ended up doing. I think this keeps the record correctly. Maybe this is all there is to it?
Still annoying to have to repeat the information from earlier, but it does keep the "only new entries go into a ledger" philosophy.
[code]

[2019-04-07 22:09] #1784 closed

[2019-04-08 04:32] tbm commented on #1784
looks correct to me

[2019-04-12 10:57] zndtoshi opened #1785 "^ symbol missing in passphrases on Nano s"
When trying to apply a passphrase to a private key the symbol ^ is missing. Would be nice to have it implemented as it shouldn't be too difficult.

[2019-04-12 11:37] crazyh commented on #1785
It definitely seems like you can do it yourself.

[2019-04-12 11:39] tbm commented on #1785
This ledger repository is for the command-line accounting tool called ledger.  Not for the hardware ledger you're talking about.

Please report your issue to https://github.com/LedgerHQ/ledger-nano-s

[2019-04-12 11:39] #1785 closed

[2019-04-12 11:40] tbm commented on #1781
@jwiegley is this intended, as @enderw88 suggests.  Is that how emacs works?  Maybe we can add a link to the Emacs regex documentation (if there's such a thing).

[2019-04-13 14:26] scfc commented on #1781
No, it is not Emacs-related.  Assuming that the value expression is parsed by `query_t::lexer_t::next_token()`, it is caused by `src/query.cc`'s line 63ff.  And (prima facie) it makes sense (and is familiar from similar use cases): If you want to use "/" in an regular expression, you need to be able to escape it, so you'll need two backslashes to use a backslash in the regular-expression-sense.

[2019-04-13 14:29] tbm commented on #1781
@scfc I can't follow your command.  I'm trying to search for the tilde (`|`).  But because the tilde means OR, I have to escape it with a backslash.  So normally I would type `\|`.  But ledger requires two backslashes: `\\|`. I don't see why I'd have to escape the backslash.

[2019-04-13 14:30] tbm commented on #1781
but `payee =~ /.../` is a regex match, so it's not clear why I'd need two backslashes.

[2019-04-13 22:31] scfc commented on #1781
How would you search for a payee with a slash in its name?  You would need to say `payee =~ /\//` to differentiate a closing slash from a slash to search for.  So when you need to pass one backslash to the regular expression pattern, you need to escape it once, i. e. by entering two backlashes.

On the other hand for example JavaScript mixes those two escape levels: In `'a/bc'.search(/a\/bc/)` and

[2019-04-14 04:50] tbm commented on #1781
I'm only familiar with the Perl syntax.  I'm ok with ledger using a different syntax, but I'd like this to be documented somewhere.

Is the regex syntax that ledger uses documented anywhere? Can we link to it from the manual?

[2019-04-15 14:03] sdubinsky commented on #1671
I have an MWE:

[code]

[code]

[code]
Interestingly, this has no output:
[code]
[code]

I don't understand why this isn't allowed, and I don't understand why it's reporting it as an issue on the equity account.

[2019-04-16 07:22] tbm opened #1786 "Parsing of metadata with multiple semicolons"
This relates in some ways to issue #1702 which @mbudde fixed recently.

There's still (potentially) a problem with metadata which uses several semicolons:

[code]

In both cases, the second semicolon is parsed as part of the tag name:

[code]

If you use a space between the second semicolon and the tag name, it works as expected.

The manual is silent as to whether you need a space after the semic

[2019-04-16 07:57] alensiljak opened #1787 "Ledger Python bindings on Windows"
Are Ledger Python bindings available in Windows build? If not, what is needed to make that happen? Is it even possible?

Is it possible to reach Python bindings if Ledger is run in a Docker container? It so, it might be useful to separate this part into a new request.

As most of my development time is spent on Windows platform, I'd appreciate if the potential of using Ledger through Python could

[2019-04-19 10:43] MisterY opened #1788 "Alpine Distribution / Docker Image"
Hi!

Reducing the [Docker image](https://github.com/dcycle/docker-ledger/issues/4) size would be a fantastic way to run the same version of Ledger on any platform that supports Docker (i.e. Linux and Windows).

I see that @rgdoliveira has created some [Alpine packages](https://pkgs.alpinelinux.org/packages?name=ledger&branch=edge), which is great. Are or will these be considered official packages,

[2019-04-19 10:49] MisterY commented on #1788
The error comes from `apk add ledger`. I guess the package is not found by `apk`?

[2019-04-19 11:14] MisterY commented on #1788
Good. That's handled with the help of [Alpine Linux docs](https://wiki.alpinelinux.org/wiki/Alpine_Linux_package_management#Packages_and_Repositories).

The dependencies cannot be installed:
![image](https://user-images.githubusercontent.com/462445/56421901-0be20b00-62a5-11e9-971a-e630cd818f12.png)

Obviously I'm not well versed in the details so any hints are welcome!

[2019-04-19 11:21] MisterY commented on #1788
That part was not too difficult. The edge repository was missing.
Below is the image history:

![image](https://user-images.githubusercontent.com/462445/56422055-e30e4580-62a5-11e9-8609-a9904cbf392e.png)

The end result is a 49.5MB image, compared to the current image listed in the Downloads, which is over 500MB because it downloads all the development libraries and tools and keeps them there.

[2019-04-19 11:29] MisterY commented on #1788
Adding my current script: https://gitlab.com/alensiljak/ledger-docker-alpine/

[2019-04-19 12:57] MisterY commented on #1788
It has been published at [ledger-docker-alpine](https://hub.docker.com/r/cick0/ledger-docker-alpine)

[2019-04-20 09:14] Alexander-Miller commented on #1669
Did some recoloring, [I think it looks ok now.](https://imgur.com/a/47WusLI)

[2019-04-20 09:14] #1669 closed

[2019-04-21 06:38] tbm commented on #1786
@jwiegley @mbudde any opinion on how this should be treated?

[2019-04-21 10:18] esovetkin opened #1789 "unbalanced transaction when using `format`"
Since version 3.1.2 I noticed the following problem, when using 'format' option in the commodity.

Steps to reproduce:
1.
[code]
2.
[code]
3.
[code]

It was my understanding that 'format' option affects only the output, hence I submit the issue.

[2019-04-21 11:10] tbm commented on #1789
The error being:

[code]

[2019-04-21 14:38] MisterY commented on #1682
Considering it does not show the errors currently, what would be the workaround?
Is running any other report parsing the file in the same way? I.e. asking for a balance, today's register, equity, etc. would suffice to validate the file?

[2019-04-22 15:36] kunedo opened #1791 "I wrote an appveyor build script base on maxwell-k's build guide"
I wrote an appveyor build script base on [maxwell-k's build guide](https://github.com/maxwell-k/ledger-windows-build), my repo [kunedo/ledger-windows-build](https://github.com/kunedo/ledger-windows-build).

But the binarie is not full tested, 'cause I didn't know how to set test with appveyor.

[2019-04-22 15:39] tbm commented on #1791
I read that [Travis has Windows support](https://blog.travis-ci.com/2018-10-11-windows-early-release) now. I wonder if this might be a better approach.

[2019-04-24 11:28] tbm opened #1792 "example: tax years and --pivot"
We should probably document some commonly questions.  One is how to handle refunds. Personally I use metadata and --pivot.

Ledger:

[code]

Output:

[code]

[2019-04-25 08:40] MisterY commented on #1473
This happens everywhere the expression `commodity ==` is used. I was just about to file a bug for the [Asset Allocation](https://www.ledger-cli.org/3.0/doc/ledger3.html#Asset-Allocation) but then tried the above accidentally and it was ok. I'm still concerned that, somewhere down the line, if a user forgets to wrap the symbol in quotes, the numbers will be silently incorrect.

Here is my sample sc

[2019-05-10 16:45] #1788 closed

[2019-05-10 17:36] MisterY commented on #529
It is nice to see remnants of my previous attempt at using ledger, which I have almost forgotten about.

A year later, renewed effort, and a few other libraries that got written in the meantime, resulted in converter scripts: https://gitlab.com/alensiljak/pta-converters

[2019-05-10 17:37] #529 closed

[2019-05-10 17:38] MisterY commented on #529
I have to add that I've effectively used these to migrate my data to a ledger-format book.

[2019-05-17 22:06] carterhay commented on #1787
Consider looking into [bean count](https://bitbucket.org/blais/beancount/src/default/), which is a python port of Ledger. Ledger ports for other languages can be found [here](https://github.com/ledger/ledger/wiki/Ports).

[2019-05-19 11:01] fturco opened #1793 "Unexpected balance report when tracking food calories"
I'm trying to track food calories with ledger 3.1.1-20160111 on a Gentoo Linux system.

This is `food.dat`:

[code]

This is `food.db`:

[code]

Basically that means that 100 grams of apples contain 48 kilocalories of energy.

The following command shows a total of 14000 calories instead of 140. It's wrong by a factor of 100:

[code]

Why?

[2019-05-19 15:09] simonmichael commented on #1793
https://www.ledger-cli.org/3.0/doc/ledger3.html#Commodity-equivalences doesn't really say that the number after C is interpreted that way, and it looks like it isn't. Actually, playing with your food.db I see a lot of behaviour I don't understand. It probably needs more tests and doc examples.

Using prices will probably work better for this.

[2019-05-19 15:22] simonmichael opened #1794 "price syntax"
I was trying to learn Ledger's pricing/lot/gains behaviour, and got results that I don't understand. Here's the journal I used:
[code]

Observations:

1. bal --flat --no-total --lots shows {LOTPRICE} for A-I, and [LOTDATE] for A, B, F, G.
Ie @/@@ shows a lot date, {}/{{}} doesn't.

2. --revalued does nothing. --revalued-only with -V suppresses all postings.

3. reg -E --gain shows a -2 ETF, EUR 20

[2019-05-19 15:35] simonmichael commented on #1794
Edit: examples added.

[2019-05-19 15:44] fturco commented on #1793
Thank you for the suggestion.

I replaced `food.db` with the following content:

[code]

Now the `balance` command works as expected.

But I feel this is only a temporary workaround, since it doesn't make sense to choose a particular time and date for food energy contents. Sugar has always contained 400 kcal of energy, even before the year 1970 (UNIX epoch)...

[2019-05-19 17:06] simonmichael commented on #1793
You can declare sugar's calorie content from 1400, if that's better. :) (I tried 0000, but Ledger won't allow years before 1400). And the time can be omitted.

[2019-05-26 02:06] JP-Ellis opened #1795 "Currencies with Many Decimal Places"
Although most currencies have 2 decimal places and perhaps up to 4 when trading, a large number of cryptocurrencies have a *very* large number of decimal places.  Bitcoin for example has 8, and Ethereum (and a large number of coins based on Ethereum) have 18 decimal places.  This is handled fine internal by Ledger; however, there are certain formatting issues.

Here is an example ledger:

[code]

[2019-05-31 17:52] fancsali commented on #1772
`--raw` seems to do the trick...

[2019-05-31 17:52] #1772 closed

[2019-06-07 21:43] asheidan commented on #1795
Would using Commodity equivalences (https://www.ledger-cli.org/3.0/doc/ledger3.html#Commodity-equivalences) be a feasible solution for this?

[2019-06-08 03:38] JP-Ellis commented on #1795
No, it wouldn't in general.

In the above example I don't use all decimal places and thus I could just not use the full precision (which would be equivalent to ignore the cents in all USD transactions).

But if for example I changed the ETH balance changed from `ETH 0.556800000000000000` to `ETH 0.556800000000000001`, then defining a new subdivision would not change the fact that I need such a lar

[2019-06-15 12:41] he-sk commented on #1774
@kroitor: Here's what I did to compile based on @tko's suggestion:

[code]

Below is a patch of my changes

[code]

[2019-06-15 12:45] kroitor commented on #1774
@he-sk thank you for the followup! To be honest, I've managed to resolve this by running `ledger` in a virtualbox linux – the build goes fine there. However, I will try to your solution to see if it works for me. Thx a lot again!

[2019-06-16 16:50] JulianKniephoff opened #1796 "Access posting flags in Python"
Given the following Python code:

[code]

gives me the following error:

[code]

Changing that to

[code]

I instead get

[code]

Am I doing something wrong or is this a bug?
[code]

[2019-06-17 16:59] Ekleog opened #1797 "ledger-mode: Tab-completion of account name only works when the account has an explicit amount"
Example:
[code]

Thank you anyway! :)

[2019-06-19 03:25] tastesliketriangle opened #1798 "virtual transaction reporting incorrectly"
Ledger 3.1.2-20190205
Windows 7 x64

I have a sample ledger file:
[code]

the virual posting does not balance correctly. using the proper value(-$1400) produces an unbalanced transaction:
[code]

[2019-06-20 23:38] dncohen opened #1799 "lots not working the way I expected (hoped)"
I'm a newbie to ledger, but have been reading.  I'm unable to get lots to work correctly.  It seems like when I specify a lot, ledger doesn't try to balance that portion of a transaction.  I wonder if that's a bug (or user error).

I'm on fedora and `ledger -version` reports `Ledger 3.1.1-20160111`.

In my test data (below), I'm simulating some crypto trades.  A relatively simple transaction selli

[2019-06-21 13:41] dncohen commented on #1799
An update, and a more concise description of the problem...

Now, I'm trying with a build from source, `ledger --version` shows:
`Ledger 3.1.3-20190331`

Here's two transactions:

[code]

`bal --lots` shows what I expect:

[code]

But if I change the second transaction, asking ledger to calculate the capital gain, I get different numbers:

[code]

[code]

It seems to me that the presence of this l

[2019-06-22 09:20] tbm commented on #1799
Your display precision doesn't include digits.

Add

[code]

to the top of the file and you'll see

[code]

1 USD is just rounding because your display precision doesn't have digits.

You can influence the display precision by changing

[code]

to
[code]

Then you don't need the `D`.

[2019-06-22 11:39] grault commented on #1795
It's common practice in trading to move away from large amounts of decimals via quoting and trading in minor currencies. As a *workaround*, you could ledger µBTC with 2 decimals and aETH (SI atto, for -18th exponent) without decimals. Then you'll have the separators, on the other side of the decimal point though. To facilitate data entry, you can use commodity equivalences, mentioned earlier, but

[2019-06-23 15:24] tbm opened #1800 "Segfault in ledger::value_scope_t::get_value"
I get the following segfault with ledger 3.1.2 from Debian:

[code]

When I build from source with latest Git I get:

[code]

although I believe I also got a segfault with that version when I initially tried.

Unfortunately I have no small test case.  But as a reminder, I see then when running it on SPI's book using:

[code]

Moving the ` -f ../reconciliations/2018/01.ledger ` before the `-f 2018/

[2019-06-23 18:11] dncohen commented on #1799
Wow, that's an important piece of information! Thanks.

[2019-06-23 18:11] #1799 closed

[2019-06-24 13:02] TwoD commented on #1020
Is `--depth` working as it should when used on `register`? Seems all transactions are excluded the same way there too.
I would have expected to be able to have a large hierarchy of accounts and then be able to get a broader view of where they're happening using `--depth`. With the test case above `ledger --depth 2 reg` completely drops `Assets:BBB:CCC` from the transaction list instead of showing

[2019-06-25 07:16] 501st-alpha1 commented on #525
Using the example in the OP, I can verify this is fixed in `Ledger 3.1.3-20190331` (which is the current [Docker image](https://github.com/dcycle/docker-ledger)).

[2019-06-25 07:19] 501st-alpha1 commented on #543
Tried the example provided in `Ledger 3.1.3-20190331` (which is the current [Docker image](https://github.com/dcycle/docker-ledger)), and it still failed, so it looks like this wasn't fixed by #552.

[2019-06-25 07:30] 501st-alpha1 commented on #1225
I can't see the original attachments for this issue, but is this the same as #203 / #983 / #1127?  If so, those were fixed in #1649, so this issue can be closed.

[2019-06-27 10:39] esovetkin opened #1801 "ledger REPL ignores non-ASCII characters"
version: 3.1.3-20190331

problem: ledger's REPL interface ignores non-ASCII characters

steps to replicate: start ledger in REPL mode, try to type öäü

[2019-07-03 07:28] MisterY opened #1802 "Ability to sort lots (by date) with --lots"
Perhaps I'm missing something but listing lots with `ledger balance hy --lots` results in the situation such as below:

![image](https://user-images.githubusercontent.com/462445/60571795-884c9c00-9d74-11e9-867d-231380a16c1e.png)

Having lots of small periodic purchases and than a few big sales (for transferring to another account, for example), results in a tedious process of identifying the order

[2019-07-03 19:46] jwiegley commented on #1802
Having a lot sorting option would be great.

[2019-07-05 19:34] jwiegley opened #1803 "--invert does not work correctly with --subtotal"
The following `reg --monthly --invert` report:

[code]

Shows as follows with `-n`:

[code]

Subtotaling is not using the inverted values for the amount field, although the total (which feeds from the underlying postings, not the subtotal) still works.

[2019-07-05 19:36] jwiegley commented on #1803
There's an interesting note about this here https://github.com/ledger/ledger/blob/master/src/filters.cc#L897:

[code]

[2019-07-05 19:40] jwiegley commented on #1803
If I change that above to `#if 1`, it inverts the subtotals, but not amounts which aren't collected under a `<Total>`.

[2019-07-05 20:31] #1803 closed

[2019-07-11 02:46] jwiegley opened #1806 "Lack of granularity in market pricing"
With the following data, it is currently not possible (using `-V` or `-B` or `--price` or `-H`) to see that the balance on increase of value is $93.43.

[code]

[2019-07-12 18:13] nconantj opened #1807 "Ledger Using Wrong Price when a Transaction Occurs on the End Date and a Price Database Used"
When you specify the --market flag with the -e <date> flag, and a transaction with a given commodity occurs on the date specified, it uses that date's commodity price instead of the price from the day before.

Example: You have a combined total of Z shares of commodity X with an average price A as of June 30, 2019, load a price database with a price of B as of the same date, and buy another share

[2019-07-12 21:35] kmcnayr commented on #554
Is there a plan to fix this? I have the same issue, I cannot use assertions because they are incorrectly being triggered when transactions in the same account are split across multiple files.

[2019-07-13 21:12] jwiegley commented on #554
What if you use `-f 2.ledger -f 1.ledger`? Maybe we just have the ordering reversed.

[2019-07-15 06:16] andres-erbsen opened #1809 "transaction ignored silently due to subtraction in amount expression"
[code]

[2019-07-16 00:49] #1646 closed

[2019-07-16 22:26] agarrharr commented on #525
Yes, this works now in `Ledger 3.1.3-20190331`. Thanks!

[2019-07-16 22:26] #525 closed

[2019-07-18 11:25] therobotreader opened #1811 "Automated Transactions Not Respecting Effective Dates"
Hello,
I'm following the ledger example for effective dates to split a transaction out over several months.  I'm also using automated virtual transactions to keep my budget up to date.  However, the automated transactions are applied to the original transaction, not the effective one.

This is on Ledger 3.1.3-20190331, which I built from the source at the v3.1.3 tag.

Example ledger file:
[code]
C

[2019-07-19 20:24] kmcnayr commented on #554
I tested with 2 files as outlined in the original issue using both orderings (1/2 and 2/1) and get the same error noted in the issue.

[2019-07-19 21:00] kmcnayr commented on #554
Here is my scenario:
folders/files:
.
├── bank
│   └── checking
│       └── checking.ledger
├── include.ledger
└── salary
    └── salary.ledger

include.ledger:
include bank/checking/checking.ledger
include salary/salary.ledger

salary.ledger:
2019/01/01
  A  $1
  B

checking.ledger:
2019/01/02
  A  -$1 = $0
  B

I get this error:
Error: Balance assertion off by $1 (expected to see $-1)

It seems

[2019-07-19 21:51] jwiegley commented on #554
It's intended to be ordering dependent, so if switching the order doesn't change the problem, it means we're using an ordered data structure that isn't preserving the insertion order when using `-f`.

[2019-07-19 21:52] jwiegley commented on #554
Hmm.. it's a `std::list<path>`, so that isn't it...

[2019-07-22 18:13] avinash311 opened #1812 "Only one posting with null amount allowed per transaction"
;; While parsing file "test.txt", line 11:
;; Error: Only one posting with null amount allowed per transaction

Using:
ledger --version
Ledger 3.1.2-20190205, the command-line accounting tool

bal or reg reports fail.

Not sure if this is the same as the issue reported in 2010:
Resetting a balance causes an error if it would do nothing. / Allow multiple null amounts if the rest have balance assign

[2019-07-25 11:40] kmcnayr commented on #554
In my scenario above with the two files: salary and checking, if I switch the order in the include ledger I do not receive an error. So it looks like it's processing and asserting the files in order.

In my original order, if the checking ledger is included first and contains the assertion, the error is received. If I move the assertion to the salary ledger, which is processed second, the error is

[2019-07-25 21:12] jwiegley commented on #554
If you say `-f foo -f bar`, then all the transactions of foo, followed by all the transactions of bar, should be linearly ordered, with balance assertions respecting this order.

I'd love to have a "--date-ordered" flag to change this, but it turns out to not be so simple a change, given the way things work today.

[2019-07-26 16:35] kmcnayr commented on #554
I appreciate the feedback. I know some of my comments seem verbose; I tried to as much detail to this issue as I could so that others might find it helpful. Is this behavior documented somewhere, should it be added to the assertion section in the main docs? I banged my head against the wall for quite some time trying to figure out why my assertions were failing. Might save someone in the future so

[2019-07-26 17:08] enderw88 commented on #554
We totally welcome improvements to the documents. Would you be willing to
help?

On Fri, Jul 26, 2019 at 09:35 kmcnayr <notifications@github.com> wrote:

--
Craig, Corona De Tucson, AZ
[image: missile_flyout]
enderw88.wordpress.com

[2019-07-26 18:32] jwiegley commented on #554
My typical way of writing "closing balance assertions" has been:

[code]

[2019-07-28 13:01] devmsv commented on #1450
I'm also suffering this bug.

Both workarounds work.

[2019-07-29 02:56] kmcnayr commented on #554
I'm totally willing to help! Ledger is a fantastic tool and I'd be happy to contribute. If someone can offer some guidance on how to go about contributing to the docs, the least I can do is add some commentary on these scenarios. Do I just checkout from github and make commits? I'm not well versed in code management but I'll try to help!

[2019-07-29 02:58] kmcnayr commented on #554
Thanks for this. I'm leaning towards having a balance assertions ledger that gets processed after the other ledgers instead of trying to figure out the order in which everything is being processed. I went a little overboard with subfolders and multiple files so It would be a mess to figure out the order and redo. Will do some experimenting.

[2019-07-29 04:23] jwiegley commented on #554
@kmcnayr There is also a way to "echo" a transaction in two different files, with part of the former being considered "pending" only to be resolved in the latter. I'm not sure if it has been documented yet, but this is what I do in order to have credit cards and checking accounts tracked in separate files, each with its own balance assertions.

[2019-07-31 21:25] daraul opened #1813 "Can we have per-posting codes?"
I hope I'm not stepping on any toes here, but I ran into this situation the other day. When a subscription was paid for online (in this case Netflix).

[code]

I wanted to keep both 'codes' for both sides of the transaction: the netflix receipt ID, and my bank's transaction ID, but that didn't work, and ended up giving me some odd errors. I ended up putting the codes in comments for each posting l

[2019-07-31 21:47] tbm commented on #1813
You can have meta-data on postings.  That's how people would usually solve this.

[2019-07-31 22:47] tbm commented on #1813
Example:

[code]

[code]

[2019-07-31 23:02] jwiegley commented on #1813
Meta-data is the way.

[2019-07-31 23:02] #1813 closed

[2019-08-01 01:25] corpulentcoffee commented on #1812
FWIW, if you want a quick workaround for your specific use case, you might be able to use a value expression rather than a balance assignment, e.g. `($800 - account.a)` rather than `= $800`, to accomplish the same effect.

[2019-08-09 11:18] AvtechScientific opened #1815 "Gedit plugin for ledger"
There are emacs ledger mode and vim-ledger. Could you, please, create a similar ledger plugin for  the lightweight and elegant [Gedit](https://wiki.gnome.org/Apps/Gedit) (the default text editor of Gnome, found on many major Linux distributions, like Debian, Ubuntu, Fedora, Centos, etc..)?

Thank you for the great software!

[2019-08-09 14:39] enderw88 commented on #1815
We are always looking for help. I wrote a lot of the emacs mode. Can you
help with gedit?

On Fri, Aug 9, 2019 at 04:18 Avtech Scientific <notifications@github.com>
wrote:

--
Craig, Corona De Tucson, AZ
[image: missile_flyout]
enderw88.wordpress.com

[2019-08-11 12:56] AvtechScientific commented on #1815
I'm involved in other open-source projects... so there is no time left :( I
also never learned the internals of Gedit...

On Fri, Aug 9, 2019 at 5:39 PM Craig Earls <notifications@github.com> wrote:

[2019-08-17 01:48] Arfrever opened #1816 "Build failure with utfcpp >=3.0"
Some deprecated functions have been deleted in utfcpp 3.0:
https://github.com/nemtrif/utfcpp/commit/00d73e4a02f98e8b993c222d6b741daf723fd23b

Ledger fails to build with utfcpp >=3.0:
[code]

[2019-08-17 16:06] kmcnayr commented on #554
Thanks for this tip, sounds like a possible solution. Or I will have to rework my file structure for better linear processing of transactions.

I did some experimenting and unfortunately a separate assertion file will not work for me. For others who may find this helpful, below is what's happening to me related to the original question of file processing order.

Goal: assert a balance for an accou

[2019-08-17 19:56] Arfrever commented on #1816
Fix:
[code]

Beside this, you may update bundled version of utfcpp in lib/utfcpp directory.

[2019-08-19 04:54] podiki commented on #1811
I'm having the same problem, seems like the automated transactions are not picking up the effective date. This would be helpful for budgeting things like a yearly subscription, where you can see the cost every month, even if the real transaction was a lump sum (as an example in the ledger manual, but without the automated transactions here that are not correct).

[2019-08-19 16:35] #1816 closed

[2019-08-20 18:54] rcaputo commented on #1815
I'm not affiliated with this project, so my opinion is that of just another random person.  I think it's less sustainable to include an open-ended set of editor scripts in the main project than to maintain them as separate projects.

Maybe [the gedit-ledger project](https://github.com/manicolosi/gedit-ledger) would be a place to ask for specific features? Or if time ever permits, a place to contri

[2019-08-20 21:02] #1815 closed

[2019-08-30 18:24] billop opened #1820 "Please follow the XDG Base Dir Spec"
Although ledger allows specifying any file for configuration, it would be nice to have sane defaults that follow the [spec](https://wiki.archlinux.org/index.php/XDG_Base_Directory) and falls back to the legacy default locations.

[2019-09-02 07:09] petersonev opened #1821 "Unrealized gains/losses incorrect values"
Tracking of unrealized gains/losses does not appear to work when there are multiple prices set on the same day:
[code]
With `ledger bal --unrealized --market` returns:
[code]

The correct value is reported (of no unrealized losses) when the prices are set on different dates:
[code]
The above will not work if the 2003-05-02 date on the second transaction is changed to 2003-05-01 to be the same as t

[2019-09-03 14:31] jwiegley commented on #1821
I agree, and I think I've noticed this before as well.

[2019-09-04 00:25] twrightsman opened #1822 "Undefined reference to `clock_gettime` and `boost::unit_test::unit_test_main(bool (*)(), int, char**)`"
I'm attempting to package ledger (https://github.com/conda-forge/staged-recipes/pull/9410) with [conda](https://conda.io) into [conda-forge](https://conda-forge.org) to make it easier for users to install ledger without needing to build from source.

Unfortunately I'm running into some build issues with the current head of master in the [CI pipeline](https://dev.azure.com/conda-forge/feedstock-bui

[2019-09-04 01:20] twrightsman commented on #1822
Building locally with the dependencies gives similar errors:
[code]

[2019-09-04 14:15] twrightsman commented on #1822
Getting same error using `acprep` script as well:
[code]

[2019-09-04 16:13] twrightsman commented on #1822
From [this](https://stackoverflow.com/questions/13653361/another-undefined-reference-error-when-linking-boost-libraries) StackOverflow question, it seems adding `-lrt` when building the `ledger` binary is required and I can verify this at least solves the undefined reference to `clock_gettime` when I manually compile.

[2019-09-04 19:42] twrightsman commented on #1822
I think I've solved this problem; I will create a pull request soon.

[2019-09-06 02:48] twrightsman opened #1824 "macOS builds fail due to outdated homebrew"
See the build log [here](https://travis-ci.org/ledger/ledger/jobs/581488310#L96).

This is discussed a bit [here](https://travis-ci.community/t/xcode-8-3-homebrew-outdated-error/3798/9), but it seems the Travis CI homebrew addon is currently still broken.

homebrew may need to be installed as part of the build process for now until the addon is fixed.

[2019-09-06 21:10] twrightsman commented on #1824
Telling the homebrew addon to update itself before every build adds a lot of extra build time but installs Boost 1.71, which doesn't work (see https://github.com/ledger/ledger/pull/1823) with the current build system.

[2019-09-08 15:05] bremner commented on #510
FYI I've been asked to drop the python2 module from Debian as part of the removal of python2 from Debian testing/unstable. I can probably wait a bit, but not indefinitely.

[2019-09-09 00:57] sobjornstad opened #1826 "Null posting illogically balances with real transaction"
I've been messing around with savings bonds lately and am trying to track them for now by creating a "currency" for each maturity date. So I buy some I-Bonds:

[code]

Easy enough so far, right? Now I want to move these bonds to a different virtual account (I do this to aggregate savings for one thing that might be stored in multiple forms/accounts). I figure Ledger should be able to infer the

[c

[2019-09-12 19:10] twrightsman opened #1827 "Bracketed virtual postings balance against whole transaction"
I'm not sure if this is a bug but it seems that bracketed virtual postings are balanced in the context of the whole transaction instead of only against other virtual postings. See this example, which should not balance (if I understand virtual postings correctly):

[code]

[code]

From the manual (Section 5.8):

virtual postings** by using brackets (which look “harder”) rather than parentheses

[2019-09-23 15:43] ftwang commented on #1793
Interesting use case for ledger!  It seems like the cost equivalent command expects a single unit on the left side.  I only validated this by trial and error.  It seems like in [amount.cc line 1243](https://github.com/ledger/ledger/blob/720751f8d4a3fedf625a029410d791d9d4b255eb/src/amount.cc#L1243) the parser is set not to reduce the parsed amount hence `C 100 apple = 48 kcal` is not reduced to `1

[2019-09-23 16:01] fturco commented on #1793
@ftwang: Your solution works. Thanks!

[2019-09-25 07:46] DamienCassou opened #1828 "Commidity equivalence bug"
[code]

I'm expecting an error because 2 slices equals 1 eur, not 3. But ledger seems happy about the transaction:

[code]

[2019-10-02 00:05] tysonliddell commented on #1671
Looking at the file history, the error message

was introduced in response to (the now closed) issue #686 with the fix [5addacf](https://github.com/ledger/ledger/commit/5addacfbf21250204b8db25f0a4890c1299cb891). A further fix [d13b718](https://github.com/ledger/ledger/commit/d13b7180bfbe9ce84db473e2c0044b43c973aa52) was added against the same issue a year later. Is it possible that (part of)  the

[2019-10-02 00:25] tysonliddell commented on #1827
Not sure if this is relevant, but the `--real` option gives the following (unbalanced) output:

[code]

[2019-10-29 22:19] ennob opened #1830 "import does not work with multiple wildcards"
The 'import' keyword can be used to import other ledger files into the one that is currently being processed, however it does not work with multiple wildcards. For example, the following

`import subdir/*/*.ledger`

should result in all the following files being imported:
[code]
but instead I get an error.

[2019-10-29 22:22] tbm commented on #1830
This is a known issue, see issue #1214

[2019-10-29 22:22] #1830 closed

[2019-10-29 22:34] ennob opened #1831 "The result of "balance assignments" in a transaction depends on the order of imported files"
Using "balance assignments" should be the same as calculating the correct amount yourself and writing the amount explicitly. For example, the following:
[code]
should always result in an amount being transferred from Some:Other:Account to Some:Account such that the renaming amount is $20.

The problem happens when you use 'import', and either Some:Account or Some:Other:Account is in a file that ha

[2019-10-29 22:46] tbm commented on #1831
Balance assignments and checks are done on the file order because it's done at the time of parsing and not later.  This behaviour surprised some users but it's the way it works.  I was going to say that this is documented in the manual but I can't find it, so maybe this needs to be documented.

I think your issue is mostly issue #1659 i.e. that the order of `!include` can change.

I don't think it

[2019-10-29 22:54] ennob commented on #1831
Yes, I know that it is done at the time of parsing. My argument is that that is not the right way of doing it.  It is not a matter of documenting stupid behavior, it is a matter of changing it to work correctly.

If this tool is to be used in anything other than hobby use cases, it cannot be the case that renaming a file could result in a completely different amount being transferred by an unchang

[2019-10-31 04:55] jwiegley commented on #1831
I welcome anyone to revise this part of the code. Balance assignments came to Ledger *very* late in the design, so none of the core logic was built with them in mind. It's file order because that's what makes the most sense in the code.

[2019-11-01 12:33] ennob commented on #1831
I might look into a fix for this. I haven't gone through the code yet so I'm not making any promises :)

If it turns out to require major refactoring, how would people feel about a temporary fix in the form of a warning message? The warning could for example be emitted if balance assignments are used on accounts that are unknown at the time of assignment.

[2019-11-01 22:58] jwiegley commented on #1831
At the very least that should be an error if `--strict` is being used.

[2019-11-09 19:37] chrpinedo opened #1832 "Automated transactions not shown with "--related""
It seems that automated transactions are not shown with "--related" option.
Example file:
[code]
Automatic transaction works right:
[code]
However, if i try to find the related transactions, the automated transaction to "Expenses:Taxes" is lost:
[code]

[2019-11-09 19:43] chrpinedo commented on #1832
I don't know if this bug is related to https://github.com/ledger/ledger/issues/1186 (ledger print doesn't show automated transactions)

[2019-11-10 21:31] kutsan commented on #1688
[I'm literally like this right now.](https://xkcd.com/979/)

[2019-11-11 00:31] jwiegley commented on #1688
Lol. Try building with debugging enabled and using `--debug expr.calc`. That should show you the balance it's trying to convert, and from that you can figure out what was added together that shouldn't have been.

That error should include the figures involved.

[2019-11-14 07:49] akater opened #1833 "uClibc build fails due to ambiguous type; possible fix presented"
On my uClibc(-ng)-based system, `uintmax_t` is said to be ambiguous, and ledger won't compile due to this. With the following patch applied, ledger compiles and works fine for me. However, I have next to 0 experience with C++ programming, and I came up with this “solution” by grepping around in my `/usr/include` for 1 minute or so and making wild guesses, so I don't even feel comfortable forking a

[2019-11-16 08:32] tbm commented on #545
96eb5fe19fcbe46ca should be reverted when this is fixed.

[2019-11-18 13:22] hieutvan opened #1835 "Description fields should be for descriptions only, not also for payees"
Ledger treats descriptions as payees, which is, to be honest, really annoying and dull. Despite that, payee metadata tag also exists, which I found really confusing for newbies and destroy the consistency of the journal.

[2019-11-18 14:22] enderw88 commented on #1835
So, what is your suggestion here?  You maintain your ledger for you as you
want it. I find myself mixing descriptions and payees as I find convenient.

On Mon, Nov 18, 2019 at 06:22 Hieu Van <notifications@github.com> wrote:

--
Craig, Corona De Tucson, AZ
[image: missile_flyout]
enderw88.wordpress.com

[2019-11-18 14:29] hieutvan commented on #1835
My suggestion is in the title. Didn't you read?

This issue is a suggestion for upstream. Please, read.

Not for myself and probably others too. Just look at the documentation and the program itself: the documentation says payee field can both be used for specifying a description or payee, meanwhile `payees` command print all those fields out including descriptions. Mixed use of that field makes p

[2019-11-18 16:30] elamperti commented on #1156
Duplicate of #545

[2019-11-18 18:45] tbm commented on #1156
Closing as a duplicate of #545

(Technically, this bug is older but the other one has more details)

[2019-11-18 18:45] #1156 closed

[2019-11-20 21:42] jwiegley commented on #1835
This ship sailed long, long ago. Divorcing "description" from "payee" is too big a change given how much existing data is out there. I would suggest you use meta-data to make the distinction for yourself, if you need it.

[2019-11-20 21:42] #1835 closed

[2019-11-25 12:02] hieutvan commented on #1835
@jwiegley, thanks for clarifying!

[2019-11-25 12:24] hieutvan commented on #1835
@jwiegley Seriously, why didn't you separate descriptions and payees in the first place, for easier management?

[2019-11-26 08:23] MisterY commented on #1812
Shouldn't your balance statement "= $800" be on the line where the last change was made on that account (2019.07.13) and not standing on its own?

[2019-11-26 15:57] corpulentcoffee commented on #1812
Ledger has [balance assertions](https://www.ledger-cli.org/3.0/doc/ledger3.html#Balance-assertions) but it *also* allows you to [reset a balance](https://www.ledger-cli.org/3.0/doc/ledger3.html#Resetting-a-balance) and send whatever the counterbalance amount is to some other account.

The docs use the example of an equity account being the balancing account, but there are other reasons one might w

[2019-11-27 19:47] chrpinedo opened #1837 ""--effective" option doesn't work with lots"
It seems that "--effective" option doesn't work with lots.

Example file:
[code]

"--efective" option doesn't seem to work:
[code]

Expected behaviour:
[code]

[2019-11-28 19:54] chrpinedo commented on #1032
I confirm this bug with Ledger 3.1.3-20190331

[2019-11-30 14:44] dimgeo opened #1838 "equity output"
ledger refuses to parse its own equity report, probably due to length.

Commands:

ledger -f main.dat equity > equity.dat    /* create equity report

ledger -f equity.dat bal      /* bal or reg doesn't matter, same error:

While parsing file "equity.dat", line 158:
Error: Assertion failed in "/build/ledger-2L3TES/ledger-3.1.1+dfsg1/src/error.cc", line 91:ledger::string ledger::source_context(const

[2019-11-30 20:33] tbm commented on #1838
related to #1215

[2019-11-30 23:35] dimgeo commented on #1838
First I thought it was a length issue and after splitting files and adding balance accounts to process them (which worked) I then tried with a balance account at the bottom of the original file which ledger wouldn't parse. Now ledger did parse the file and added a small amount (in my case $ 0.04) to that account. I guess it's a rounding error resulting from the large number of entries of the origi

[2019-12-01 22:32] casr commented on #1092
I just got tripped up by this as well. I put together this example to illustrate my use case.

`2018_19_general.ledger`:
[code]

` 2019_20_general.ledger`:
[code]

I like to maintain my accounts split by year. I then post closing and opening balances so the files can be used on their own or combined together. I set aside a part of each year's accounts to collect invoices which means postings are o

[2019-12-05 14:06] #510 closed

[2019-12-05 14:06] #689 closed

[2019-12-05 14:06] #1121 closed

[2019-12-05 14:06] #1203 closed

[2019-12-07 09:08] tbm commented on #1833
@jwiegley @xnox @mbudde any comments?

[2019-12-07 09:11] tbm commented on #1822
Your pull request was closed because it's working now.

Can you confirm and close this ticket?

[2019-12-07 09:14] tbm commented on #1827
Sounds like a bug to me and not a documentation issue.

@jwiegley maybe you can comment on how this was supposed to work.

[2019-12-07 09:17] tbm commented on #1824
Is this still an issue @twrightsman ?

[2019-12-07 09:17] tbm opened #1844 "docs/NEWS.md needs update for 3.2"
Python3 support, `--averaged-lot-prices`, etc.

[2019-12-07 09:19] tbm commented on #1820
That would be nice.  Do you think you can work on a patch?

[2019-12-07 09:21] tbm commented on #1798
When I change `$-14000` to `$-1400` it works correctly.

Do you still see this?

[2019-12-07 09:21] tbm commented on #1797
@enderw88 Craig can you look at this?

[2019-12-07 09:22] tbm commented on #1791
@kunedo can this be done with Travis now?

[2019-12-07 09:23] tbm commented on #1774
Is this still an issue?

[2019-12-07 09:24] tbm commented on #1759
It would be nice to fix this before a new release.

I thought there was some discussion about this issue but I don't see it.  @bremner do you know where the code is from? Can you submit a PR?

[2019-12-07 09:25] tbm commented on #1758
@jwiegley  did you hear back from him?

[2019-12-07 09:26] tbm commented on #1721
@afh @xnox @scfc any comments on this?

[2019-12-07 09:27] tbm commented on #1791
See #1709 about Travis.

Can someone contribute a Travis config?

[2019-12-07 09:27] tbm commented on #1709
Can someone contribute a Travis config?

[2019-12-07 09:29] tbm commented on #1690
@jwiegley can you comment

[2019-12-07 09:30] tbm commented on #1687
@helguson can you submit a patch for this?

[2019-12-07 09:31] kroitor commented on #1774
@tbm i haven't tested it recently, but if the native mac builds work fine – then this isn't an issue anymore )

[2019-12-07 09:33] tbm commented on #1668
It sounds like this was user error. Should this be closed?

[2019-12-09 23:33] tastesliketriangle commented on #1798
tested with 3.1.3-20190331 on Windows 7 64 bit.

[code]

still getting the issue, with the added complication that `$-1400` shows up as $-14 in the output.

`$-14000` allows the file to open without error, and appears normal once in.

[code]

[2019-12-10 03:52] posidonius opened #1845 "csv export does not work with --dc (debit/credit) format"
When using the csv command to export from ledger to csv format, if you add the --dc flag to display the register in debit/credit format, ledger exits with `Error: Cannot convert a sequence to an amount`.

Example command:

`ledger csv -f example.ledger reg VAT --dc`

Example output:

[2019-12-10 14:19] sdubinsky opened #1846 "[Feature Request] Group Accounts Within Transaction"
I'm using automated transactions to do envelope-style budgeting, and they all trigger when I get paid.  I keep them separate so I can change them easily, but it means when I run a register report my bank account appears many times.  I'd like a way to group all mentions of my bank account together, within the same transaction.

In the below example, I'd like `[Assets:Checking]` to only appear once,

[2019-12-11 19:39] jwiegley commented on #1774
I use Ledger on Mac native.

[2019-12-12 11:36] tbm opened #1847 "README needs update for Python3"

[2019-12-12 11:59] xnox commented on #1721
https://gitlab.kitware.com/cmake/community/wikis/doc/cmake/RPATH-handling

[2019-12-13 20:19] jwiegley commented on #1827
Yes, bracketing simply causes them to participate in the standard logic for balancing transactions. There is nothing special about a "group of virtual postings".

[2019-12-13 20:19] #1668 closed

[2019-12-13 20:20] jwiegley commented on #1758
I don't recall that I did.

[2019-12-13 20:20] jwiegley commented on #1709
Or what if we move to GitHub Actions?

[2019-12-13 20:23] jwiegley commented on #1690
That looks right to me!

[2019-12-13 20:24] jwiegley commented on #1833
That certainly looks like a reasonable change to me.

[2019-12-24 07:30] mbbogh commented on #1809
The **-** is interpreted as negative sign. Adding a space after it works fine.

`  housing  ((23- 4)*$85)`

Same is true for using an addition.

`  housing  ((23+-4)*$85)`

Looks like a parser error to me.

[2019-12-30 14:50] l29ah commented on #1671
The `--period` options for `balance` seem to be no-op after i remove the exception.

[2019-12-31 16:24] alberto56 opened #1849 "When upgrading from Alpine 3.10 to 3.11, getting so:libmpfr.so.4 (missing)"
To reproduce, install Docker and create a Dockerfile with:

    FROM alpine:3.10
    # Add the edge and testing repositories.
    RUN echo "http://nl.alpinelinux.org/alpine/edge/main" >> /etc/apk/repositories && \
         echo "http://nl.alpinelinux.org/alpine/edge/testing" >> /etc/apk/repositories && \
         apk update && apk upgrade
    # Install ledger and dependencies.
    RUN apk add ledg

[2020-01-07 07:36] Panke opened #1850 "Segfault when using ledger print: std::__cxx11::basic_string / boost::u32regex_search"
ledger print -f test.txt gives a segfault. test.txt:
[code]
Note that there is no segfault if:
  * the regex does not match the payee
  * Expenses:Unknown is not used in the automatic transaction
  * The account declaration for Expenses:Car is removed

Ledger 3.1.3-20190331, the command-line accounting tool

[2020-01-07 08:13] tbm commented on #1850
[code]

[2020-01-07 14:05] Panke commented on #1850
@tbm Thanks for adding the backtrace, should have done so myself

[2020-01-07 20:38] dmage commented on #1765
I found a similar problem:

[code]

[2020-01-07 20:50] simonmichael commented on #1765
What I think should happen above:
[code]

In hledger transaction balancedness is checked like this:

- sum the posting amounts at full precision
- render the sum at display precision
- does that appear to be zero (no non-zero digits displayed) ?

[2020-01-07 21:41] simonmichael commented on #1765
Actually, better if that error message would show the $-2.71 as it was written in the journal.

I think the basic problem is that balanced-checking and display are using different precision. This case could be handled better, eg scanning the journal to find the display precision before doing any balanced checking, or by doing what hledger does. I'm not sure if it's possible to handle every case pe

[2020-01-08 18:12] Panke commented on #1850
https://github.com/ledger/ledger/pull/1851

[2020-01-09 00:03] #1850 closed

[2020-01-09 06:29] sberrevoets opened #1852 "Assertion failure when using `ledger equity`"
I have a ledger file with a number of different commodities and when doing `ledger equity` (nothing else), I get

`Error: Assertion failed in "/tmp/ledger-20200108-72150-mz4rts/src/commodity.cc", line 551:int ledger::commodity_t::compare_by_commodity::operator()(const ledger::amount_t *, const ledger::amount_t *) const: false`

which refers to https://github.com/ledger/ledger/blob/master/src/commo

[2020-01-12 17:01] Fjan commented on #560
I ran into this as well. I would say that the behaviour of not showing empty parent accounts is design decision that's debatable, but not showing non-empty parent accounts if they've not been used is more problematic.

So you can get this in a balance:
[code]

But you do not get any mention of `Financial:Expenses` if it hasn't been used in the period.
 The --empty option would not be a good name f

[2020-01-12 22:34] bradyt opened #1853 "Replace '/' with '-', in default date separator"
I noticed the following:

Wouldn't '-' be a better default? That is, replace forward slash with dash?

You can see that just in the last two weeks, the hledger project is moving towards '-' as the default. For example, searching the repo for string "yyyy-mm-dd", for commits and issues. https://github.com/simonmichael/hledger/search?q=yyyy-mm-dd&type=Commits.

[2020-01-13 00:12] jwiegley commented on #1852
Is it possible to produce an anonymized file using `ledger print --anon` which manifests the behavior, and then include it here?

[2020-01-13 01:52] sberrevoets commented on #1852
I didn't know about `--anon`, but interestingly with that option and some modifications to formatting `ledger equity` worked as expected, so I investigated some more and narrowed it down to this transaction:

[code]

I'm not sure what ledger doesn't like about this format, but the intention here is "I paid for something that cost CAD 13.33 and posted on my US statement as $10.08. I will be reimbur

[2020-01-14 00:00] brucer42 opened #1854 ""apply account" with no account segfaults"
[code]

[2020-01-14 06:54] tbm commented on #1854
I get the following but I suspect it might crash on other platforms. Which platform are you on?

[code]

[2020-01-14 06:55] tbm commented on #1854
This is the same as #553

[2020-01-14 07:31] brucer42 commented on #1854
OS X. Pretty much latest beta. I made one try at a build from source but
failed. I need a Linux box. I’ll ssh to one and try the whole thing again.

On Mon, Jan 13, 2020 at 10:54 PM Martin Michlmayr <notifications@github.com>
wrote:

[2020-01-16 06:31] porridge commented on #847
A workaround might be to sort your transactions for example with [sorttrans-cli](https://github.com/Rudd-O/ledgerhelpers#what-can-you-do-with-these-programs).

[2020-01-17 11:05] daraul commented on #543
I'm getting this error as well. Wasn't sure if it was a bug, or if I'm expecting to assert my balance, while considering virtual postings (that seems wrong to me...)

[code]

[2020-01-20 06:34] pcooksey opened #1855 "Virtual account created by automatic transaction shouldn't be equal to 0 in assertion"
I'm trying to use automatic virtual transactions to capture values and then use an assert to test the values afterward. Maybe this isn't possible? Basically, I was trying to do an assertion that `paychecks * some % == retirement` however it seems that the virtual account is still zero when I test the assertion.

Simple test case:
[code]

[code]

I expected it to fail but it seems the virtual accou

[2020-01-20 13:31] tbm commented on #1855
Please upgrade to 3.1.3.  This works as you expect for me on 3.1.3

[2020-01-20 13:32] tbm commented on #1855
[code]

whereas this works:

[code]

[2020-01-20 21:37] pcooksey commented on #1855
Okay, I think I'll have to build it tonight then since I'm on Ubuntu 18.04 with the only package being 3.1.2. Alos, thanks for the quick response. We can probably close this ticket or wait until I have tested it.

[2020-01-21 04:04] pcooksey commented on #1855
`assert account("Salary").amount == 0`:
[code]

` assert (account("Salary").amount == 0)`:
[code]

I tested some things and I either have to add a space after the `0` or a newline for it to work correctly without the parentheses. I guess this is a corner case with an assert at the very end of the file.

Version: Ledger 3.1.3-20190331

[2020-01-21 12:24] tbm commented on #1855
@pcooksey I think you're describing issue #516 right?

[2020-01-22 01:12] daraul commented on #1642
I'm having this issue as well. Have you been able to do anything about it?

[2020-01-22 02:13] pcooksey commented on #1855
Yup that looks like it. I don't know your policy but you can probably close this issue . Thanks again for answering my question. Also, Ledger is pretty awesome!

[2020-01-22 15:37] twistedjoe commented on #1642
No, I ended up adding the balance value manually everywhere for those :-/

[2020-01-27 05:43] pcooksey opened #1858 "Segfault when adding a budget with an expr that uses payee"
When I added a budget to my ledger it crashes and through some exploring I created a simple toy example that crashes the same way. It seems the payee with the budget is causing some issues. Am I doing something wrong with the payee in the expression?

[code]

[code]
Ledger 3.1.3-20190331, the command-line accounting tool

[2020-01-27 05:58] tbm commented on #1218
The backtrace in #1858 looks similar and there's a testcase.

[2020-01-28 06:38] pcooksey commented on #1858
The order seems to matter. I was going through with GDB and realized that the error was occurring while process the `~ monthly` xact and it was looking for a payee. If I move the expression after the budget then it doesn't seg-fault.

[code]

[code]

[code]

[2020-01-30 10:47] mn200 commented on #1824
Not clear to me if this is related, but my brew install of boost is 1.72 on Catalina, and I am getting clang errors of the form:
[code]
stemming from `ledger/system.hh`

[2020-02-02 14:50] JulianKniephoff commented on #1768
I would still be interested in this. My use case is chaining automated transactions: With `ledger ... print --generated`, you can produce a new ledger file that has all automated transactions in the source resolved. You can then include that new file in another file that has another set of automated transaction rules in it. This way you can create a pipeline of automated transactions, where some r

[2020-02-04 12:21] danielgarciagarcia opened #1859 "Ledger not recognising --input-date-format on macOS Catalina with HomeBrew"
I'm having trouble trying to make ledger understand the --input-date-format tag on the entry command.

When using the command with --input-date-format, the output is an error:
`ledger entry -f test.ledger --input-date-format "%d/%m/%Y" 04/02/2020 "E" A 20 B`

Whereas using the same command without the --input-date-format, it works fine:
`ledger entry -f test.ledger "E" A 20 B`

Any ideas what coul

[2020-02-04 12:30] enderw88 commented on #1859
What shell are you using?

On Tue, Feb 4, 2020 at 05:21 MetalGearDaner <notifications@github.com>
wrote:

--
Craig, Corona De Tucson, AZ
[image: missile_flyout]
enderw88.wordpress.com

[2020-02-04 12:38] MetalGearDaner commented on #1859
@enderw88 Zsh version 5.0.11(1)-release. It's the official one on macOS since Catalina.

[2020-02-04 14:17] eloyesp opened #1860 "Internationalization command directive"
The ledger file is mostly language independent, as the naming scheme can be set manually, but there are some places where there are hardcoded words that makes using the another language not so fun.

For example: `ledger entry` and `convert` use `Liabilities` and `Expenses` hard-coded names. Also the way to write numbers is problematic (the thousand separator and decimal separator) because it is qu

[2020-02-04 16:00] tbm commented on #1859
Is Homebrew out-of-date?  This reminds me of a bug that got fixed a long time ago. Although the version string suggests you have the latest release, hmm.

https://github.com/ledger/ledger/issues/1661
https://github.com/ledger/ledger/issues/546

[2020-02-04 16:02] tbm commented on #1855
Closing since there's another ticket already.

[2020-02-04 16:02] #1855 closed

[2020-02-04 16:43] MetalGearDaner commented on #1859
@tbm It seems to be up-to-date, I upgrade every Homebrew formulas I have installed every week. Also checked several weeks ago those closed issues. The authors seemed to use an older version of macOS (High Sierra). Maybe a bug reintroduced with the new macOS release (Catalina)?

[2020-02-12 17:01] simevo commented on #1203
Please release this fix, we need it to make python3-ledger package in Debian:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=857335
Thanks !

[2020-02-12 21:15] jwiegley commented on #1203
@tbm Can we cut a release from current `master`?

[2020-02-13 03:55] tbm commented on #1203
@jwiegley there are still a number of Python3 related test failures.  Although I suppose what we have now is better than the current official release.

@xnox do you have time to look into the remaining test failures?

[2020-02-21 11:48] tbm opened #1862 "invalid include leads to stray & in error"
[code]

Why` test.ledger&"` What is the `&` doing there?

[2020-02-23 13:17] daraul commented on #1184
I can confirm I'm getting this error. Is it the same problem as #1450?

[2020-02-23 20:37] ieugen opened #1863 "Question: Could ledger work in Graal VM?"
Hello,

I'm wondering if ledger could be used with graal vm. Graal is an advanced VM and compiler that can run a lot of other programming languages in a single process.

It can run llvm bytecode so if ledger is compiled to llvm bytecode it should be possible in theory.

The advantages would be the ability to integrate ledger as is in the JVM ecosystem and gain access to other tools and libraries,

[2020-02-23 20:39] enderw88 commented on #1863
Does Graal have the Boost C++ libraries? If so then it m ay be possible.

On Sun, Feb 23, 2020 at 13:37 Eugen Stan <notifications@github.com> wrote:

--
Craig, Corona De Tucson, AZ
[image: missile_flyout]
enderw88.wordpress.com

[2020-02-23 21:08] ieugen commented on #1863
boost seems to be built with clang/llvm and it has a link to a status page: https://www.boost.org/development/tests/master/developer/summary.html

Original issue https://github.com/boostorg/boost/issues/207

[2020-02-23 23:47] enderw88 commented on #1863
I should have been more clear.  It seems POSSIBLE, but not EASY.  If this
is something you would like, then you should do it.

On Sun, Feb 23, 2020 at 2:08 PM Eugen Stan <notifications@github.com> wrote:

--
Craig, Corona De Tucson, AZ
[image: missile_flyout]
enderw88.wordpress.com

[2020-02-24 07:39] ieugen commented on #1863
Thanks for the heads up. I'm not familiar with C++ and ledger and I would appreciate more information if you can.
In your opinion, what are the parts that are hard?

[2020-02-24 19:45] ieugen commented on #1863
Got some feedback from GraalVM slack channel. There is a guide on how to compile native applications using graal llvm https://medium.com/graalvm/graalvm-llvm-toolchain-f606f995bf

[2020-02-27 08:40] Anachron commented on #1700
So I wanna revisit this idea.
I think it would be best to have a report that just generates ledger-entries based on a budget-file and start/end-dates.
Currently I am using an AWK script to do some basic monthly/quarterly/yearly filling, but it's lacking functionality everywhere (no from/to options, only very basic interval support, etc).

[2020-02-27 12:23] enderw88 commented on #1700
Have you tried the ledger-schedule method? Takes a ledger file with xacts
the have wildcard dates and generates the transactions for whatever time
period you want.  It is parts of ledger-mode in emacs.

On Thu, Feb 27, 2020 at 01:40 Anachron <notifications@github.com> wrote:

--
Craig, Corona De Tucson, AZ
[image: missile_flyout]
enderw88.wordpress.com

[2020-02-27 14:45] Anachron commented on #1700
No I haven't, I'm using `Vim` with `ledger`. I am not a fan of emacs ...
I think it would be good to have a way to do this, so I dont need to write my own scripts because frankly everybody would benefit from this.

[2020-03-03 03:39] #1833 closed

[2020-03-04 08:54] etienne-monier opened #1865 "CMake version error when building on Ubuntu 16.04"
Hi,

I've downloaded ledger and tried to run `./acprep update` to build it. Yet, I had some CMake error on building. I precise that I have run the dependencies installation line for Ubuntu `sudo apt-get install build-essential cmake doxygen ...`. Here is my error:

[code]

Some more info : I use Ubuntu 16.04. My CMake version is 3.5.1. And I have numpy installed on my python pyenv.

Thanks for you

[2020-03-05 08:56] etienne-monier commented on #1865
Ok, that was dunb.

I had cmake version 3.5. I updated it to 3.16.4 and this worked.

Closed !

[2020-03-05 08:56] #1865 closed

[2020-03-10 11:21] daraul commented on #543
Can this issue now be closed? @tbm had some concerns with the PR, but I'm not sure what they are exactly.

/cc @jwiegley

[2020-03-10 20:06] crowsonkb opened #1867 "Boost.Python RuntimeWarnings on `import ledger`"
When I run `ledger python -f ledger.dat` and then run `import ledger`, I get a lot of `RuntimeWarning` messages. They look like the following:

[code]

Here is the [entire output](https://gist.github.com/crowsonkb/2524c3982aa89a42b5c987de0dd12cb0).

I compiled Ledger from master: specifically, commit 40d01c3. I am on macOS Catalina (10.15.3). My Python version is 3.7.6, obtained through Homebrew.

[2020-03-11 00:45] tbm commented on #1867
adding @xnox

[2020-03-11 17:44] crowsonkb opened #1868 "! is a unary operator, not binary or ternary"
The Ledger [documentation](https://github.com/ledger/ledger/blob/master/doc/ledger3.texi#L8076) says:

[code]

It then lists the unary operators:

`not neg`

But as far as I can tell, by examining the expression and compiled trees produced by the `args` command, `!` is just an alias for `not`. It should be listed as a unary operator and the documentation regarding the precedence table should be fi

[2020-03-11 20:14] MisterY commented on #753
@tbm, it appears to do something when used in a register:
`l r ib and shares and vhy -b 2020 -A -X AUD`
gives

![image](https://user-images.githubusercontent.com/462445/76459855-3c5ef600-63dd-11ea-93f9-4e4fd89fc9d6.png)

[2020-03-12 22:02] crowsonkb opened #1869 "Why is getquote sometimes called with the second argument set to an empty string?"
I am writing a script to retrieve current Bitcoin prices for Ledger and am encountering some strange behavior. Most invocations of `ledger` work as expected, but about one in every five to ten runs, Ledger will at some point call `getquote` with the first argument `BTC` and the second argument an empty string. Attempting to return a Bitcoin price quote in USD anyway leads to even stranger behavior

[2020-03-17 12:45] jcguu95 opened #1870 "Wiki page outdated"
This is an issue about this [wikipage](https://github.com/ledger/ledger/wiki/CSV-Import). Softwares recommended there are categorized based on the date of the latest commit. Some of the information is out of date. I checked all of them manually and here's the result:

### expired (last commit >= 12 months)
https://github.com/dimagog/mint2ledger
https://github.com/manishrjain/into-ledger
https://gi

[2020-03-19 03:42] tbm commented on #1870
I made the updates, thanks

But it's a wiki. Next time you can edit the page yourself.

[2020-03-19 03:42] #1870 closed

[2020-03-19 04:01] tbm commented on #1868
I think this one is for @jwiegley.  But I don't think there's much value in saying the type of operator, so I replaced "The binary and ternary operators, in order of precedence" simply with "The operators, in order of precedence".  If @jwiegley has a better fix, he can commit.

I added `!` as an alternative to `not` in the next subsection.

Thanks.

[2020-03-19 04:01] #1868 closed

[2020-03-19 04:01] tbm commented on #1867
@xnox any idea what's going on there?

[2020-03-19 10:20] jcguu95 commented on #1870
Didn't know that! Thanks for the tip and your work :)

[2020-03-20 03:42] bradyt opened #1871 "Various issues with last character of file, e.g., Error: Transaction does not balance"
If I have a file with the following contents,

[code]

Then I see this:

[code]

Curiouser, if I simply add a trailing whitespace to make the second posting more than one character long, like `B `, then I get what we expect,

[code]

Hmm. By the way, I would expect this to cause an error, but ledger is silent,

[code]

Version is `Ledger 3.1.3-20190331`, via `brew upgrade ledger`.

[2020-03-20 07:52] tbm commented on #1871
I don't see this issue.  But I think you're reporting the same as issue #516. Can you confirm that your file didn't have an EOF and that adding that makes it work?

[2020-03-20 13:01] bradyt commented on #1871
Okay, that issue has a nice reproduce format. So on my machine this is broken:

[code]

Whereas none of these are:

[code]

Note, this means we can't use the following:

[code]

In other words, if we have

[code]

Then the result of `C-c C-c` should be,

[code]

Instead it fails very quietly. Nothing appears in echo area, but if you check the *Messages* buffer you'll see the above error there.

[2020-03-20 13:23] bradyt commented on #1871
Here's another strange case:

[code]

And

[code]

And

[code]

Whereas, this works

[code]

More strange examples,

[code]

[code]

[2020-03-20 13:49] tbm commented on #1871
Sorry, I should have been clearer. When I said "I can't reproduce", this is because my editor adds a newline  automatically.

With your `printf` I can certainly reproduce.

[2020-03-20 14:20] bradyt commented on #1871
And maybe we should emphasize this example, against an apparent pattern that ledger is in some sense, simply dropping a character:

[code]

In other words, if the file ends with an account name longer than one character, there is no issue.

[2020-03-22 20:28] jcguu95 opened #1872 "Standard input -- handling multiple files"
First of all, `ledger` is a great software! Thanks for all the hard work. I have been playing with it for 2 whole days, and finally got my 3-year-old messy financial history straight!!!

It meets all my need. However, one thing I notice that might help is to allow `ledger` to read standard input.

[code]

This could partially solve the double-wildcard issue mentioned [here](https://github.com/ledg

[2020-03-22 20:43] peterkeen commented on #1872
Use -f - to read stdin.

On Sun, Mar 22, 2020 at 4:29 PM jcguu95 <notifications@github.com> wrote:

[2020-03-22 20:44] peterkeen commented on #1872
Use “-f -“ to read stdin.

On Sun, Mar 22, 2020 at 4:29 PM jcguu95 <notifications@github.com> wrote:

[2020-03-22 22:35] jcguu95 commented on #1872
! Ah! Right! I did remember reading this in the full document.. :( Sorry for that.

[2020-03-22 22:35] #1872 closed

[2020-03-25 22:15] q3aiml commented on #1867
This should be fixed by #1874

[2020-03-25 22:52] #1867 closed

[2020-03-26 13:56] jwiegley opened #1876 "Feature request: --plopen"
When the `--gains` option is used, it calculates gains for a commodity across the entire history. However, it does not answer the question "Has my current position made a profit?"

This is a relatively simple question to answer:

For any commodity "10 FOO {$200.00}", simply subtract it from the current market price for FOO. If that were $250, then this commodity would be replaced by ($50 * 10).

I

[2020-03-27 07:04] tbm commented on #1847
I can't remember what this ticket is about, but probably the python3 build dependencies.

[2020-03-27 07:16] #1690 closed

[2020-03-27 07:18] tbm commented on #1824
@mn200 do you still see this?

@twrightsman is this still there?

[2020-03-27 07:18] tbm commented on #1774
It's not clear to me if this can be closed or not.

@tko can you comment.

[2020-03-27 07:20] tbm commented on #1721
@scfc ... ?

[2020-03-27 07:24] tbm commented on #1758
@jwiegley any objections to removing the following files to do the missing license in contrib/CSVReader.cs?

[code]

[2020-03-27 07:25] tbm commented on #1759
@bremner do you know where the code is from? Can you submit a PR?

[2020-03-27 07:32] tbm commented on #1759
just seems to be jquery

[2020-03-27 18:18] tko commented on #1774
Tried building current master b1d8706fd09e714cb77d7e55d94b4124a90fe662
* `./acprep debug make` fails
* `./acprep opt make` works

[2020-03-28 02:25] tbm commented on #1774
@tko fails with the error you originally posted?

[2020-03-30 00:29] q3aiml commented on #1824
I think we're good to close this. The report concerns travis which has been building for some time and is now passing tests.

[2020-03-30 02:04] tbm commented on #1824
closing as per @q3aiml's comment.

[2020-03-30 02:04] #1824 closed

[2020-03-30 08:28] tbm opened #1877 "--explicit now a no-op?"
The change from PR #1819 needs to be documented.

If I understand correctly. `--explicit` is now a no-op and should be removed from the documentation.

@CandyAngel?

[2020-03-30 08:30] tbm commented on #1876
I agree this is need, although I'm not sure I like the name `--plopen`.

[2020-03-30 08:31] tbm commented on #1847
I updated the Ubuntu/Debian dependencies, so only the mac port needs an update.

[2020-03-30 16:16] tko commented on #1774
@tbm same error

[2020-03-30 22:09] CandyAngel commented on #1877
Okie, I will PR the removal tomorrow.

[2020-03-31 19:06] jwiegley commented on #1758
I'm fine with that.

[2020-04-02 00:31] #1774 closed

[2020-04-02 07:55] xeroc commented on #1033
Using

resolved this for me

[2020-04-03 00:40] #1877 closed

[2020-04-03 01:33] tbm opened #1881 "pricedb entries not ordered correctly - intermittent test suite failure"
Travis on macOS sometimes fails with:

[code]

See https://travis-ci.org/github/ledger/ledger/jobs/670377833?utm_medium=notification&utm_source=github_status

[2020-04-04 01:40] tbm commented on #1859
hmm I haven't seen any more bugs about this issue.  If it was in Catalina, I'd expect more bug reports by now.

[2020-04-04 01:43] tbm commented on #1853
I think moving to ISO dates by default is a good idea. I asked John about this once and he had no objection.

I started a patch but the test suite needed some updates (or a call to use the old default).

[2020-04-05 03:33] #543 closed

[2020-04-06 01:20] tbm commented on #524
this sounds like the same as issue #1032

[2020-04-07 14:10] hoxu commented on #1097
This is still present. Example commodity: `ABC3`.

[2020-04-07 14:20] tbm commented on #1097
same as #904

[2020-04-07 14:22] tbm commented on #1097
This really boils down to #1473

[2020-04-08 00:10] tbm commented on #767
I don't see this documented, although I also can't figure out if this is actually working, and I can't find

[code]

anywhere in the examples.

[2020-04-08 00:11] tbm commented on #904
This really boils down to #1473

[2020-04-10 10:42] tbm opened #1883 "print shows empty lot"
This example shows `0`, which is what you'd expect:

[code]

Output:

[code]

But this example shows an empty lot: `0 BBB`.  I don't think that should be there:

[code]

Output:

[code]

If I combine the two files with the second set of transactions first, I
get:

[code]

Input:

[code]

but if I put the second set of transactions last, I don't see get `0 AAA`.

[2020-04-11 00:56] tbm commented on #1663
@q3aiml Andy can you look at this issue?

[2020-04-11 04:05] q3aiml commented on #1663
I think this is what round to nearest means for mpfr. Rounding away from zero is a different mode.

From https://www.mpfr.org/mpfr-current/mpfr.html:

Do most people believe round to zero is better in this case? I haven't considered it enough to have an opinion yet.

[2020-04-11 05:20] tbm commented on #1663
Adding @simonmichael

round to zero sounds wrong.

We need something that rounds:

* 0.015 to 0.02
* 0.0149 to 0.01

That is imho the accepted rounding practice when it comes to money.

Hmm ok, I guess in reality it might be slightly more complicated because banks sometimes round down. Maybe there has to be support for specifying rounding on a case-by-case basis.

But I think what I describe above

[2020-04-11 05:23] tbm commented on #1663
interesting... I just ran the example through beancount and I also get 4.78 there (same behaviour as ledger), not the 4.79 I was expecting.

[2020-04-11 05:24] tbm commented on #1663
Same with hledger.

[2020-04-11 05:28] tbm commented on #1663
note that #1765 has some good test cases as well.

[2020-04-11 13:21] simonmichael commented on #1663
hledger does banker's rounding, AKA https://en.wikipedia.org/wiki/Rounding#Round_half_to_even .
(only the latest version guarantees this; in earlier versions it depends on the version of Decimal built with.)

[2020-04-15 05:31] etienne-monier opened #1884 "Cannot handle properly balance-format."
Hi,

I need to change the blue color in balance command as that's not easy to see on the black background of my shell (I think I should do that for all commands using blue).

Before to read, it seems the colors used by ledger are the bright versions I found [here](https://en.wikipedia.org/wiki/ANSI_escape_code#3/4_bit). That could be the source of the problem.

I'd like to use the `--balance-forma

[2020-04-16 07:45] knowhy opened #1885 "acprep prefix not recognized?"
I was able to compile ledger on my ArchLinux system. After installing ledger via `make install` the ledger command fails with:

[code]

Coping the `libledger.so*` files from `/usr/local/lib/` to `/usr/lib/` resolves the problem.

I compiled ledger with `./acprep update --prefix=/usr/local ` but it seems that ledger looks for `libledger.so` under `/usr/lib` despite `make install` copied it to `/usr

[2020-04-17 14:07] alberto56 opened #1886 "Instructions for installing with Python"
I'm trying to install Ledger with Python support in the Docker version at https://github.com/dcycle/docker-ledger/issues/9

Python is installed, but I'm getting "Python support is missing":

[code]

My Dockerfile [currently looks like this](https://github.com/dcycle/docker-ledger/blob/dev/9/Dockerfile), any guidance on how I can install Python support would be appreciated, thanks!

[2020-04-17 23:14] nobodyinperson commented on #1885
Seems to ignore `--prefix` altogether.

[2020-04-18 03:03] tbm commented on #1885
@q3aiml ;)

[2020-04-19 08:48] ralfebert opened #1887 "Last character of ledger file is ignored if not a newline causing 'Transaction does not balance'"
Using `Ledger 3.1.3-20190331` via homebrew on OS X, a super-straightforward transaction that should balance is reported as 'Transaction does not balance'

When running `ledger --args-only -f example.txt print`:

with the following file:

[code]

I am getting:

[code]

It works when I change the amount to '12.50' or remove the amount for 'Assets:Checking'. But this transaction should balance or do

[2020-04-19 09:05] ralfebert commented on #1887
Tested the same on a Debian/ledger 3.1.2-20190205, there it works without problems. So its likely related to macOS / system locale.

[2020-04-19 09:49] ralfebert commented on #1887
Found it: it's the newline at the end of the file - if it's missing, the last digit is ignored.

[2020-04-19 12:14] tbm commented on #1887
Yes, you diagnosed the issue already. This is known, e.g. issue #516, #1871, #624. (I should close some of those)

[2020-04-19 12:14] tbm commented on #1887
Closing as a duplicate of issue #516, #1871, #624

[2020-04-19 12:14] #1887 closed

[2020-04-19 12:16] tbm commented on #516
Note that #1871 has some good test cases as well.

[2020-04-19 12:16] tbm commented on #1871
Closing as duplicate of #516

[2020-04-19 12:16] #1871 closed

[2020-04-19 12:18] tbm commented on #624
Closing as duplicate of #516, although you are the original reporter.

[2020-04-19 12:18] #624 closed

[2020-04-19 12:18] tbm commented on #516
For the record, this was originally reported by Seth Mason (@slackorama) in 2012 in bugzilla (issue #624

[2020-04-20 18:04] p3palazzo opened #1888 "Rounding error when using multipliers"
I am getting "transaction does not balance" errors when using some small multiplier values in transactions. For example, the following works:

[code]

However, the following gives me "transaction does not balance":

[code]

I suppose the problem lies in rounding amounts smaller than $0,01. What should I do?

[2020-04-21 13:23] q3aiml commented on #1885
Might be due to removal of `CMAKE_INSTALL_RPATH` in https://github.com/ledger/ledger/commit/6d4cd58cd4b1b2f3906889009da7b71931645e93#diff-95e351a3805a1dafa85bf20b81d086e6L275.

@knowhy @nobodyinperson @tbm can one of you try adding it back and seeing if it fixes it.

@xnox do you remember why the rpath setting was removed?

[2020-04-27 00:49] samm81 opened #1889 "feature request: hledger-lik `cur:`"
Although I keep track of other commodities (digital assets) most of the time I am just interested in seeing reports using my base currency ($). Hledger has the `cur:$` option to limit to just one currency.

[2020-04-27 01:06] tbm commented on #1889
You can do this in ledger: -l "commodity == '$'"

[2020-04-27 07:29] tbm commented on #1847
@q3aiml nobody has complained about your travis update. Can you make the same update to the README (and also replace python26 with whatever they have for version 3)

[2020-04-27 07:42] tbm commented on #1759
The only script that depends on the jquery in python/res is python/server.py, which doesn't seem to actually work:

[code]

@jwiegley do you know the fix?  Is python/server.py worth keeping?  If we remove it, we could remove the jquery from python/res, which would fix this license issue.

Of course, we could just embed all of jquery... but is it worth it? (Or remove the jquery dependency from serv

[2020-04-27 11:23] tbm commented on #1885
@xnox any comment on this?

[2020-04-27 11:24] tbm commented on #1859
Any update on this? Do you still see this?

[2020-04-27 11:49] tbm commented on #1801
I get

[code]

[2020-04-27 11:55] #553 closed

[2020-04-27 11:55] #1854 closed

[2020-04-27 12:03] esovetkin commented on #1801
hmm, what kind of version do you have?

[2020-04-27 12:03] tbm commented on #1709
@orlandow @scfc @kunedo is one of you interested in working on this?

[2020-04-27 12:05] tbm commented on #1881
Duplicate of #1783... so this has been there before.

[2020-04-27 12:05] tbm commented on #1783
Paging @q3aiml :)

[2020-04-27 13:17] tbm commented on #1801
* Jenya Sovetkin <notifications@github.com> [2020-04-27 05:03]:

3.1.3-20190331 and 3.1.2-20190205

--
Martin Michlmayr
https://www.cyrius.com/

[2020-04-28 01:23] #1758 closed

[2020-04-28 03:21] tbm commented on #1800
I have a reduced testcase now.

[test-1800.zip](https://github.com/ledger/ledger/files/4543177/test-1800.zip)

[code]

[code]

If you remove the second account declaration in test.ledger (as mentioned in the file), it looks slightly different:

[code]

[2020-04-28 03:23] tbm commented on #1800
Hmm, seems I get different behaviour sometimes (this is with the second definition deleted):

[code]

[2020-04-28 03:25] tbm commented on #1800
Note that ledger 3.1.2-20190205 works fine on the reduced testcase.

I do get a segfault with that version on my original (non-reduced) testcase though.

[2020-04-28 07:03] esovetkin commented on #1801
okay. I still can reproduce the issue.

[2020-04-28 07:53] totte opened #1890 "Running `ledger balance -f drewr3.dat` returns a negative `Assets:Savings` amount"
https://www.ledger-cli.org/3.0/doc/ledger3.html#Example-Journal-File
https://github.com/ledger/ledger/blob/master/doc/ledger3.texi#L10285

Unless I'm mistaken, the opening balance statement should include the 5,500.00 USD transferred on 2011/01/25 to purchase a car.

[2020-04-28 07:56] tbm commented on #1890
Yes, @enderw88 can you look into this.

I'm not sure how drewr3.dat interacts with the manual.

[2020-04-29 00:53] q3aiml commented on #1783
@tbm sure, can you give me enough access so I can trigger easily trigger rebuilds without needing to push phony commits?

[2020-04-29 01:29] #1847 closed

[2020-04-29 01:33] tbm commented on #1783
@q3aiml do you know what permissions you need exactly to trigger rebuilds?

[2020-04-29 02:06] des4maisons commented on #1227
Hello! Is there a workaround for this issue?
I tried using a really horrible regex to work around, but proper regex escaping for ledger is not documented (see https://github.com/ledger/ledger/issues/1781) and I couldn't get my horrible regex to compile.

[2020-04-29 02:38] tbm commented on #1781
I've added the documentation label since this works as intended but needs some documentation.

[2020-04-29 02:39] tbm commented on #1781
Does anyone know the name of that regex syntax?

[2020-04-29 02:46] tbm commented on #1227
@des4maisons I think this works as expected.  The original anon.dat got lost in the Bugzilla migration, it seems.

Let's use this example:

[code]

`ledger print :investments` only prints the first entry, as expected.
`ledger print not :pension` prints both entries, and you only want the first one.

So you say it doesn't work.  But it works as expected.  `not :pension` will match `Assets:Cash` in

[2020-04-29 03:09] tbm commented on #1881
Duplicate of #1783

[2020-04-29 03:09] #1881 closed

[2020-04-29 04:01] tbm commented on #1800
Related, I also get the following errors about the metadata, but the regex actually captures the values that it complains about, i.e. the error is bogus.

[code]

[2020-04-29 04:53] jwiegley commented on #1759
It's not worth it to me, I don't even know who's using it. Feel free to drop it.

[2020-04-29 04:59] tbm commented on #1759
Thanks for your comment @jwiegley!

[2020-04-29 05:00] tbm commented on #1759
... and for being as accommodating as always :)

[2020-04-29 14:38] des4maisons commented on #1227
Got it, that does work! Thank you!!

[2020-04-30 04:30] #1759 closed

[2020-04-30 19:33] bkuhn commented on #1215
First of of all, note that this is problem is *not* unique to `--raw`. It's simply more likely to show up with `--raw` because none of the whitespace and other such is removed, thus making the output closer to the 8k limit.

The problem *may* be solved simply by [increasing the value of the `assert()` argument on this line](https://github.com/ledger/ledger/blob/30acf5e1531411456e1aeedaa618f798e8e4

[2020-04-30 20:32] samm81 commented on #1889
Oh, awesome! I combed through the docs, and even the mailing list, and never found anything about this. Having to use the `--limit` flag, seems a bit unrecoverable, it might be nice to have a dedicated flag just for limiting the commodity.

Anyways, I'll mark this closed.

[2020-04-30 20:32] #1889 closed

[2020-05-01 08:47] tbm commented on #1844
Fixed in 23dcf7a42da68918db6ef4f0a5bfc1c84348415a

[2020-05-01 08:47] #1844 closed

[2020-05-01 22:45] jadler opened #1892 "payee metadata is not expanded by alias"
When I add the payee name as metadata, the name is not expanded.

[code]

it should be displayed as:

[code]

but it is displayed as:

[code]

[2020-05-02 11:19] dabeegmon commented on #1853
I started using the ISO date format  quite a number of years ago out of frustration at having to remember which country or even which area of some countries used month first or date first. The standard used for writing the ISO date seems to have morphed into something like - - - 20200502T055720-0600 which is itself somewhat inaccurate as it was just the date (and time) pulled from when I looked at

[2020-05-02 17:56] escondida commented on #1853
I think that context is sufficient to indicate that the date 2020-05-02 is a date rather than an arithmetic expression: ledger's format is well-documented, so it's clear where dates are going to appear.

Also, in general, YYYY-MM-DD is a well-recognized standard way of formatting dates; I'd argue that the last the we need to do is introduce yet another idiosyncratic date format into the welter of

[2020-05-02 20:28] dabeegmon commented on #1853
On Sat, May 2, 2020 at 12:56 PM escondida <notifications@github.com> wrote:

I specifically stated that I did not want to create yet one more - - - -
there are already too many.

Yet when I look at your first date representation - - - - when it stands by
itself there are no real clues
that it is a date. Now if you first see YYYY-MM-DD then it is quite common
to assume that the
expression denotes a

[2020-05-03 00:44] tbm commented on #1853
@dabeegmon "I am only asking that the possibility be available to use another separator."

This ticket is about changing the  *default* date format used by ledger.  You will still be able to use a different date format if you want, including YYYY.MM.DD.

[2020-05-03 01:08] dabeegmon commented on #1853
On Sat, May 2, 2020 at 7:44 PM Martin Michlmayr <notifications@github.com>
wrote:

very little use.

Mea culpa

[2020-05-04 09:40] ngleb opened #1893 "Specifying Python version when running cmake"
Hi!

I'm trying to build 3.2.0 with Python support. All dependencies are installed, however I have issue with adding Python support.

When running `cmake -DUSE_PYTHON=yes .`, it does detect Python, but only the latest version installed which is 3.8.2, but the main version I have is python 3.7 and Boost is also built only with python 3.7.

I tired passing `-DPYTHON_EXECUTABLE=/usr/bin/python3.7` bu

[2020-05-05 19:11] jwiegley commented on #1215
@bkuhn I agree. Or we can just make it huge, like 16M...

[2020-05-06 08:20] blatte opened #1894 "Issue with expression evaluation"
I have automated transactions formated like so:

[code]

The idea is for the transaction to apply unless the account has the tag NOTAX.

This used to work but it now does not apply for any transcation at all.

[2020-05-06 08:32] tbm commented on #1894
Confirmed to work with 3.1.2. Does not work with 3.2.0.

[2020-05-06 09:29] tbm commented on #1894
This was introduced by:

commit 49b07a1c19489547b859d61fbc5c240aff224dda (refs/bisect/bad)
Author: John Wiegley <john@dfinity.org>
Date:   Tue Sep 17 16:54:58 2019 -0700

    Correction to the way parens are parsed in query expressions

@jwiegley can you take a look?

[2020-05-06 09:30] tbm commented on #1894
Complete test case:

[code]

Correct output:

[code]

[2020-05-06 10:08] tbm commented on #1684
Done

[2020-05-06 10:08] #1684 closed

[2020-05-07 11:13] mlungisimc commented on #1859
I'm still getting the error on bash and zsh. However, xact without a date works:

$ ledger -f text.dat xact cap

2020/05/07 * CAP LEGACY
    Expenses:Charges:Fees:Will Admin          R47.91
    Assets:Cheque

System Information:
- Ledger 3.2.0-20200501 - installed via Homebrew.
- macOS Catalina 10.15.4
- GNU bash, version 3.2.57(1)-release (x86_64-apple-darwin19)
- zsh 5.7.1 (x86_64-apple-darwin19

[2020-05-07 12:02] ngleb commented on #1893
I found was was causing the issue.

ledger sources has its own FindPython cmake module. If I remove this module, and cmake uses its own modules, then I can build ledger with the following command:

`cmake -DPython_EXECUTABLE=/usr/bin/python3.7 -DPython_INCLUDE_DIR="/usr/include/python3.7m" -DUSE_PYTHON=yes .`

[2020-05-07 12:21] ngleb commented on #1893
It looks like these options were added in 3.16, but FindPython module in ledger sources is from 3.15:
https://github.com/Kitware/CMake/commit/06d9e67fbd2b2dfc9cba12327866b2f73eab8a18#diff-19d61b7db7059e6b1e00d0e31d827b73

[2020-05-07 18:32] clonejo opened #1895 "--invert breaking change"
In ledger 3.2.0 (presumably caused by #1804) `--invert` has no effect anymore on at least `%(amount)`, `%(amount_expr)` and `%(total)` in a custom format string.

Not sure about ledger's stability guarantees, but this change could have cost me hours of additional work sending people money back I wrongfully charged them, if I had not noticed. Luckily, no harm done :)

To replicate the old behavior,

[2020-05-08 00:39] tbm commented on #1895
Adding @jwiegley

[2020-05-08 01:32] jwiegley commented on #1895
@clonejo That is indeed terrible. Do you have a simple test case that shows your problem? I use `--invert` every day, but haven't noticed any breakage yet. Once I can reproduce it here, I can fix it this weekend.

[2020-05-08 04:25] jwiegley commented on #1894
The query parser is I'm really not very happy with.

I confirm the bug, and have reverted my change.

[2020-05-08 04:41] tbm commented on #1721
@xnox any help?

[2020-05-08 04:41] tbm commented on #1893
@q3aiml can you look into this?

[2020-05-08 04:44] tbm commented on #1886
Maybe related to #1893?

[2020-05-08 04:45] tbm commented on #1885
@nobodyinperson @knowhy can you test the change @q3aiml proposed?

@xnox can you comment on this?

[2020-05-08 04:45] tbm commented on #1863
should this be closed? @ieugen are you planning on working on this?

[2020-05-08 04:51] tbm commented on #1862
I wonder if it's to escape the " since the whole thing is quoted.

[2020-05-08 04:52] tbm commented on #1849
did you find out what the problem is?  Is this still there with latest ledger?

[2020-05-08 05:50] ngleb commented on #1886
I think that in Dockerfile they install ledger from Alpine repository, which builds ledger without Python support.

https://pkgs.alpinelinux.org/contents?branch=edge&name=ledger&arch=x86_64&repo=testing
https://build.alpinelinux.org/buildlogs/build-edge-x86_64/testing/ledger/ledger-3.1.3-r4.log

[2020-05-08 06:14] ieugen commented on #1863
No. I have very few C/C++ experience.

[2020-05-08 06:14] #1863 closed

[2020-05-08 08:14] Rahix commented on #1894
I think I have also hit this bug with the following automatic transaction:

[code]

Using the latest version from git (869302ae9ce3) fixes the issue.

[2020-05-08 08:49] knowhy commented on #1885
Thanks, I believe that resolves the issue. I have opened a PR here: https://github.com/ledger/ledger/pull/1896

[2020-05-08 09:09] esovetkin commented on #1801
ok, the problem seem to be with the libedit.

[2020-05-09 02:52] tbm commented on #1895
@clonejo do you have a testcase?

[2020-05-09 15:01] alberto56 commented on #1849
Seems to work now!

https://app.circleci.com/pipelines/github/dcycle/docker-ledger/23/workflows/b1bce3b2-e63e-436e-9abb-2512a5ac91d3/jobs/24

I'm closing this issue

[2020-05-09 15:01] #1849 closed

[2020-05-11 05:20] tbm opened #1898 "Single quotation marks rendered incorrectly in PDF"
The manual defines things like:

[code]

In the HTML manual this is displayed correctly:

[code]

But in the PDF the single quotation marks (even in commands) become UTF-8 quotation marks which are not valid:

[code]

Any idea how to fix this?

@enderw88

[2020-05-11 17:38] jwiegley commented on #1894
It's good to have more examples, thank you. Before I make any future change to this code (to fix the issue I had run into), I'll build up a battery of regression tests to ensure we don't break people's Ledger files.

[2020-05-11 20:47] clonejo commented on #1895
### Ledger 3.2.0-20200501

[code]

[code]

I don't have the older version of ledger quickly at hand, do you need an example of the old behavior?

[2020-05-12 02:20] tbm commented on #1895
Thanks for this testcase.

Old behaviour was:

[code]

[2020-05-12 02:44] tbm commented on #1894
@jwiegley I'm not sure if this is *strictly* related since I don't know what you were trying to fix, but when you look into this please also consider issue #872 and issue #1185.  They are examples of things not properly parsed today.

[2020-05-12 13:01] tbm opened #1899 "Invalid expression leads to assertion error"
This invalid expr:

[code]

leads to

[code]

Full output:

[code]

[2020-05-12 13:09] tbm opened #1900 "Misparses query with quotes: ". & %foo""
I'm using quotes to avoid my shell eating the `&` but since the whole argument is under quotes I don't think that should matter. However, ledger thinks the first parameter is `. ` (dot followed by a space) instead of just `.` (dot without space). I think that's a parsing error.

[code]

[2020-05-12 13:13] tbm commented on #1900
Adding a whitespace at the end before the quote will also make it part of the `%foo` query:

[code]

I think that's wrong. But one could argue it's correct (in both cases).

[2020-05-12 13:34] tbm commented on #1900
[code]

[2020-05-12 13:47] tbm commented on #1860
ledger actually allows you to put arguments into the ledger file. You can just put `--decimal-comma` at the beginning of the file.

[2020-05-12 15:11] Rahix commented on #1894
Now that the offending change has been reverted, would it be possible to issue a point release with this fix included?  I feel like a bug like this, which silently reports wrong numbers for peoples transactions, could be quite dangerous ...

[2020-05-12 15:22] Rahix commented on #987
This would be a really useful feature!  I have found the `--collapse`/`-n` flag but that only allows collapsing _everything_ right now.  Maybe it would be useful to add a number argument to `--collapse` for this instead of changing the behaviour of `--depth`?

[2020-05-12 15:37] Rahix commented on #987
If I am not mistaken, PR #216 is related?

[2020-05-13 00:18] tbm commented on #1894
@Rahix I am planning on making a point release but I wanted to wait for a fix for another regression: issue #1895

Do you think the point release can wait until next week (assuming @jwiegley has time to fix #1895 on the weekend) or should I make 2 point releases (one now and one for the other fix).

[2020-05-13 00:25] tbm commented on #1893
Can you update the FindPython module in ledger and submit a PR?

[2020-05-13 00:26] #1885 closed

[2020-05-13 08:38] Rahix commented on #1894
Well, you probably know better than me how long it takes for a ledger release to get into the distro repositories.  Looking at [this overview](https://pkgs.org/search/?q=%2Fusr%2Fbin%2Fledger), only `ArchLinux`, `Debian Sid`, and `openSUSE Tumbleweed` ship 3.2.0 already so it might not be too bad.  Maybe add a disclaimer on the [release page](https://github.com/ledger/ledger/releases/tag/v3.2.0) l

[2020-05-13 14:31] yohaimaayan opened #1902 "Building with python support fails on MacOS"
I'm trying to build 3.2.0 on MacOS Mojave 10.14.5 with python support:

    ./acprep --python

It's finding python but not some `cmake` configuration file for boost python:

[code]

I have `boost` and `boost-python` under `/usr/local/Cellar/` but they don't contain either of the missing `.cmake` files. I've still tried to point `--boost` to anything that I could imagine, but no go.

[2020-05-13 17:47] ngleb commented on #1893
That's strange, but tests are failing as new FindPython can't properly locate Python include path now and builds are failing. It can be manually specified in CMake arguments like this, but it has to be interpreter and include dirs together:
`cmake . -DPython_EXECUTABLE=/usr/bin/python3.7 -DPython_INCLUDE_DIR="/usr/include/python3.7m" -DUSE_PYTHON=yes`

[2020-05-14 16:28] ngleb opened #1905 "Ledger failed to build under Msys2 MinGW 64-bit runtime"
I tried building ledger on Windows using Msys2 MinGW 64 bit runtime, and it failed with the following error:

[code]

Build with Msys MinGW 32 bit works fine. Is this actually supported or is it expected behaviour?

[2020-05-14 16:38] ngleb opened #1906 "Ledger failed to build under Msys2 Mingw 32-bit with Python support"
Without Python Ledger builds and works, but if I enable Python support, then build fails with the following error:

[code]

Msys2 has the following versions:
- gcc 10.1
- cmake 3.17.2
- python 3.8.3
- boost 1.72.0

[2020-05-14 21:59] beetleb commented on #987
I too need this:

https://groups.google.com/forum/#!topic/ledger-cli/XIh43fRvaRs

[2020-05-16 01:09] jwiegley commented on #1894
I'll work on `--invert` this weekend, and we should be able to release on Monday.

[2020-05-16 18:40] dmp1ce opened #1907 "Slow performance with upgrade to 3.2"
From IRC:

Other command which do not have the "not" command seem to be performing normally.

I'll work on a way a standard way to reproduce, but I thought it was worth reporting in case anyone else is having an issue.

[2020-05-16 18:59] jwiegley commented on #1895
@tbm This was broken in 9ad0dcc85a3ec59a1dd23f36964d083cf59bd7a9

[code]

I think again we should just revert and then explore the right fix, with regression tests to prevent this from breaking again.

[2020-05-16 19:00] jwiegley commented on #1895
I ran into a problem with amount inversion "inverting the inverted amount" when doing composite reports like `--gains`.

[2020-05-16 19:01] jwiegley commented on #1895
Because there are times when we calculate based on a series of amounts (which are now inverted), and then we derive an aggregate which is then inverted again, so that the final result is not inverted. It makes the flag appear useless in those cases.

[2020-05-16 19:17] jwiegley commented on #1907
@dmp1ce Are you able to test if a6a58af2 is the culprit? That is:

[code]

[2020-05-16 19:18] jwiegley commented on #1907
Also, if you can use `print --anon` to make an anonymized test case that demonstrate the slow-down, I'd be happy to do the performance analysis here. Git bisect is especially handy at tracking down which commit introduced this regression.

[2020-05-16 23:22] jwiegley opened #1908 "-"

[2020-05-16 23:28] tbm commented on #1907
@dmp1ce where do you get ledger from? I guess Arch?

Make sure that you're not comparing a ledger 3.1 without debugging enabled and ledger 3.2.0 with debugging.

[2020-05-17 01:45] dmp1ce commented on #1907
Yeah, I'm using 3.2.0 from pacman official repositories.

[2020-05-17 01:46] dmp1ce commented on #1907
I'll try out these suggestions tomorrow. Thanks guys!

[2020-05-17 01:48] jwiegley commented on #1907
Great, I'd love to see a fix for this in @tbm 's upcoming release.

[2020-05-17 12:30] dmp1ce commented on #1907
@jwiegley, I tried with commit reverted and had the following results:

[code]

With version 3.2.0:

[code]

[2020-05-17 13:18] dmp1ce commented on #1907
I tried to use `print --anon` but it created a file which was processed quickly. I'm trying to figure out how to share my data anonymously but haven't come up with anything yet. I think it has something to do with the number of different account and the number of different currency transactions which look like this:

[code]

[2020-05-17 17:24] jwiegley commented on #1907
Oops, pressed wrong button.

@tbm Let's revert that commit and then we can release. I'll move the behavior that's in that commit under a command-line option, at least until a faster method of commodity comparison can be determined.

[2020-05-18 04:28] #1893 closed

[2020-05-18 04:33] tbm commented on #1908
see issue #1895

[2020-05-18 04:58] tbm opened #1910 "Regression in latest Python demo change"
I now get:

[code]

[code]

[code]

So yeah, the problem is that you're running demo.py even when Python is not enabled. We have to check for HAVE_BOOST_PYTHON. I'll fix.

[2020-05-18 05:09] #1895 closed

[2020-05-18 05:09] #1907 closed

[2020-05-18 05:25] tbm opened #1911 "Improve query parser"
@jwiegley made commit 49b07a1c1948 ("Correction to the way parens are parsed in query expressions") but this broke something, resulting in issue #1894.

John commented:

and:

This ticket is to track parser improvements.

[2020-05-18 05:26] #1910 closed

[2020-05-18 05:26] tbm commented on #1894
I opened a new ticket for @jwiegley to keep track of the parser rework: #1911

[2020-05-18 05:26] tbm commented on #1911
I'm not sure if this is strictly related since I don't know what you were trying to fix, but when you look into this please also consider issue #872 and issue #1185. They are examples of things not properly parsed today.

[2020-05-18 05:27] tbm commented on #1894
This was fixed in:

commit 869302ae9ce303b532fa4700f78d208c3bd89310
Author: John Wiegley <johnw@newartisans.com>
Date:   Thu May 7 21:22:20 2020 -0700

    Revert "Correction to the way parens are parsed in query expressions"

    This reverts commit 49b07a1c19489547b859d61fbc5c240aff224dda.

[2020-05-18 05:27] #1894 closed

[2020-05-18 05:28] tbm commented on #1910
Bad @q3aiml ;)

[2020-05-18 06:24] tbm commented on #1902
Can you please try with ledger 3.2.1?

[2020-05-18 07:59] yohaimaayan commented on #1902
Still no go. Full output ahead:
[code]

[2020-05-18 13:18] kcwu opened #1913 "ledger failed to build on clang 8.0.1 (__PIC__ level differs in PCH file)"
This is my command line
[code]

It failed with
[code]

By observing the compiling command lines via `acprep update -v`, I found
 - `cmake_pch.hxx.pch` was built with `-fPIC` flag
 - `libledger.so` was built with `-fPIC` flag
 - but `main.cc.o` is not compiled with `-fPIC` flag

I found `main.cc.o` could be compiled if I made one of following changes:
 - add `-fPIC` flag to the compile flags of `ma

[2020-05-18 20:02] jpo- opened #1915 "Feature Request: Specify currency for ledger convert command"
Hello-

I would like to request a feature associated to the ledger convert command.  Here is the used case:

As a ledger-cli user, I would like to run ledger convert on a csv file from my financial institution and specific the currency that should be applied to all of the values in the amount field.

Background:
I am a relatively new ledger user, so I may be missing the correct way to accomplish t

[2020-05-18 21:01] jwiegley commented on #1911
@tbm I was having trouble parsing this automated expression:

[code]

[2020-05-20 03:37] q3aiml commented on #1910
Hah, oops. I noticed the have boost python guard elsewhere but then sometime between beating my head against various errors it must have fallen out to add it here

[2020-05-20 19:22] rsolvang opened #1916 "Space as thousand marker not accepted?"
I just discovered Ledger today and tried it out immediately. In Norway, we format big numbers like this:
 `kr 1 234 567` – i.e. with a space as the thousand mark, but Ledger threw errors that disappeared when I removed the spaces. Is this how it has to be, or is there a way to make Ledger understand Norwegian numbers?

[2020-05-20 22:13] enderw88 commented on #1916
It only understands . Or , as separators.

On Wed, May 20, 2020 at 12:22 Ruben Solvang <notifications@github.com>
wrote:

--
Craig, Corona De Tucson, AZ
[image: missile_flyout]
enderw88.wordpress.com

[2020-05-20 22:37] clonejo commented on #1895
Thank you, good work!

[2020-05-21 11:10] Neustradamus opened #1917 "Picture of the GitHub organization?"
Ledger is a project or a person?

Can you change the picture of the GitHub organization?
- https://github.com/ledger/

Thanks in advance.

[2020-05-21 13:02] tbm commented on #1917
I guess it would be nice to get a logo for the project.

@jwiegley any ideas?

[2020-05-21 21:17] jwiegley commented on #1917
I've never thought of a logo before. We should ask the community for proposals!

[2020-05-22 09:16] rsolvang commented on #1916
Thanks for your clarification, @enderw88.

Do you (or anyone else) know if it is at all possible to implement support for spaces as a thousand marker? This is a problem not only in Norway, but also in Canada, Sweden, Denmark, Finland, France and Germany, as they all use spaces as a thousand separator. Maybe it could be available as an argument when running ledger, much like the current `--decimal-

[2020-05-22 11:21] enderw88 commented on #1916
I don’t remember the details of the parser but it would be some pretty deep
changes and it would be a big performance hit.

I have been using ledger and listening to this list since 2009. This is the
first time this has come up. FWIW I don’t use thousand separators at all.

On Fri, May 22, 2020 at 02:16 Ruben Solvang <notifications@github.com>
wrote:

--
Craig, Corona De Tucson, AZ
[image: missile

[2020-05-22 17:40] suyash192 opened #1918 "Complex regex expression results in error in the latest version (3.2.1-20200518)"
I use the following regex expression in an automated posting to match if the transaction month is Feb, Jun or Oct.

`= /Expenses:Subscriptions:Netflix/ & expr date =~ /\/(02|06|10)\//`

This results in an error in ledger reporting commands which was not occurring prior to this version:

**Steps to reproduce:**

1. Install latest ledger version (3.2.1-20200518)
2. Add an automated posting with a co

[2020-05-25 01:10] tbm commented on #1918
Did this work with 3.1.x?

[2020-05-25 01:11] tbm commented on #1911
see issue #1918

[2020-05-25 01:23] tbm commented on #1918
Doesn't seem to work with 3.1.x.

This briefly worked with 3.2.0 but the fix caused other regressions and was reverted in 3.2.1.

There's a ticket to track parser improvements.

[2020-05-25 02:11] tbm commented on #1918
I can confirm this briefly worked with 3.2.0 but not with 3.1.2 or 3.2.1.

This is due to John's fix which got reverted in 3.2.1 because it broke other things.

[2020-05-29 05:37] tbm opened #1920 "PAGER, less and colour output"
15:29 < fjb> Hello, I'm having a problem that ledger displays escape characters e.g "ESC[31m". I'm guessing that this is mostly likely due to badly configured terminal. Unfortunately I am lost on where to start troubleshooting it.

...

21:05 < fjb> @tbm Hi, I was here a couple of days ago asking about escape characters and color in my terminal. I've found the culprit. It was the pager 'less' that

[2020-05-29 05:39] tbm commented on #1920
It seems that's already the case:

[code]

So I think the problem is that $PAGER was set and that was without -R.

Maybe a documentation issue.

[2020-05-29 05:57] tbm commented on #1920
Hmm, but in my case `$PAGER` is `less` without any arguments and it works fine.

[2020-05-29 05:58] tbm commented on #1920
Actually one thing I noticed that that ledger doesn't use the pager for me anymore. This has been going on for a while but I never had time to investigate.

[2020-05-29 10:54] Amooti73 commented on #1920
I just want to confirm that I have been having a similar problem with ledger 3.1.3 on ubuntu 20.04.
The problem has existed for the last few weeks.  I have tried many terminals and right now I am using uxterm. This problem is seen in the output of my reports and just yesterday, after failing in all my trial and error attempts I installed hledger which is working well.
![img-2020-05-29-134534](http

[2020-05-29 11:43] Amooti73 commented on #1920
During the course of this month (May, 2020!) ledger (version 3.1.3 on Ubuntu 20.04) has been producing reports with the ansi escape codes instead of the expected color. I have tried various terminals without any success.  I have also read the above comments about less and tried to make some settings like those recommended [here](https://blog.stigok.com/2017/09/19/system-wide-pager-settings-for-les

[2020-05-29 11:45] tbm commented on #1920
@Amooti73 is `PAGER` set in your environment? What is the value of``TERM`?

[2020-05-29 11:55] Amooti73 commented on #1920
Using the echo command, pager is blank, although I had also run the command

`update-alternatives --display pager`

The output of this was:

`pager - auto mode
  link best version is /usr/bin/less
  link currently points to /usr/bin/less
  link pager is /usr/bin/pager
  slave pager.1.gz is /usr/share/man/man1/pager.1.gz
/bin/more - priority 50
  slave pager.1.gz: /usr/share/man/man1/more.1.gz
/usr

[2020-05-29 12:03] tbm commented on #1920
@Amooti73 sorry, I meant the output of:

    echo $PAGER

BTW, can you try:

    export TERM=xterm-256color

to see if that improves things.

[2020-05-29 12:25] Amooti73 commented on #1920
Maybe I wasn't clear but the output from

`echo $PAGER`

was blank--no output!

I just added

`export TERM=xterm-256color`

to my .bashrc and opened a new terminal, but there was no change!

[2020-05-29 12:28] tbm commented on #1920
Which terminal do you use?

[2020-05-29 12:34] Amooti73 commented on #1920
I am using uxterm.

If you check the next to last paragraph of my second comment, I also gave some reasons for doing so.   Also I have tried the ledger reports in close to a dozen different terminals as well as inside tmux with no luck.  I have been using ledger for about 4 or 5 years with no problem!

[2020-05-29 12:51] tbm commented on #1920
Can you try:

    export PAGER="pager -R"

[2020-05-29 12:59] Amooti73 commented on #1920
Success!!!!

Wow! Thanks!

[2020-05-29 13:02] Amooti73 commented on #1920
It also works in tmux! I'm not sure why it shouldn't except for my recent experience with Ctrl-<tab> not calling snippets when I use tmux in uxterm.

[2020-05-31 14:18] paxperscientiam opened #1921 "Macports: "Error: Failed to configure ledger: boost must be installed with +python27""
Hello,

I've noticed a discrepancy between the instructions for building `ledger` with macports and a macports build error message.

Readme indicates ...
[code]
... while macports indicates:
[code]

Do you think the macports build instructions are wrong?

[2020-06-01 01:54] tbm commented on #1921
@paxperscientiam we (specifically @q3aiml) tried to update the instructions recently with our migration to Python 3 but I don't think anyone actually had macports to test.

Since you use macports, can you investigate what the right solution is.  In particular, is there a boost in macports that works with python 3?  Python 2 is no longer supported now, so it would be good to use Python 3.

Can you

[2020-06-01 01:56] tbm commented on #1921
Although that error suggests that +python27 is something ledger wants. (Note that I don't know anything about macports)

But acprep has been updated to +python37

[2020-06-01 16:29] holmescharles commented on #1186
Ditto. I am getting this issue. Any news?

[2020-06-04 13:28] dersuchmann opened #1922 "Weird inconsistent behavior when overriding metadata (i.e. key-value tags)"
The following has been observed with ledger 3.1.3 (installed via apt on Ubuntu 20.04 LTS) and with ledger 3.2.1 (installed via Chocolatey on Windows 10).

---
__When nesting definitions for the same particular key-value tag, I believe that `ledger` shows some weird inconsistent behavior when filtering for that tag's value.__

Let's assume file `test1.ldg` contains:
[code]

If I filter for the mont

[2020-06-06 17:53] q3aiml commented on #1921
For what it's worth according to macports `python37` should be a valid `boost` variant: https://www.macports.org/ports.php?by=library&substr=boost. It's shame their error message isn't clearer. @paxperscientiam you could try upgrading macports if it isn't upgrading automatically or try explicitly disabling `python27` by adding something like `-python27` (guessing) to boost in the port install comm

[2020-06-06 17:56] q3aiml commented on #1921
Oh, I think I see what you are saying. The error you provided is from something like `port install ledger`? If so I'm guessing someone needs to update https://github.com/macports/macports-ports/blob/master/finance/ledger/Portfile.

[2020-06-07 14:42] rsolvang commented on #1916
Thanks for your reply @enderw88. The reason I'm asking is because I am thinking about recommending my accountant to look into ledger, and use it for a smallish business project, and accountants tends to be very detail oriented.
I guess it is possible to use a dot (.) as a thousands separator and replace it with a space using a script when outputing reports etc.

[2020-06-07 15:44] enderw88 commented on #1916
Post processing results is one of the biggest reasons I use ledger. The
format of the actual data is simple but the power comes from the reporting
not looking at the transactions.

On Sun, Jun 7, 2020 at 07:42 Ruben Solvang <notifications@github.com> wrote:

[2020-06-10 22:09] bitti opened #1925 "roundto in assert statement not working as expected"
The sparsely documented `assert` directive might be sparsely tested as well. On my first try to use it I couldn't make it work when using `roundto`. Using a `floor` and a combination of multiplication, addition and division works but is awkward.

One easy way to reproduce:

[code]

This yields this output on my machine:
[code]
So the first 4 assertions are fine, the last two are not. Are we suppos

[2020-06-11 02:16] tbm commented on #1925
That's interesting. I added some debug statements and roundto() itself gets the right result:

[code]

@jwiegley any idea what the `assert` is complaining about?

[2020-06-11 02:19] tbm commented on #1922
If you run `ledger query %month=G` you'll see that this exapnds to `has_tag(/month/, /G/)`.

So `has_tag(/month/, /G/)` and `tag('month') =~ /G/` behave differently, which definitely seems surprising to me.

Input from @jwiegley would be good.

[2020-06-15 12:06] tbm commented on #1921
@paxperscientiam do you think you can get the Portfile updated?

[2020-06-15 17:09] moubctez opened #1926 "install_name issues on macOS"
I came across a problem when packaging **ledger** on macOS with PkgSrc (http://pkgsrc.org): the **install_name** of the shared library is not set correctly. I had to patch src/CMakeLists.txt to make it install correctly (CMake will apply a correct **install_name** during installation phase):

[code]

Also, when ledger is built with Python support, copying the „not yet installed” library to Python'

[2020-06-15 17:45] kwohlfahrt opened #1927 "Compilation warnings regarding implicit copy constructors"
When compiling with GCC 9, many warnings are produced regarding implicitly declared copy assignment operators, see below for an example. This is because the classes have a user-defined copy constructor.

[code]

I think, in most cases, this can be fixed by explicitly using the default implementation (`foo_t& operator=(foo_t& other) = default;`), since all the copy constructor does is call `TRACE_C

[2020-06-15 23:49] tbm commented on #1926
Adding @q3aiml

[2020-06-16 04:58] tbm commented on #1674
Confirmed

[2020-06-16 21:33] ahillio opened #1929 "how to enter transaction?"
Does `ledger` provide a way to enter transactions?  Or do I have to edit my `books.ledger` file in a text editor in order to enter transactions?

[2020-06-16 21:58] enderw88 commented on #1929
Ledger never alters the source file. You must edit it in a text editor.

On Tue, Jun 16, 2020 at 14:33 ahillio <notifications@github.com> wrote:

--
Craig, Corona De Tucson, AZ
[image: missile_flyout]
enderw88.wordpress.com

[2020-06-16 22:01] ahillio commented on #1929
thanks

[2020-06-16 22:01] #1929 closed

[2020-06-17 00:52] ahillio opened #1930 "how to do budgets?"
When I fill out the ledger filer according to https://www.ledger-cli.org/3.0/doc/ledger3.html#Budgeting-and-Forecasting I'm getting a miscalculated budget...

For books.ledger file with contents:
[code]

and running `ledger -f books.ledger --budget --monthly register` I get:

[code]
showing the checking account has been increased instead of decreased.

If I add `-` at the beginning of those period

[2020-06-17 20:44] ahillio commented on #1917
https://thenounproject.com/search/?q=accounting&i=2148899 could possibly work until someone comes up with something custom for ledger?

[2020-06-18 18:00] jwiegley commented on #1917
I like something along these lines: https://www.gettyimages.com/detail/illustration/paper-and-quill-icon-flat-graphic-design-royalty-free-illustration/492416202

Where there is a quill pen (to reflect the historical origins of double-entry accounting), and where the document behind has an "L" shape that could be brought out by another color, like a dark purple highlight.

Just one idea...

[2020-06-18 18:00] #1674 closed

[2020-06-18 18:25] jwiegley commented on #1925
Definitely a bug here. I changed one assert to:

[code]

And here's the calculation output:

[code]

This should work.

[2020-06-18 22:06] vegasj702 opened #1931 "Help"
I am trying to send BTC from my Ledger but I keep getting an error.

It says Something went wrong. Please reconnect your device
Ledger device: INS_NOT_SUPPORTED

What is going on because everything was fine until recently?

[2020-06-18 22:27] enderw88 commented on #1931
This is the wrong ledger.

On Thu, Jun 18, 2020 at 15:06 vegasj702 <notifications@github.com> wrote:

--
Craig, Corona De Tucson, AZ
[image: missile_flyout]
enderw88.wordpress.com

[2020-06-18 22:39] vegasj702 commented on #1931
Can you explain more please? I am confused

[2020-06-19 00:11] enderw88 commented on #1931
This is a list for ledger-cli, an accounting program.  I think you are
using some sort of phone app.  This is the wrong ledger.

On Thu, Jun 18, 2020 at 3:39 PM vegasj702 <notifications@github.com> wrote:

--
Craig, Corona De Tucson, AZ
[image: missile_flyout]
enderw88.wordpress.com

[2020-06-19 00:26] tbm commented on #1931
Please go to https://support.ledger.com/hc/en-us

[2020-06-19 00:26] #1931 closed

[2020-06-19 02:12] vegasj702 commented on #1931
OK thank you

[2020-06-20 03:57] aparkerlue opened #1932 "docs: mention --python/--no-python"
Ledger does not seem to recognize the `--import` option after being built with `./acprep update`.

However, the version of Ledger that comes with Ubuntu 18.04 does:

[code]

I tried the same invocation after building each Ledger version since 3.1.2, but they all return an error with `--import`. The fact that `--import` is unavailable when I build 3.1.2 but available in the Ubuntu version of 3.1.2

[2020-06-21 04:34] tbm commented on #1932
[code]

So you didn't built ledger with Python support.  Make sure to install the Python headers, etc, see README

[2020-06-21 04:36] tbm opened #1933 "Fails to parse numbers .xx in some cases"
Numbers like `.00` (i.e. without anything before the decimal point) are allowed, but in some cases ledger fails to parse them:

[code]

[code]

[2020-06-21 18:11] aparkerlue commented on #1932
@tbm—Thank you. I didn't realize that you have to build Python support explicitly, as this isn't documented in the [README](https://github.com/ledger/ledger/blob/v3.2.1/README.md). However I see that the `acprep --help` message mentions it.

On Ubuntu 18.04, I get the following error when building with Python support:

[code]

I had to modify `CMakeLists.txt` to make CMake find the Boost.Python li

[2020-06-21 23:09] aparkerlue opened #1934 "PyPI package for ledger.so"
It would be useful to have a PyPI package that provides `ledger.so` so that Python packages that `import ledger` could express a dependency on it. Is there currently a PyPI package for obtaining `ledger.so`?

If not, is there any interest in including the machinery for such a package in the Ledger codebase?

[2020-06-22 10:10] tbm opened #1935 "Lot value expressions: example from documentation doesn't work"
https://www.ledger-cli.org/3.0/doc/ledger3.html#Lot-value-expressions gives this example:

[code]

But:

[code]

[2020-06-22 10:21] tbm commented on #1911
issue #1935 is possibly another example

[2020-06-22 10:53] tbm opened #1936 "Parser: can't have lot note and virtual price on same line"
The first two transactions work fine, but if you add a lot note it fail with:

[code]

I guess the parser gets confused by the brackets.

[code]

[2020-06-23 00:28] jwiegley commented on #1922
They should certain not behave differently!

[2020-06-25 04:34] tbm opened #1937 "Use case: take VAT rate from meta-data, split expenses via meta-data"
See
https://groups.google.com/forum/#!topic/ledger-cli/4vqMu1rz6bQ

[2020-06-25 04:42] tbm commented on #1937
Example:

[code]

[2020-06-26 10:10] suyash192 commented on #1918
Yes, this does not work in prior versions to 3.2.0 as well. I luckily just happened to start using this feature on 3.2.0 and hence never noticed before.

Would there be any temporary workout for the time being until it gets properly fixed?

[2020-06-26 10:28] tbm commented on #1918
As a workaround, you can locally apply the patch from 49b07a1c19489547b.  This made it work (for you) but broke things (for other people).

@jwiegley do you have some time this weekend to looking at the various parser issues? I tagged some with the label "parser".

[2020-06-27 19:19] 7AhkMh3kWMjb opened #1938 "Feature Request: New Periodic Frequencies"
I would like to specify some transactions occur on a specific day of the week. (i.e. 'every friday')

I would also like to specify that some transactions only occur on the first N weeks of the month (i.e. 'first 4 weeks of the month').

[2020-06-27 20:01] enderw88 commented on #1938
Is this for ledger-mode in emacs?

On Sat, Jun 27, 2020 at 12:19 7AhkMh3kWMjb <notifications@github.com> wrote:

--
Craig, Corona De Tucson, AZ
[image: missile_flyout]
enderw88.wordpress.com

[2020-06-27 20:54] chrpinedo opened #1939 "Feature Request: link to attached files"
I think it would be interesting ledger-mode to support links to open documents.

In this git repository https://k.sfconservancy.org/NPO-Accounting/npo-ledger-cli/files/9f2a0cd1cc1bdeaec128e69a4b4c39687cb2c8c7/npo-ledger-cli-tutorial.md it is proposed to use tags in order to link documents such as invoices, receipts, purchase orders and other documents to transactions. For example:

[code]
It would

[2020-06-28 01:38] tbm opened #1940 "Assertion with price directive where both commodities are the same"
It would be nice to get a proper error message for a price directive where both commodities are the same:

[code]

Currently you get:

[code]

[2020-06-28 17:32] 7AhkMh3kWMjb commented on #1938
No.  I don't use Emacs.  My main ledger files are created from the bank csv files I download with some bash scripting.  I used standard text editor to create a couple other files containing my opening balances and my budget (periodic transactions).

[2020-06-29 18:57] jwiegley commented on #1918
Let me get taxes done, and then maybe I can take advantage of the fact that I'm on vacation for the first half of July.

[2020-06-29 19:17] kayb01000010 commented on #1930
This is how budgeting was implemented. The budgets will appear negative, so, when you spend on an expense, you add to that account and adding to that account will reduce the budget.

[code]
[code]

This intentional implementation of negatives for budgets is evident from [this news.md](https://github.com/ledger/ledger/blob/21280a9da3ca6ed70a10f95e1ef0717d5f65ee99/doc/NEWS.md#26)
Here,

That aside,

[2020-06-29 19:47] kayb01000010 commented on #1898
[This](https://www.gnu.org/software/texinfo/manual/texinfo/html_node/Inserting-Quote-Characters.html) (links to GNU docs) might be of help.

TeX uses ' for U+0027(apostrophe) and also for U+2019(right single quote)
U+2019 is being rendered in the pdf instead of U+0027

P.S. I'm not an expert. This is only my deduction 😅.

[2020-06-29 19:52] kayb01000010 commented on #1892
Solving https://github.com/ledger/ledger/issues/556 may solve this issue. It seems as if the payee functions don't apply to the payee tag in notes.

[2020-06-30 17:07] jadler commented on #1892
Thank you for the reply.

[2020-07-02 13:41] ennob opened #1941 "Error prone interpretation of '.' and ','"
In one of my ledgers I noticed an odd behavior in the output of the register report. Suddenly all amounts where multiplied by 1000.

[code]

After a lot of poking around I realized that the error was caused by an amount where I had accidentally used . (period) as a thousands separator instead of ',' (comma). Because of that every single number was reinterpreted with both '.' and ',' acting as thou

[2020-07-02 13:45] ennob commented on #1941
I would much prefer ledger to report an error along the lines of "inconsistent use of separators" rather than silently use the wrong ones. It would also be nice to have configuration variables that can specify the thousands separator and decimal point.

[2020-07-02 14:41] tbm commented on #1941
fwiw, there is `--decimal-comma`.

[2020-07-02 14:46] tbm commented on #1941
I don't think that's what happened or at least I don't see how.  I think what happened is that the numbers of precision increased (i.e. the number of digits after the decimal point).

[code]

[code]

Anyway, do you have a small test case?

[2020-07-02 14:48] tbm commented on #1941
In your example 450 became 450.000 (four hundred and fity) and 1,656.20 became 1,656.200.  Which is consistent with what I'm saying.

The problem: how is ledger supposed to know about your typo.  Maybe you wanted extra precision?  People who use crypto use a lot of precision.

[2020-07-02 18:29] ennob commented on #1941
Yes, I think you're right, the following example supports that explanation

[code]

The register report of the above is:

[code]

I see the problem of needing more digits of precision but I would expect the full number of digits to be displayed only if I use the `--unround` option. Is there another option I can set to force the output to two digits, or even better to trigger a warning if more than

[2020-07-08 02:45] daraul opened #1942 "No exception is thrown for balance assignments that should be unbalanced"
This is unusual, but please consider the two test cases below:

<details>
<summary>This one should throw an error, but doesn't</summary>

[code]

</details>

<details>
<summary>This one throws the error as it should</summary>

[code]

</details>

The two problematic transactions should work out to an identical set of postings. I hope I'm not mistaken.

The same thing seems to happen with real post

[2020-07-08 03:26] tbm commented on #1942
so basically the last transaction should be equivalent to:

[code]

(resulting in an error)

but what happens is:

[code]

[2020-07-08 03:27] tbm commented on #1941
I don't think that's possible at the moment.

[2020-07-08 03:43] tbm commented on #1898
Thank you. This works!

[2020-07-08 03:44] #1898 closed

[2020-07-08 03:44] tbm commented on #1934
I think it would be interesting if that's possible.

[2020-07-08 03:46] tbm commented on #1932
I'm reopening this issue since I agree this should be mentioned in README.

[2020-07-08 03:47] tbm commented on #1926
@q3aiml any comment on this?

[2020-07-08 03:50] tbm commented on #1921
@paxperscientiam do you think you can get the Portfile updated?

[2020-07-08 11:05] daraul commented on #1942
Correct. Any idea what the issue might be?

[2020-07-08 11:29] tbm commented on #1942
No, I'm not familiar with that code.

[2020-07-08 11:41] daraul commented on #1942
I'll work on a PR when I have some time.

[2020-07-08 19:17] kayb01000010 commented on #1827
i guess the OP wants a feature where virtual accounts only balance with other virtual accounts in a posting. This seems neither a bug (as sire jwiegley mentioned above) nor a documentation issue. Maybe this should be closed or tagged as a feature request ?

[2020-07-08 19:26] tysonliddell commented on #1827
@kayb01000010 but surely if the virtual accounts don't balance with the other virtual accounts using the `--real` option would cause transactions to no longer balance.

[2020-07-11 17:18] heyarne opened #1943 "Inconsistent behavior of --invert when combining with --collapse"
Collapsed amounts are not inverted when they come from different sub-accounts. This can be shown with the following example file:

`example.ledger`:
[code]

Running the following commands:

[code]

I would have expectet the `<Total>` to be -1100 EUR, effectively treating the collapsed amounts as if they came from a single account.

[2020-07-12 20:18] paxperscientiam commented on #1921
@tbm. I'll give it a shot!

[2020-07-13 04:56] paxperscientiam commented on #1921
OK, folks, I have a solution that Works for Me. In order to be sure that it will work broadly, I'm working with macports folks on narrowing down a bug on their end.

Portfile so far.

[code]

[2020-07-13 05:00] tbm commented on #1921
@paxperscientiam thank you!

[2020-07-15 10:11] chrpinedo opened #1944 "budget available for future time periods"
Hello,

for bugdeting purposes I use two commands that works with current or past time periods, for example:

- `ledger --budget -p "this month" reg ^expenses`
- `ledger budget -p "this month" ^expenses`

However, it doesn't work for future time periods. No output is displayed for time periods such as `-p "next month"` or `-p "next year"`. Even, the `-p "this year"` only displays the fulfillment o

[2020-07-16 09:24] chrpinedo commented on #1944
I found in reddit that `--now` argument can be used. For example, `ledger budget -p "this month" -now august ^expenses`. I close the issue. Regards.

[2020-07-16 09:24] #1944 closed

[2020-07-16 09:57] tbm commented on #1944
Can you check if this is covered in the ledger manual: https://www.ledger-cli.org/3.0/doc/ledger3.html

If not, maybe we should re-open the issue and maybe you could contribute something to the documenation.

[2020-07-16 16:08] heyarne commented on #1943
I just saw that this is probably the same as #1908.

[2020-07-19 21:04] paxperscientiam commented on #1921
OK, looks like we've got it working. Unfortunately, I think there's still trouble with Catalina.

[2020-07-21 17:34] chrpinedo commented on #1944
There are some mentions to the "--now" option in the ledger manual. But, perhaps, it would be interesting one example in the section 9.1 to propose its usage to know the budget of future time periods.

[2020-07-21 21:49] jwiegley commented on #1827
That's a great point, @tysonliddell. I think you're right that virtual accounts should only balance with other virtual accounts.

[2020-07-25 03:49] emin63 commented on #1659
Any update on this? I am a new ledger user and had a lot of trouble figuring out why my balance assertions were failing due to the use of the `include vanguard/*.dat` not reading files in a sane order. I discovered the order files were being read using the `--verbose` flag if that helps.

I think there are a couple of problems here:
  1. The documentation for the `include` directive is very terse

[2020-07-25 03:57] tbm commented on #1659
@emin63 there has been no progress but a PR would be very welcome.

I don't see how opening a new issue about the same issue is going to help?  What would the new issue cover that this one doesn't?

[2020-07-25 18:10] emin63 commented on #1659
OK. I can take a look and see if it is something I am capable of fixing. Can you give me a pointer to the relevant parts of the source code I should look at? When I search for `include` I get a hit on basically every file because of the `#include`.

Thanks.

Agreed. There was some discussion earlier in the thread that this was closed because the order was stable. I didn't know if the problem was l

[2020-07-27 00:49] d-e-s-o opened #1946 "Slowdown from 3.1.2 to 3.2.0?"
I just upgraded from 3.1.2 to 3.2.0 and found that the program is *noticeably* slower. I have a ~25k line file and while it previously was basically instant to get a report now I have to wait for almost two seconds for the result.

Now:
[code]

Before:
[code]

Is that slowdown expected? I understand the maintainers value performance somewhat so I am surprised to see that.

[2020-07-27 01:34] tbm commented on #1946
Please upgrade to 3.2.1.  The change that caused the slowdown has already been reverted.

[2020-07-27 01:43] d-e-s-o commented on #1946
Ah, awesome. My distribution doesn't have 3.2.1 packaged yet, but I'll try to make that happen. Thanks!

[2020-07-27 01:43] #1946 closed

[2020-07-27 04:04] tbm commented on #1941
I wonder if this makes sense:

https://hledger.org/journal.html#digit-group-marks
https://hledger.org/journal.html#declaring-commodities

i.e. have a `format` in the `commodity` directive.

[2020-07-27 04:04] NatalieGates opened #1947 "I'm not sure how to install scripts 😬"
I would like to install the report script located in `contrib/report`

How do I install `report` along my PATH? Can you explain this step-by-step? I'm very new to computer programming.

I used `brew install ledger` and `brew install gnuplot` on Mac OSX

[2020-07-27 04:06] tbm commented on #1916
hledger has solved this and I think the same solution makes sense for ledger:

https://hledger.org/journal.html#digit-group-marks
https://hledger.org/journal.html#declaring-commodities

i.e. have a `format` in the `commodity` directive.

[2020-07-27 04:07] tbm commented on #1916
To make searching easier: number with spaces, amounts with spaces

[2020-07-27 04:14] tbm commented on #1947
* Down from https://raw.githubusercontent.com/ledger/ledger/master/contrib/report
* Save as `report`
* Make it executable: `chmod +x report`
* Run it: `./report ...`

But I'm not sure this script is very useful.

[2020-07-27 04:36] NatalieGates commented on #1947
Thank you. It produced an error "gnuplot> set terminal x11 persist"

But, you mentioned it might not be useful... my end goal is to visualize my ledger data. Maybe someone could offer a solution for this? Something that would also allow me to visualize my budget data?

[2020-07-27 05:04] tbm commented on #1947
It would be best for you to post to the ledger mailing list: ledger-cli@googlegroups.com in order to get input from other users.

[2020-07-27 05:07] #1947 closed

[2020-07-27 05:31] enderw88 commented on #1916
This will break ledger-mode in places like reconciliation and lots of
REGEXs..

On Sun, Jul 26, 2020 at 9:07 PM Martin Michlmayr <notifications@github.com>
wrote:

--
Craig, Corona De Tucson, AZ
[image: missile_flyout]
enderw88.wordpress.com

[2020-07-27 10:36] tbm opened #1948 "doesn't reject invalid commodity in commodity format"
@zacchiro filed a [bug on ledger2beancount](https://github.com/beancount/ledger2beancount/issues/215) involving this ledger example:

[code]

I believe this is invalid ledger input that ledger should reject.

It's invalid in two ways:

1. CTG25 has to be a quoted commodity
2. It doesn't make sense to have two different commodities in the same `commodity` directive.

FWIW, hledger rejects this with

[2020-07-27 10:51] tbm commented on #1659
instance_t::include_directive in textual.cc

[2020-07-27 11:59] hugopeixoto commented on #1831
I just ran into this problem while using this feature. It took me a while to figure out what the problem was. Here's a simplified reproduction:

[code]

[code]

If I parse them as a single file, I get a balance of 10k:

[code]

If I parse them separately, I get 20k:

[code]

I had to add the 100 eur expense to avoid the "null amount per transaction" error in the single file scenario. It isn't trig

[2020-07-28 03:25] tbm commented on #1921
Closing since the problem isn't in ledger.

[2020-07-28 03:28] #1921 closed

[2020-07-28 03:39] tbm commented on #1920
I think this issue was fixed in 21280a9da3ca6ed70a10f95e1ef0717d5f65ee99 although @Amooti73 said that $PAGER was not set.

[2020-07-28 03:39] tbm commented on #1920
I'm closing this because I believe it's fixed.

[2020-07-28 03:39] #1920 closed

[2020-07-28 04:04] tbm commented on #1020
I thought PR #1901 would fix this but apparently not. @Rahix since you know this code now, do you think you can take a look?

[2020-07-28 04:05] tbm commented on #1670
same as #1188?

[2020-07-28 04:05] tbm commented on #1188
@TobiasZawada can you propose a pull request?

[2020-07-28 04:08] tbm commented on #626
Confirmed.  @enderw88

[2020-07-28 05:33] ngleb commented on #1670
I don't use cygwin, my build was made under msys/mingw32 which is a native binary for Windows.

I don't think it's the same issue. Mine was a problem with ```!include```, and the other ticket says that Cygwin ledger binary doesn't expand path properly when run from command line. mingw version doesn't have this problem.

[2020-07-28 06:41] Rahix commented on #1020
PR #1901 was only for register reports so it makes sense the balance report is still broken.  I.e. this issue is separate from what I was working on.  But if I can find some time in the next weeks, I'll take a look!

[2020-07-28 06:41] Rahix commented on #987
This issue can be closed now, I think?

[2020-07-30 05:44] Bradeskojest opened #1950 "Documentation and behavior of --average does not match"
In the [docs](https://www.ledger-cli.org/3.0/doc/ledger3.html#Budgeting), there is a statement:
[code]
but the command jut averages all the displayed values, even if they come from different accounts:
[code]

[2020-07-31 19:16] bitti commented on #1925
So is somebody working on this? Or should we have a more general discussion. Maybe this feature should just be removed, if nobody is using it and it isn't working as advertised?

[2020-08-01 01:01] tbm commented on #1925
@jwiegley can you look into this issue?

[2020-08-01 03:28] emin63 commented on #1659
Thanks. See proposed fix in PR https://github.com/ledger/ledger/pull/1951

[2020-08-04 10:16] fredfisch opened #1952 "man page explanation of `--depth` option is confusing / wrong?"
The recently revised explanation of the `--depth` option is confusing and seems wrong to me:

 [Reference](https://github.com/ledger/ledger/blob/41ca4a7551cdc0e06496006d2adb1f62ba5dab5b/doc/ledger.1#L508)

To me this means, that `--depth` behaves differently for balance and register reports, respectively. Is this actually true?

I'm currently on ledger-cli version 3.2.1 and in my tests the exact b

[2020-08-04 11:02] tbm commented on #1952
Adding @Rahix to clarify.

But I agree that `bal` and `reg` need the same behaviour.

[2020-08-04 11:40] Rahix commented on #1952
Yeah, the behavior is now the same for balance and register, that's what my PR was about.  The documentation could be rewritten to better clarify that, though, I agree ...

[2020-08-05 06:00] rsolvang commented on #1916
Thanks @tbm, sounds like hledger could be a better option for my use case 👍

[2020-08-07 01:57] d-e-s-o opened #1953 "Assertion failed in "ledger-3.2.1/src/session.cc", line 183:std::size_t ledger::session_t::read_data(const string&): xact_count == journal->xacts.size()"
Here are the contents of a journal file called `test.ldg`:
[code]

Here is what I do with it:
[code]

And this is the result:
[code]

That doesn't quite look kosher to me. Any idea what is going on?

[2020-08-07 02:12] tbm commented on #1953
This is a duplicate of #973

[2020-08-07 02:12] tbm commented on #514
This is a duplicate of #973

[2020-08-09 22:43] intdfdx opened #1954 "Incorrect .ledgerrc syntax in documentation"
To modify the input date format, I must enter the following in ~/.ledgerrc:
--input-date-format=%m/%d/%Y

This differs from the ENVIRONMENT section in the man page and the online manual (https://www.ledger-cli.org/3.0/doc/ledger3.html#Environment-variables) that suggests the proper syntax would be:
--input-date-format '%m/%d/%Y'

I am using Ledger 3.1.2-20190205 on Gentoo, if that matters.

[2020-08-09 22:47] simonmichael commented on #1954
To be clear, the problem is the quotes around the option argument. .ledgerrc is probably parsing them as part of the argument.

[2020-08-10 01:46] tbm commented on #1954
This works and is the easiest:

[code]

[2020-08-10 01:49] tbm commented on #1954
While the manual could be clearer, I don't see anything there that's actually *wrong*.

[2020-08-10 08:31] pedroalbanese opened #1955 "Compilation Error (Cygwin)"
Hi, I'm trying to compile Ledger in Cygwin, but I'm getting this error in the first step:

$ ./acprep update
acprep: INFO: Invoking primary phase: update
acprep: INFO: Executing phase: update
acprep: INFO: Executing phase: pull
remote: Enumerating objects: 4, done.
remote: Counting objects: 100% (4/4), done.
remote: Total 4 (delta 3), reused 4 (delta 3), pack-reused 0
Unpacking objects: 100% (4/4)

[2020-08-10 15:53] pedroalbanese commented on #1955
What I'm doing wrong?

[ 70%] Building CXX object src/CMakeFiles/libledger.dir/amount.cc.o
[ 71%] Building CXX object src/CMakeFiles/libledger.dir/stream.cc.o
[ 73%] Building CXX object src/CMakeFiles/libledger.dir/mask.cc.o
[ 75%] Building CXX object src/CMakeFiles/libledger.dir/times.cc.o
/home/0wner/ledger-3.1.1/src/times.cc: In member function ‘T ledger::{anonymous}::temporal_io_t<T, InputFace

[2020-08-12 02:34] bryanapperson commented on #697
I am still seeing this issue when non USD commodities are defined. It now presents as:

[code]

[2020-08-12 02:35] bryanapperson commented on #697
@tbm Is there a fix planned for this, or a workaround?

[2020-08-12 02:41] tbm commented on #697
No

[2020-08-12 19:54] jwiegley commented on #697
I think you're running into the overly-simplistic nature of the `--dc` format expression. Perhaps it could be improved, though.

[2020-08-14 05:34] jwiegley commented on #1659
This is now merged, please confirm!

[2020-08-15 02:54] d-e-s-o commented on #1953
Have any of the Python bindings been tested some time in this century?

[code]

[2020-08-15 04:33] tbm commented on #1953
If you'd look at the commit history instead of making snarky comments, you'd see that the port to Python 3 was finally completed recently.

However, there's no real maintainer for the Python bindings. Contributions welcome.

Tests pass for other people.

[2020-08-18 15:30] ArtBIT commented on #864
Any workarounds for this?

[2020-08-18 23:26] daraul commented on #1062
I knew I did this before, but couldn't find it mentioned in the docs, so I added an MR for that at #1956.

[2020-08-19 13:59] bryanapperson opened #1957 "Budget broken when commodities exist in budget accounts"
The ledger budget feature is broken when run on categories containing commodities. Seems like it would be easy to convert the commodities to market value before the amount conversion.

`$ ledger budget --period 'this month'`

[code]

[2020-08-19 14:08] bryanapperson commented on #1957
In particular the bug is here: https://github.com/ledger/ledger/blob/21280a9da3ca6ed70a10f95e1ef0717d5f65ee99/src/report.h#L479

[2020-08-19 14:13] bryanapperson commented on #1957
`ledger budget --period 'this month' -X $` passing the exchange currency makes things work.

[2020-08-22 10:42] valcomm opened #1959 "Assertion mixing virtual and real postings with same account is broken"
Ledger
[code]

compiled ledger from commit 718ba0e3139d365ffb7883cb2c937cfe23656506

[code]

at the same time on the same ledger file system ledger:
[code]

[2020-08-28 08:21] tbm commented on #1820
@billop there's a PR for this now, see #1960

[2020-08-28 18:05] jwiegley commented on #1820
Now merged. Thank you!

[2020-08-29 01:50] tbm commented on #1820
Implemented in c79674649dee7577d6061e3d0776922257520fd0

[2020-08-29 01:50] #1820 closed

[2020-09-01 08:44] Rahix commented on #1020
[`opt-depth_flat.test`](https://github.com/ledger/ledger/blob/master/test/baseline/opt-depth_flat.test) seems to test exactly the weird behavior described here.  I can't find history why it was added?  But the consensus here is that it should be changed (and thus the test with it as well), right?

[2020-09-05 16:59] scarpent commented on #1020
👍 from me, for what it's worth. 😀

Thank you for working on this!

[2020-09-08 20:20] waterhouse200 opened #1961 "Having error making transaction showing "Ledger: Index for address 'my erc20 address' not found""
Hi guys,

i need serious help as i cannot make any transaction as everytime i want to me a transaction Ledger: Index for address 'my own erc20 address' not found will appear and unable to proceed further how can i solve this issue?

Currently using metamask to connect to my ledger hardware wallet connect via Legacy address on brave browser. it was working fine previously and not sure why did the b

[2020-09-08 21:05] #1961 closed

[2020-09-15 05:14] JoachimC commented on #1845
I get a similar error trying to do `--dc`

[code]

the posting line looks like this:

[code]

(amounts/accounts changed)

[2020-09-18 00:54] daraul commented on #1959
I believe I made a mistake in my previous statement, I don't believe what I was thinking of doing would work. The assertion made to the `Assets:Debts:Reimb` account is wrong because it's made to a *real* account, whereas all previous postings were made to it's virtual counterpart (`(Assets:Debts:Reimb)`).

Therefore the correct assertion would be `(Assets:Debts:Reimb)  USD -30 = 0`

And your final

[2020-09-18 01:07] valcomm commented on #1959
I think there's a confustion between an account and a posting.  Account is singular entity (no real/virtual sides of it).  And transaction exists of regular postings (the ones that balance) and optional virtual postings (that might not balance).
At the end `bal` says that there is no any amount on Assets:Debts:Reimb account (aka = 0) for the provided example.
For me it looks like assertion takes a

[2020-09-21 19:06] daraul commented on #1959
Yes, there are virtual/real sides to an account. At least __now__ there are. In 3.1.2 an account's "real", or "virtual" balance was one and the same, meaning that the user could only assert an account's virtual balance, and not the real one. This was considered a bug as noted in #543, and it was fixed to allow the user to perform assertions on the account's real balance, by simply putting "... = 0

[2020-09-23 05:17] tbm opened #1963 "docs: --period not clear"
`--period` says:

But there's no explanation what `PERIOD_EXPRESSION` is.  It should link to: https://www.ledger-cli.org/3.0/doc/ledger3.html#Period-Expressions

[2020-09-23 16:32] brucer42 opened #1964 "payee uuid substitution not working"
I looked in the test directory and couldn't find a test for this, just for empty uuid
---- ledger version
ledger --version
Ledger 3.2.1-20200518, the command-line accounting tool

Copyright (c) 2003-2019, John Wiegley.  All rights reserved.

This program is made available under the terms of the BSD Public License.
See LICENSE file included with the distribution for details and disclaimer.

---- re

[2020-09-23 16:49] brucer42 commented on #1964
BUT *this* works:
ledger convert test.csv -f test.ledger --input-date-format "%m/%d/%Y" --account Asset --invert --rich-data | cat
2018/01/05 * description
    ; Balance: 10.000
    ; CSV: 1,01/05/2018,description,memo,-1.00,,10.000,,,-1.00 USD
    ; Debit: -1.00
    ; Imported: 2020/09/23
    ; Memo: memo
    ; Transaction Number: 1
    ; UUID: 9d66bd1b519b18697afcddec4b9aecc4bce69222
    expecte

[2020-09-23 16:50] brucer42 commented on #1964
BUT when I try "p" for my problematic payee it doesn't work.

[2020-09-25 07:32] #1062 closed

[2020-09-25 07:32] tbm commented on #1062
@daraul my apologies for the *huge* delay. Life got in the way... I've applied your patch now. Thank you!

[2020-09-29 05:08] valcomm commented on #1959
I think the issue in [#543](https://github.com/ledger/ledger/issues/543) wasn't fixed correctly.  As I mentioned before, account is a single entity.  Documentation only mentions "virtual postings", not "virtual accounts".  I'd say fix for 543 should be reverted.  Otherwise it'll grow in some monstrosity with not clear definition of what exactly is "virtual part of account" and what operations on i

[2020-09-29 11:23] daraul commented on #1959
I think you did miss something. The documentation mentions "virtual accounts" and "real accounts" multiple times.

---

From my understanding a "virtual posting" is simply a posting you would have omitted when passing the `--real` option.

As to the new syntax I can't speak whether or not it'd be the better option from a performance or "lines of code" perspective. I am not sure who I could mention

[2020-09-29 14:51] valcomm commented on #1959
Yes, I saw "virtual accounts" in the documentation.  All 7 mentions.  Some of those are for a different thing (transaction codes), some are misused (5.8 uses "virtual account", but actually means "virtual posting" I think).

I totally agree with your definition of "virtual posting".  But what is "virtual account" then?  Or maybe even "virtual side of an account"?
"Virtual posting" by such definiti

[2020-09-29 16:45] daraul commented on #1959
You can see the virtual balance of an account by using `bal`, and assert the balance of that account like so:  `[Assets:Checking]  -10 USD = 0 USD`. That will assert that the balance of the virtual account is 0.

If you wish to assert the real balance of the account you do the same thing, but without the brackets: `Assets:Checking  -10 USD = 10 USD`. This will assert the real balance of the accoun

[2020-10-05 19:28] brucer42 commented on #1812
setting initial balance to zero exhibits this bug. Very distracting.

[2020-10-10 06:40] hoxu opened #1966 "Tracking reimbursements with unbalanced lot dates"
Consider this example of paying for something and receiving reimbursement later, while also wanting to track the expense and income:

[code]

The lot date for the latter transaction seems to become `2020-11-01` (that lot date is not specified anywhere?), which makes it not balance out.

Is there any way to have unbalanced lot dates?

[code]

[2020-10-15 08:37] Anachron commented on #1957
Also got hit by this with ledger -J reg ^income ^expenses -X EUR`.

[2020-10-23 04:30] tbm opened #1968 "auxdate ignored if comment also contains a tag"
If you have a comment with an auxdate and a tag, the tag is added to the posting but it seems the auxdate isn't:

[code]

[code]

All of these dates should be 2018-02-02.

The tags are working:

[code]

[2020-10-23 04:32] tbm commented on #1968
Note that an auxdate followed by a comment (no tag) works fine:

[code]

[code]

[2020-10-23 04:35] tbm commented on #1968
Finally, metadata is not recognized but also causes the auxdate not to be shown.  So I guess the problem is if the comment contains a colon (`:`).

[code]

* `ledger -f d --effective reg assets:b -l "tag('foo') =~ /bar/"` -> only test 2 (a bug)
* `ledger -f d --effective reg assets:b` -> both 2020-10-22 (a bug)

[2020-10-30 06:54] tbm opened #1969 "Shows empty commodity"
This is a regression.

Ledger 3.1.2-20160801 - this is the Debian package, which was 3.1.2~pre1+g3a00e1c

[code]

Ledger 3.1.2-20190205:

[code]

Test case:

[code]

If you add

[code]

you'll see that there's:

[code]

so that explains why ledger wants to display something.  But it's still wrong, and a regression from previous behaviour.

Note that if you remove the transaction putting another co

[2020-10-30 07:44] tbm commented on #1969
git bisect says this was introduced in commit 557ab32d30bcca3622e06a6809a541a015e84aa3

    Expose a new utility function for balances: sorted_amounts

[2020-10-30 07:49] tbm commented on #1969
Commit 557ab32 dropped an `if (pair.second)`.

[2020-10-30 09:58] tbm commented on #1663
But minus the same value gives -4.78, which seems bad because things won't balance.

[code]

[2020-10-30 10:00] tbm commented on #1663
When I originally read this, I thought this makes sense but now that I look at it again I don't think it does.  I'm surprised this is what's "banker's rounding" because I don't think this is what banks do.

I think the right rounding is what Python's [decimal](https://docs.python.org/3/library/decimal.html) calls:

Or possibly decimal.ROUND_05UP. I'm not sure how that's different to ROUND_HALF_UP.

[2020-11-03 06:52] tbm commented on #1659
This was fixed in commit 8e55ba6929d1365e3f3f9441adcc94c92bc35330

[2020-11-03 06:52] #1659 closed

[2020-11-03 13:44] emin63 commented on #1659
Sorry for not confirming earlier. I didn't know if jwiegley was talking to me or tbm. In any case, I confirm the fix in master works for me. Thanks again for this great software.

[2020-11-10 04:42] tbm commented on #1966
It's the date of the transaction, which is an interesting bug.

[2020-11-10 04:44] tbm commented on #1966
This workaround works:

[code]

But the bug is that the lot date is not used when no cost is given and instead the transaction date is used.

[2020-11-10 04:54] tbm commented on #1954
@intdfdx can you point me to the docs that are wrong?

[2020-11-10 05:19] #1954 closed

[2020-11-10 05:19] tbm commented on #1954
I'll add an example to the docs to clarify.

[2020-11-10 06:08] #1963 closed

[2020-11-18 17:22] progo opened #1972 "Commodity split and renamed, --market misbehaves?"
Let's assume the following:

[code]

Now `ledger bal` gives me an output that I think is right.

[code]

But `ledger bal --market` does not look good or correct.

[code]

What do you think? Did I model this name change and split wrongly here?

[2020-11-18 23:31] tbm commented on #1972
@progo add the `--lots` option to see why this is not correct.

You need:

[code]

[2020-11-19 05:21] Bradeskojest opened #1973 "No way to catch state flags in automated transaction"
It is possible to match transaction and then use some of its attributes as a parameter. For example:
[code]
But this breaks down when using --pending or --cleared in the report, because the state flags from the original transaction are not applied.
So far I didn't find any way to re-use the 'flag' or 'state' argument, in the same way as $account, or amount. For example:
[code]

[2020-11-19 07:34] progo commented on #1972
Thank you very much @tbm. This leads the way, and also shows me how my files and technique may be missing out on other features as well.

[2020-11-19 07:34] #1972 closed

[2020-11-29 15:19] pepijn opened #1974 "`print` incorrectly omits amount for unbalanced virtual postings"
Consider the following journal file `journal.ldg`:
[code]
Happy path:
[code]
But if we pass it through `print` first, the journal becomes invalid:
[code]
We can see that it's caused by the omission of the second amount:
[code]
I believe that ledger shouldn't omit the second amount in case of virtual transactions.

Version:
[code]

[2020-11-30 01:22] tbm commented on #1974
do `print --raw` as a workaround.

[2020-12-03 00:02] hlg opened #1975 "Consistent concatenation of notes in format expressions"
Notes in format expressions include the posting and the transaction metadata. If there is both posting and transaction metadata, then those are concatenated with a space and thus formatted on one line. However, when there are multiple metadata entries for one posting, those are concatenated with a line feed, ending up on separate lines. This feels inconsistent and makes stringent formatting diffic

[2020-12-03 01:38] tbm commented on #1975
Can you please provide a test case and command line example.

[2020-12-03 09:19] hlg commented on #1975
Here is a test case.

[code]

With `ledger -f issue-1975.ledger --format "%P %A %t %N\n" reg AccountA` I get the following report:

[code]

My use case is that I have both a note and tag on a posting and I want to format a register report with these metadata in one line.
As a workaround, I have specified the note on the transaction, but that only works if the note applies to all postings equally.

[2020-12-04 14:29] naquad commented on #1450
The bug is 10 years old and it is still valid. Any chance it'll get some attention?

[2020-12-05 05:32] tbm opened #1976 "Give real-world example for automated transactions"
Something like https://www.reddit.com/r/plaintextaccounting/comments/k6sgs6/simplifying_multiitem_entry_with_some_items/

[2020-12-05 05:33] tbm commented on #1973
That sounds useful.  @jwiegley is that info in no variable at the moment?  Any pointers on how to add it?

[2020-12-05 05:34] tbm commented on #1975
This needs input from @jwiegley

[2020-12-05 05:36] tbm commented on #1976
Just to copy the example in case the reddit thread disappears:

    = /Expenses:Grocery:Household/
        Expenses:Grocery:Household    (roundto(amount * 0.0825, 2))
        Liabilities:CC:Visa           (roundto(-amount * 0.0825, 2))

If only some items are taxable, you can tag them and restrict the automated transaction to that tag:

    = /Expenses:Grocery:Household/ and %tax
        Expenses:

[2020-12-05 05:44] tbm commented on #1450
ledger is not very actively maintained, so it would be best if someone would investigate and propose a patch.

[2020-12-05 07:46] #1942 closed

[2020-12-08 16:41] moll commented on #1642
Seeing the same issue on Ledger v3.2.1 from Arch Linux.

[2020-12-09 12:31] hieu-van opened #1977 "Remove double quotes from commodity in reports"
Hey there, I think we should remove double quotes from commodities' name when generating reports. For example, ledger should output:

`12.34 pieces of XYZ  _________  Assets:XYZ`

instead of:

`12.34 "pieces of XYZ"  __________  Assets:XYZ`

If this is accepted, I'd like to help contribute some code.

[2020-12-09 13:08] tbm commented on #1977
That would be nice in theory, but I'm worried it might break.  Also the quotes are actually part of the commodity name.

So I'm not sure this is a good idea.

[2020-12-10 15:53] hieu-van commented on #1977
How exactly would it break? Also, what I meant was we only strip the quotes in the _generated reports_, not from the commodity itself i.e. it's still stored with quotes in the program.

It would be nice if the quotes are not stored in the program, only used to parse commodities' name that has spaces, but I think this should be looked into later.