[2020-12-11 02:27] tbm commented on #1977
I was thinking if someone was parsing the reports, it might break their scripts.

Anyway, I think this needs input from @jwiegley

[2020-12-15 04:31] hieu-van opened #1978 "Exchange rate is downloaded more than once for a commodity"
Hi, when I use `-Q` to make Ledger download exchange rates using my getquote script, it works fine except for a commodity, which Ledger makes many (20) attempts to fetch the rate instead, even all of them are successful.

In the getquote script, I only print the result once. There is no loop.

I wonder if this is a bug?

Ledger version: 3.2.1-20200518

[2020-12-16 02:31] hieu-van commented on #1978
Nevermind, I solved this by removing time from date output.

[2020-12-16 02:31] #1978 closed

[2020-12-18 01:50] kanreki opened #1979 "--forecast produces txns in the past when included file has multiple "year" directives"
Although the documentation is spare, I gather that forecasts are supposed to synthesize (imaginary) transactions in the future. But if an included file has multiple "year" directives, it seems the global `epoch` variable gets confused.

With the attached example files, I run this command (today's date is December 17, 2020):

[code]

I expect to see just four forecast transactions (January-April, 2

[2020-12-19 00:28] kanreki commented on #1979
It looks as if the code is treating the "year" directive as if it were a block operation: if I add "end" directives before switching years, then it seems to work properly. But that's now how "year" is documented: "Denotes the year used for ***all subsequent transactions*** ..."

Also (at least in this simple case) it looks as though Ledger adds an implicit "end" at the end of an included file, bef

[2020-12-20 14:46] claui commented on #1194
@tbm This looks like [an infinite loop in `bind_scope_t::define`](https://github.com/ledger/ledger/blob/051e4ab1ef82c58dc9563281ec14c02fc250e20f/src/scope.h#L189).

I ran your command line with the following debug categories and with `--verify`:

[code]

Right before the infinite loop happens, it looks like the `bind_scope_t` constructor gets called in a creepy way.
The caller ([post.cc:633](https

[2020-12-21 01:05] tbm commented on #1194
Thanks for your debugging @claui.  Hopefully that helps someone fix this issue.

[2020-12-23 18:12] alecigne opened #1980 ".ledgerrc and interactive mode"
Hello,

If I am not mistaken, it is not possible to override report scope options using `.ledgerrc` in interactive mode, only in "one-shot" mode (see details below).

Is there any way to override the default values in interactive mode as well?

Thank you very much for your feedback.

## Details

#### My `.ledgerrc`

[code]

#### Behavior in "one-shot" mode

[code]

-> `date-format` and `start-of-w

[2020-12-24 10:24] divansantana opened #1981 "custom report interval"
Is it possible to define a custom report interval?

So --monthly reports for each month.  However I run my month from 20th to 19th of the following month.

Is it possible to do this in ledger?

[2020-12-28 20:59] Tintom1 opened #1982 "Error: Automated transaction's posting has no amount"
Hi folks,
I'm running into some unexpected behavior with my automated transaction rules in ledger.

I want to split some of my expenses between me and my roommate. The file looks like this:
[code]

My goal is to catch all entries tagged with 'split_mate', deduct 50% of the expenses and move them to another account called Assets:Mate. Starting ledger with that file results in the following output:

[2020-12-29 02:47] tbm commented on #1982
[code]

[2020-12-29 02:47] #1982 closed

[2020-12-29 13:18] tbm opened #1983 "roundto() rounding issue: negative and positive not the same"
[code]

You get 0.78 and -0.77, which means that certain transactions won't balance.

Here's a test case:

[code]

gives:

[code]

Note that this issue is different to the rounding issue in #1663

[2020-12-29 13:26] Tintom1 commented on #1982
Unfortunately that didn't help.

[code]

[2020-12-29 13:40] tbm commented on #1982
[code]

You need two spaces between account name and amount.

[2020-12-29 13:44] tbm commented on #1982
also, you need to match on the account name but that's a different issue.

[code]

[2020-12-29 15:07] dmage opened #1984 "Unexpected output when --display and --collapse-if-zero are used together"
If I understand `--display` correctly, it controls what should be printed, but it shouldn't change figures. But in a rare case it changes figures.

I prepared a .dat file (below) that reproduces this case:

[code]

When I take cash from ATM, I immediately track them as expenses (I often forget to write down what I spent my cash on). And I use envelope budgeting.

Sometimes this approach gives me n

[2020-12-29 17:52] the-solipsist commented on #1663
Even through "rounding half up" is what is most commonly taught in school, I don't feel it is necessary or correct for the functioning of ledger, depending on what "up" means.  (Does "up" mean "towards +∞" or "away from 0"?)

The main requirement from a rounding function for accounting is symmetry of treatment between positive and negative numbers.  Thus, an appropriate rounding function would not

[2020-12-29 17:54] Tintom1 commented on #1982
Thanks! After adding a second space it worked as expected.

[2020-12-29 18:25] the-solipsist commented on #1983
This bug arises because `roundto` uses the function `ceil()`: https://github.com/ledger/ledger/blob/next/src/amount.cc#L685

The `ceil()` function rounds up towards +∞, as seen in [the examples on this page](https://www.geeksforgeeks.org/ceil-floor-functions-cpp/).  For financial accounting, one should use a rounding function rounds up/down away from 0, as I explained in a [comment to another issu

[2020-12-29 20:31] the-solipsist commented on #1983
If `ceil()` is used internally for purposes other than providing the `roundto()` function for users, then that should be fixed.

However, insofar as `roundto()` is concerned, an easy workaround (as pointed out [on the mailing list](https://groups.google.com/g/ledger-cli/c/f47jLxyLwyQ/m/x4xSF8oEBgAJ)), is to place to the minus sign outside of the `roundto()` function.

[code]

If it isn't worth rep

[2020-12-30 03:36] tbm opened #1985 "Mention aux_date for queries"
This can be used to query based on the aux date:

[code]

It's currently not documented.

See https://groups.google.com/g/ledger-cli/c/_NpAy0cndhg

[2021-01-02 08:26] ftwang opened #1986 "Exchange flag for unicode currency not working under Windows"
I can't seem to get the exchange flag working under Windows, for currencies represented using unicode characters.

**foreign_currency.ledger**
[code]

**Expected Results (Working on MacOSX)**
[code]

**Unexpected Results (Windows 10)**
[code]

I have tried changing the code page to Unicode for the Windows command prompt
[code]
but still the same results.

If I set the exchange flag to USD, the res

[2021-01-08 09:15] tbm commented on #1986
I suspect that despite setting `chcp 65001` the pound symbol from the command line is getting garbled.  At least that's my hunch.

I don't know what you can do about... apart from using `GBP` instead of the symbol.

[2021-01-08 09:30] tbm opened #1987 "--flat not flat: show totals of all subaccounts in some cases"
After reading the docs, I'm not sure this is actually a bug in the described behaviour, but it's certainly unexpected and, more importantly, inconsistent behaviour, so I'd say it's a bug.

The default "tree" view totals up everything for each sub account.  So if you have Assets:Current:Foo with 10.00 EUR and Assets:Current:Bar with 10.00 EUR, the tree view will show Assets:Current with 20.00 EUR a

[2021-01-08 09:33] tbm commented on #1987
The second test case had two commodities but this actually isn't necessary to show the problem.  One commodity also shows it:

[code]

and:

[code]

but:

[code]

I would expect:

[code]

[2021-01-12 10:13] thoelze1 opened #1988 "Tracking cashback?"
I'm brand new to ledger. One of the things I want it to do is track cash back. This seems like a perfect use case for automated transactions. However, my credit card company offers different levels of cash back depending on the expense. This means that the automated transaction would need to check multiple postings for each transaction before adding its posting: *If* a transaction with a debit fro

[2021-01-12 15:14] tbm commented on #1988
I'm not a fan of autoamted transactions but it can be done:

[code]

[2021-01-12 15:14] #1988 closed

[2021-01-13 02:08] tbm commented on #1911
A workaround is to put quotation marks around the expression, e.g.

[code]

And just to give the error message since this hasn't been mentioned before.

Without quotes, i.e.:

[code]

you currently get:

[code]

[2021-01-14 16:34] josephernest opened #1990 "Support for +amount"
Hi! I noticed this:

[code]

gives: `Error: No quantity specified for amount`.

Without the `+`, it works. For simplicity, do you think `+10.00` could be accepted, as well as `10.00`?

[2021-01-17 02:22] tbm commented on #1721
@q3aiml any chance you could look at this issue?

[2021-01-17 02:26] tbm commented on #1986
I'm copying @coonce who may have run into this issue because there were some changes in #1971 that might have fixed this (but they were reverted because of introducing a new dependency).

[2021-01-17 02:31] tbm commented on #1986
see https://github.com/ledger/ledger/pull/1971/commits/c35a8387171488e47e8a6363261b5b152f21ba0c

[2021-01-17 12:04] OJFord opened #1992 "Alphanumeric commodity specifiers"
I tried to use an [ISIN](https://en.wikipedia.org/wiki/International_Securities_Identification_Number) as a commodity specifier (since tickers can be ambiguous) but it gives an error due to the numbers:

After a couple of guess attempts at escaping it (e.g. `... 123 '<alphanumberic string>' @ ...`) I found [in the docs](https://www.ledger-cli.org/3.0/doc/ledger3.html#Commodities-and-Currencies) th

[2021-01-17 15:02] tbm commented on #1992
This works fine, as long as you used a quoted commodity:

[code]

[2021-01-18 03:19] simonjpascoe commented on #1992
Side note: ISINs are not market specific, they can ambiguous as well (e.g. HSBC Hong Kong and HSBC London share the same ISIN).

[2021-01-18 13:49] OJFord commented on #1992
@tbm Thanks! It seems I didn't try _double_ quotes... 🤦🏻 The docs could do with an update then though, I can't find a mention of that.

@simonjpascoe I think that's just because HSBC is cross-listed in HK & London, so it's the same security (price should track w.r.t.  GBX/HKD) and thus the ISIN uniquely identifies 'both'? It's a good point, but I think for the distinction to matter you'd have to b

[2021-01-18 13:49] #1992 closed

[2021-01-18 13:54] simonjpascoe commented on #1992
They trade independently, not 100% the same but supposed to reflect the same _amount_ of HSBC in the share (subject to a scaling factor). The prices are going to reflect each other. You can hold both, if you _really_ wanted to, but just a general note for others reading for completeness.
(I have tried to hold a local + adr before, but the end didn't, but those have different ISIN anyhow...).

[2021-01-20 10:18] porridge opened #1993 "Tags values can become spontaneously uninitialized"
In some cases I'm getting errors such as:

[code]

Close investigation shows that this happens in some cases when using `--sort` and tags.
I managed to come up with a [minimal repro case](https://github.com/porridge/ledger-issue-repro) input file consisting of two postings. However the error does *not* happen when:
- processing each of the postings individually, or
- [changing the value of the tag

[2021-01-20 10:28] porridge commented on #1993
In my original huge ledger file I can also reproduce this without `--sort` so I've changed the issue title to not mention that. Let me see if I can come up with a minimal repro for that.

[2021-01-20 10:30] tbm commented on #1993
Just to copy one of your examples into the bug itself.

[code]

and:

[code]

[2021-01-20 10:30] tbm commented on #1993
`--debug item.meta` shows it's being set:

[code]

[2021-01-20 10:34] tbm commented on #1993
It's interesting that this date works:

[code]

while one day later fails:

[code]

[2021-01-20 10:37] tbm commented on #1993
oh, interesting... if I change the date on the transaction then it works.  So it seems the bug is related to the DIFFERENCE between the date on the transaction and the date of the tag.  Maybe some overflow.

This fails:

[code]

changing 2010-08-31 to 2010-09-01 makes it work:

[code]

[2021-01-20 10:38] tbm commented on #1993
@porridge congratulations for reporting the most interesting bug I've seen in ledger. ;)

Hopefully someone can debug this.  Unfortunately @jwiegley is quite busy at the moment.

Maybe you can investigate some more.

[2021-01-20 16:09] porridge commented on #1993
I managed to come up with a [minimal repro case](https://github.com/porridge/ledger-issue-repro/tree/without-sorting) for crash that does not require `--sort`. I also set all dates to be within 1 day of `1950-01-01` to rule out the possibility of 32-bit time problems that wrap around year 2038.

Basically run `ledger --market -f repro.ledger --limit "has_tag('ending')" --format "%(format_date(tag(

[2021-01-20 20:08] rjurga opened #1994 "Resetting a balance doesn't work with multiple journal files"
Suppose we have a file `journal_1` containing
[code]
and a file `journal_2` containing a balance reset:
[code]
Then running `ledger --args-only -f journal_1 -f journal_2 balance` yields
[code]
instead of the expected reset balance `1.00 €`.

[2021-01-21 07:39] porridge commented on #1908
I [noticed this yesteday in combination with `--collapse`](https://github.com/porridge/ledger-issue-repro/tree/invert-collapse-broken).

Note that this means that data exported with `-n -j --invert` (for example to graph one's income) is plain wrong :cry:

[code]

[2021-01-21 07:53] porridge commented on #1908
For whoever hits this in the future, a workaround might be to use `--format '%(-quantity(amount))'` rather than `--invert`.

[2021-01-22 16:04] porridge commented on #1020
I hit this today trying to export amounts and account names from a balance report with the goal of making a pie chart.

In case others find it useful, it looks like `--balance-format` can be used as a workaround.

For my use case, `--depth 2 --balance-format='%(account),%(quantity(display_total))\n' --no-total balance` did the trick!

Thanks for making `ledger` so flexible!

[2021-01-24 08:45] Bradeskojest opened #1995 "--related-all does not work properly with automated transactions. It's ignoreing them"

[2021-01-24 12:35] blatte opened #1996 "Add a "capital_gain" value expression variable"
Just like there's the "amount" value expression variable, it would be useful to have something like "capital_gain" value expression variable for the realized capital gain (or loss) on the account in the posting.

Since this is possible with the "-G" option in reports, maybe this could be added. One of the obvious use case would be to automatically calculate taxes on profits made on selling stocks.

[2021-01-28 16:02] aramirezverbio opened #1997 "How to specify multiple files in LEDGER_FILE environment variable?"
I am running ledger 3.2.1-20200518 on an up-to-date Arch Linux on x86_64. I installed it from the official Arch repos.

I can specify multiple ledgers in the command line by adding them with `-f` like `-f file1 -f file2`, but how could I achieve the same effect using the `LEDGER_FILE` environment variable? [This site](https://linux.die.net/man/1/ledger) shows a ledger manpage saying:

But this is

[2021-01-30 11:23] Christoph-D commented on #1996
Ledger's double-accounting method already tracks capital gains in each posting explicitly or the amounts wouldn't match (example on https://www.ledger-cli.org/3.0/doc/ledger3.html#Buying-and-Selling-Stock). The balance on this artificial `Income:Capital Gains` account shows the net gain/loss (the name is of course arbitrary).

The `-G` option works on the database of historical prices. I may be wr

[2021-01-30 13:22] Christoph-D opened #1998 "Assertion error if multiple commodities are in one posting"
In some cases, multiple commodities in the same posting trigger an assertion error. A minimal example:

[code]

[code]

This regression was caused by commit 501fbc08ae5493db77bb34f4c4fbe1f3a3bc14e3 ( @jwiegley ) "Change compare_by_commodity to return an integer", because the commit did not only change the return type, it also changed the function's behavior to not always return after the recursive

[2021-01-30 15:46] tbm commented on #1998
Fixed in b155f8928c6a33af42f859b27c83639b72517f5e by @Christoph-D

[2021-01-30 15:46] #1998 closed

[2021-01-31 01:59] #1120 closed

[2021-01-31 12:47] blatte commented on #1996
You are correct, the -G option is based on historical value and this is exactly what I wish for in a capital gain expression. Let's take the example from the doc.

Buying:
2004/05/01 Stock purchase
    Assets:Broker                     50 AAPL @ $30.00
    Expenses:Broker:Commissions        $19.95
    Assets:Broker                  $-1,519.95

Selling:
2005/08/01 Stock sale
    Assets:Broker

[2021-01-31 14:05] Christoph-D commented on #1996
So what you want is a posting like this:

[code]

but without having to calculate `$3130.05` by hand?

I think the posting needs to mention the `Assets:Broker` and `Income:Capital Gains` accounts in any case or it wouldn't balance, so `Income:Capital Gains` can't be only in an automatic transaction. But maybe it's possible to automatically calculate the amounts for both (I don't know).

[2021-02-02 09:45] #556 closed

[2021-02-02 09:45] #1892 closed

[2021-02-02 10:27] tbm commented on #1992
@OJFord I was just looking to see if the documentation needs to be clarified but there is an example:

[2021-02-02 10:43] #1905 closed

[2021-02-02 10:43] #1986 closed

[2021-02-02 10:56] tbm commented on #1721
@scfc @q3aiml can someone submit a patch for this?  It sounds like this needs to be fixed.

[2021-02-02 11:24] tbm commented on #1986
@ftwang can you try the master branch from GitHub and report if this is working now.  The fix from @coonce should have fixed this.

[2021-02-04 19:35] kanreki commented on #1997
The way I deal with it is to have one small main file, consisting of nothing but a few "include" lines. You could think of it as a manifest, or table of contents:

[code]

[2021-02-06 20:12] panthia opened #2000 "docker latest not found"
docker pull dcycle/ledger
Using default tag: latest
Error response from daemon: manifest for dcycle/ledger:latest not found: manifest unknown: manifest unknown

[2021-02-07 01:28] tbm commented on #2000
@alberto56 can you comment on this?

[2021-02-07 01:29] tbm commented on #2000
@panthia please report this at https://github.com/dcycle/docker-ledger/   - this is where the ledger docker image is created.

[2021-02-07 14:16] alberto56 commented on #2000
As documented in https://github.com/dcycle/docker-ledger/issues/11, please use the tag "1", not "latest":

    $ docker pull dcycle/ledger:latest
    Error response from daemon: manifest for dcycle/ledger:latest not found: manifest unknown: manifest unknown
    $ docker pull dcycle/ledger:1
    1: Pulling from dcycle/ledger
    4c0d98bf9879: Pull complete
    e70c545db2ab: Pull complete
    633c50

[2021-02-08 08:31] dslad opened #2001 "Wrong calculation due to incorrect expression parsing with subtraction"
This works as expected (with a space between '3' and '-')
[code]
But this transaction is silently ignored, I guess because the expression incorrectly evaluates to zero
[code]

[2021-02-08 09:17] tbm commented on #2001
I don't know, but you are absolutely right.

[code]

Debug:

[code]

[2021-02-08 09:18] tbm commented on #2001
`--debug expr.calc` says:

[code]

[2021-02-08 09:21] tbm commented on #2001
Even simpler testcase:

[code]

debug:

[code]

[2021-02-08 09:22] tbm commented on #2001
These all work fine:

[code]

[2021-02-08 09:23] tbm commented on #2001
This was actually reported before, see #1809

[2021-02-08 09:24] tbm commented on #1809
Confirmed, same issue as #2001 which has some debug logs showing the subtraction is incorrectly calculated as 0.

[2021-02-08 11:35] enderw88 commented on #2001
none of those have a commodity assigned.  Does subtraction work if it does
have a commodity assigned?

On Mon, Feb 8, 2021 at 02:22 Martin Michlmayr <notifications@github.com>
wrote:

--
Craig, Corona De Tucson, AZ
[image: missile_flyout]
enderw88.wordpress.com

[2021-02-08 11:58] tbm commented on #2001
yes, but imho that's not the point since a) value expressions support math, b) the original example had a commodity somewhere in the expression, and c) ledger doesn't require commodities.

[2021-02-08 13:25] dslad commented on #2001
The problem seems to be in the **parse_quantity** function in [amount.cc](https://github.com/ledger/ledger/blob/master/src/amount.cc).

Compiling with the offending "**|| c == '-'**" removed seems to function properly on the trivial examples.
I can't think why hyphens should be allowed in quantities (unlike of course . and , ) ... but there may be a reason?

[code]

[2021-02-08 13:36] enderw88 commented on #2001
Negative signs?

On Mon, Feb 8, 2021 at 6:25 AM dslad <notifications@github.com> wrote:

--
Craig, Corona De Tucson, AZ
[image: missile_flyout]
enderw88.wordpress.com

[2021-02-08 13:38] panthia commented on #2000
I did try the first example but that did not work either. The pull command that I copied was from the docker site https://hub.docker.com/r/dcycle/ledger/

I don't see anything in the readme about downloading examples but I did do that based on the information on the docker page.

Here is what happens when I try to run the first example.

[code]

I then tried changing permissions to be sure that wa

[2021-02-08 14:04] dslad commented on #2001
:) Seems still to recognise a minus sign at the beginning of a quantity to make it negative. It's the ones in the middle of numbers that were causing problems...

[2021-02-08 14:07] dslad commented on #2001
:) Seems to still recognise minus sign at the beginning of a quantity - it's ones in the middle that were causing problems.

[2021-02-08 14:08] alberto56 commented on #2000
That's because you need to have a file called ./examples/sample.dat.

For example, let's say you have a local file called /Users/me/Desktop/some-somefolder/sample.dat that you want to manage, you can run this:

    docker run --rm -v /Users/me/Desktop/some-somefolder:/data dcycle/ledger:1 -f /data/sample.dat reg

The -v parameter shares the local /Users/me/Desktop/some-somefolder directory with /d

[2021-02-08 14:09] alberto56 commented on #2000
@panthia your support request is related to https://github.com/dcycle/docker-ledger, so if you need further clarification please open an issue there.

[2021-02-08 15:17] panthia commented on #2000
Ahh. Thank you so much, that works.

[2021-02-09 02:13] tbm commented on #2000
Closing

[2021-02-09 02:13] #2000 closed

[2021-02-09 05:55] panthia opened #2003 "man 4.6 Keeping it Consistent"
I am having difficulty understanding how to use --strict. man says to **create a separate text file** but I don't understand how this separate file gets used.

I used drew3.dat and added a transaction but misspelled an account to test. Not using any separate text file, since I can't figure out how, I tried
`ledger -f drew3.dat bal --strict
`
 I get a warning about a nestedtag. If I try
`ledger -f

[2021-02-09 06:07] tbm commented on #2003
There's no need to create a separate file.  You can put declarations at the top of your ledger file.

I'm not sure I follow what you're seeing.  A small test case would be useful.  In my tests `--strict` works as expected.

[2021-02-10 00:10] tbm commented on #2003
What output do you get with `--strict` and what version of ledger are you on?

[2021-02-10 13:24] panthia commented on #2003
Line 65 is the start of the last entry and line 68 is the last line of the file. There are no comments on those lines.

Ledger 3.1.3-20190331
Warning: "/home/data/test.dat", line 65: Unknown metadata tag 'hastag'
Warning: "/home/data/test.dat", line 65: Unknown metadata tag 'nestedtag'
Warning: "/home/data/test.dat", line 67: Unknown account 'Expenses:Food:Grocerie'
Warning: "/home/data/test.dat",

[2021-02-11 03:16] tbm commented on #2003
The behaviour of `--strict` slight changed in 3.2.x.  I suggest you upgrade.  In the meantime, on 3.1.3, try if `--strict --explicit` gives you the result you expect.

[2021-02-12 23:48] jibcage opened #2004 "Feature request: support for wasm/emscripten compilation targets"
(If someone has gotten this working already, please let me know!)

Having the `acprep` script support configuring compilation for use with emscripten would make it possible to embed libledger and ledger commands into web applications, and other applications that use Electron as a backend.

As far as manual steps go, I have gotten as far as using [this guide](https://stackoverflow.com/questions/410

[2021-02-16 00:19] Gumnos opened #2005 "--permissive doesn't take effect when elided transactions have balance assertions"
I found a case that seems to be a bug.  The context:

    $ cat test.ledger
    2021-2-14 Test transaction
      Liabilities:Visa  $3141
      Assets:Checking  =$12345
    $ ledger -f test.ledger bal

As expected, this produces balance assertion errors. According to the docs, I *should* be able to use `--permissive` to quiet balance assertions, yet it seems to still be trying to assert the balance

[2021-02-16 21:01] ThatIsAPseudo commented on #1204
Is there any news concerning this issue ?
I'm using ledger along a custom web interface, and I'm trying to get the list of all pre-declared accounts through the `balance` and `register` commands, I thought `--empty` would be the way to go.
I wrote a Python script to create a dummy transaction for each line in my `accounts.ledger` file, I don't know if it can help with this issue.

[code]

Btw, man

[2021-02-16 21:16] ThatIsAPseudo opened #2006 "Conda-forge ledger package isn't available"
When trying to install ledger from the conda-forge repo, it fails. The package isn't available anymore, this may be related to the fact that [the current build status on conda-forge/ledger-feedstock](https://github.com/conda-forge/ledger-feedstock#current-build-status) shows "disabled" for every OS. Should I open an issue there instead ?

[2021-02-17 03:55] tbm commented on #1204
No, someone would have to submit a patch.

[2021-02-17 03:56] tbm commented on #2006
@twrightsman added this. Maybe he knows something.

[2021-02-17 16:40] twrightsman commented on #2006
Yes, I think this would be more appropriate in the feedstock repository, this isn't a ledger issue. @ThatIsAPseudo Go ahead and ping me again in an issue there and I'll take a look.

[2021-02-20 16:31] OJFord commented on #1992
@tbm So there is, thanks, I hadn't seen that, it was the sentence:

that made me think it couldn't be.

A related issue by the way is that quoted commodities appear in output, `csv` & `xml` for example, with quotes. Which of course is inappropriate since then whatever they're being passed to is interpreting them as strings anyway, so they are parsed (correctly) as strings containing quotes.

[2021-02-21 16:29] OJFord commented on #1935
Similar issue with `--amount`/`-T` - https://www.ledger-cli.org/3.0/doc/ledger3.html#Commodities-and-Currencies gives this example:
[code]

But:
[code]

(Likewise with GBP, £, USD, CAD, EUR - which are what I actually have data for.)

[2021-02-22 04:40] jblachly commented on #1070
See this similar hledger feature request: https://github.com/simonmichael/hledger/issues/1073

[2021-02-24 16:30] OJFord opened #2007 "CSV output invalid escape sequence"
`ledger csv` renders escaped quotes inside fields (for example, from a description `John's Hardware - bought 2" rubber nails`) as `\"`. Per the grammar in [RFC4180](https://tools.ietf.org/html/rfc4180#section-2), and common parsers, this is incorrect, and should instead be a sequence of two double quotes `""` (as mad as that is).

Concretely:
[code]

renders:
[code]

but we expect:
[code]

[2021-02-24 16:36] OJFord opened #2008 "Quoted commodities retain quotes in CSV output"
Some commodoties, such as those including numbers, need to be quoted in order to parse as commodities:
[code]

Quoted or not, commodity identifiers are always conceptually a string, and this is reflected in `ledger csv` output:
[code]

what is not expected, is that where we had to quote the commodity, the quotation marks are retained in the value - i.e. the field is a string whose value starts and

[2021-02-25 17:37] dersuchmann opened #2009 "Incorrect display of nested account balances if parent balance is zero"
There is something off how accounts are displayed **in the balance report** if a parent account is zero AND there is only a single non-zero sub-account. Take this example:
[code]

The balance report displays:
[code]

Now my question: What are the amounts of `Right Column:Account 1` and `Left Column:Account A`  (not the sub-accounts)?

From the balance report, we would assume `Right Column:Account

[2021-02-25 17:47] dersuchmann commented on #2009
From further testing, I assume there is an error in the function that does the "merging" (i.e. displaying "Left Column:Account A:Sub-Account" in only one line instead of a nested tree view) that **in cases where there is only a single sub-account, merging is done if the parent account amount is zero**. But correct would be **...if the parent account amount is equal to the sub-account**.

I assume

[2021-02-25 19:14] dslad opened #2010 "commodity alias mustn't be in quotes"
[code]
doesn't work as expected but
[code]
does and is the same as
[code]
which is unexpected behaviour.

[2021-02-26 19:21] chrpinedo opened #2011 "post date not considered for lots"
Example file:
[code]

The lot date is the transaction date, however it should be post date:
[code]

I seems that there some limitation with lot dates. Besides this bug, I also reported that [effective dates are useless with lots](https://github.com/ledger/ledger/issues/1837).

[2021-02-27 04:52] tbm commented on #1837
Lots only have one date.  There is no "effective" date for lots.

What is the use case you have in mind here?

[2021-02-27 04:54] tbm commented on #2011
A posting date, as the name suggests, is for a *posting*.

The syntax you want is:

[code]

i.e. you specify the *lot* date.

[2021-02-27 04:56] tbm commented on #2011
Oh, I see now what you mean.  I guess you have a point there.

Since the posting has a posting date, the lot date should follow the date of the posting rather than the date of the transaction.

[2021-02-27 08:46] chrpinedo commented on #2011
Yes, perhaps it could seem to be a strange use, but i was trying to use it in that way

[2021-02-27 09:09] chrpinedo commented on #1837
I am exploring the possibilities of dates with lots (also the ticket #2011) because we have an special use case in Spain regarding the transfers among mutual funds. In Spain, according to tax legislation, when we transfer shares of one mutual fund to another mutual fund (sell shares of one mutual fund to buy shares of another mutual fund) the capital gains or losses are delayed to the final sell o

[2021-02-27 14:43] heymo opened #2012 "Bug when reconciling in emacs ledger"
When trying to reconcile I get the following in the emacs, and the reconcile buffer shows up blank:

`ledger-exec-ledger: Wrong type argument: number-or-marker-p, "Abort trap: 6"`

GNU Emacs 27.1 (build 1, x86_64-apple-darwin20.2.0)
ledger-mode        20210221.1315
Ledger 3.2.1-20200518

[2021-02-28 09:01] chrpinedo commented on #1832
A duplicated issue #1995 has been reported

[2021-02-28 09:11] chrpinedo opened #2013 "Virtual posts not shown with "--related""
It seems that virtual posts are not shown with related.
Example:

[code]

"--related" does not work right:

[code]

[2021-03-01 10:10] hieu-van opened #2014 "Regex query string is not evaluated on Termux"
Hi there, I'm using Ledger 3.2.1-20200518 on Termux 0.108. I'm not able to use regular expression in query string, unlike on Linux. Is this a bug?

[2021-03-01 10:21] tbm commented on #2014
It's probably your shell interpreting some characters.  Try putting the argument into quotes, e.g. like this:

[code]

[2021-03-01 14:22] hieu-van commented on #2014
I tried adding quotes but it didn't work (both double and single quotes). The problem persists in REPL, even with quotes.

[2021-03-02 01:29] tbm commented on #2014
Can you show the query you're trying?

Does it work without termux?

[2021-03-02 02:35] hieu-van commented on #2014
Nevermind, I solved it myself. It was due to the shell interpreting an Unicode character as two characters, thus I have to use 2 dots in regex, not one.

[2021-03-02 02:35] #2014 closed

[2021-03-02 13:24] fancsali opened #2015 "Feature proposal: Honour date order with balance assertions"
I am proposing to find a solution to make the balance assertions honour the dates and not the file order, so one can keep their journal in separate files, and include them with something like `include statements-*.ldg` into the main file, without worry.

I keep coming back to this problem, and I think, it'd be great if `leger` could address this. I know, there are several workarounds, but they rea

[2021-03-11 17:31] guivho opened #2016 "Ledger-cli shows wrong lines when reporting balance error"
I am running Ledger 3.2.1-20200518 (installed via chocolatey) on a W10 box.

When I have a balance error, ledger reports the related line numbers correctly but the content lines shown in the error report are completely off:

`
While parsing file "c:\guivho\ledger\.\boekhouding.ledger", line 6638:
While balancing transaction from "c:\guivho\ledger\.\boekhouding.ledger", lines 6620-6638:

Unbalanced

[2021-03-14 07:50] hieu-van opened #2017 "In a chain of unit conversion, only prices/rates of the unit of smallest value is considered"
Hi there,

I don't think this is really a bug, but let's say we have a conversion chain like this:

- 1.00 A = 1000 B
- 1.00 B = 1000 C
- 1.00 C = 1000 D

When I want to download exchange rate using `-Q` or convert them to home currency using `-X`, only the prices (or rates) for D is parsed (or downloaded), while A, B and C are all ignored.

Because of this, I suggest parsing all units in a conver

[2021-03-15 11:08] Anachron commented on #1997
Yes, I think the correct way to handle this is as @kanreki has pointed out using includes.

[2021-03-19 23:15] brucer42 opened #2019 "account name with embedded spaces in automated transaction needs quoting"
account liabilities:a
account income:b c
= income:b c
    liabilities:a  -1
    equity:adjustments 1
2021/03/18 * test
    income:b c  $1.00
    equity:adjustments
liabilities:a doesn't get changed
but with
= 'income:b c'
it works
*really a bother to track down*
Also can't find the
'= <account name>'
in the documentation for automated account
seems to be equivalent to
'expr /regex/"
or something

[2021-03-26 21:39] IbisLiven commented on #2015
This effects me as well.

I like to keep my journal in reverse chronological order so its easier to add entries manually (don't need to scroll to bottom of file to add an entry). However, doing this completely breaks the balance verification features.

[2021-03-28 02:54] hieu-van opened #2020 "There should be a --round option"
Hi there, I usually use --unround so I have an entry for it in the .ledgerrc file. I think why don't we have a reverse-option like --round? I'd use it when I need to round up the numbers so they look nice.

[2021-04-01 13:28] hwong557 commented on #1884
I have something like

[code]
in my `ledgerrc` for the cleared report.

[2021-04-06 19:03] kanreki opened #2023 "test failure lacks explanation when unexpected non-zero exit"
In Ledger's regression tests, in a case of an unexpected non-zero exit code, the test fails (as it should) but there is no indication what was wrong. This makes it difficult to diagnose.

(For comparison, when a non-zero exit is expected but the wrong non-zero value is produced, the test driver does provide output showing both expected and actual values. And when the expected output text differs f

[2021-04-11 07:39] emx0r opened #2026 "Harmony One - support for Ledger Nano X"
Hello,

Harmony One app is currently supported only on Ledger Nano S.
Devs from Harmony One said the code for X support has been already passed to Ledger.

What is the ETA to get the app released?

thanks

[2021-04-11 12:21] peterkeen commented on #2026
Pretty sure this is the wrong email list for that.

On Sun, Apr 11, 2021 at 3:39 AM emx0r ***@***.***> wrote:

[2021-04-12 06:27] tbm commented on #2026
This is the repo for the ledger bookkeeping tool.  You want https://github.com/LedgerHQ

[2021-04-12 06:27] #2026 closed

[2021-04-19 04:05] tbm opened #2029 "Travis CI: fails on MacOS with Python 2"
Is there a fix or is it time to drop Python 2 (at least on MacOS)?

@q3aiml

[2021-04-19 16:43] maxice8 opened #2030 "Fails to build on boost-1.76.0"
Found while mass-rebuilding repository for Alpine Linux

Ledger-3.2.1

[code]

[2021-04-22 11:28] gautammohan commented on #2015
I would also like this feature as keeping balance verification postings in a separate file works better for me. Does anyone with more experience with the code base have any idea of how complex of a feature this would be to implement? Is it well-scoped for a beginner PR?

[2021-04-28 13:19] krop commented on #2030
We're now also affected by this issue in openSUSE Tumbleweed

[2021-05-02 17:15] Gumnos opened #2031 "Change 0018c884dbf228c54e30f0bc8b7586cc35c56b0f breaks conversion from time to money"
I used `git-bisect` to track down that [this commit causes breakage](https://github.com/ledger/ledger/commit/0018c884dbf228c54e30f0bc8b7586cc35c56b0f#commitcomment-50290475). Prior to this commit, I could convert time-log entries to dollars using my price-db. After this commit, it gives me errors. Sample/test files and the command-invocation are shown in that commit comment.

[2021-05-02 17:23] Gumnos commented on #2031
This was found [in this conversation over on Reddit](https://old.reddit.com/r/plaintextaccounting/comments/mzd6pd/converting_timelog_hours_to_usd_not_respecting/?context=10) and tracked down that it worked on Ledger version 3.1.3-20190331 which I had on OpenBSD 6.8, and broke when I upgraded packages from 6.8 to 6.9, bringing me to Ledger version 3.2.1-20200518. The latest version gives me differe

[2021-05-04 12:28] #2023 closed

[2021-05-05 21:44] MEschenbacher commented on #788
I just triggered the error on version 3.2.1-20200518:

[code]

[2021-05-12 11:11] ennob opened #2032 "Option to force register output to start at the beginning"
Consider a situation where an expense is payed regularly, for example:

[code]

This is  an example of a situation where something costs $10 a month and is paid every three months. However if I ask for a register for 2020 with average monthly values, I get the following:

[code]

The average column is wrong because the calculation does not start at the beginning of 2020, even if I specify `-b 2020

[2021-05-14 13:52] c-14 commented on #2030
Since ledger already seems to depend on C++11, replacing the three occurrences of scoped_ptr with std::unique_ptr seems to be the go-to method of fixing this.
Alternatively, scoped_ptr still exists in boost/smart_ptr/scoped_ptr.hpp which could be included in boost/smart_ptr/scoped_ptr.hpp with a possible version check on boost 1.65.0 (which according to the boost docs seems to be when that header

[2021-05-20 19:45] brucer42 opened #2033 "--percent for compound? accounts (x:y) always reports 100%"
bothersome

[2021-06-06 19:07] crabbedhaloablution opened #2035 "README.md still points at freenode in one place"
Missed a spot: " - [IRC channel][IRC]: #ledger channel on Freenode"

[2021-06-06 23:53] tbm commented on #2035
Thanks for pointing this out @crabbedhaloablution!

[2021-06-06 23:53] #2035 closed

[2021-06-14 14:04] #2030 closed

[2021-06-14 14:09] tbm commented on #2030
To the distro maintainers: would it help to make a 3.2.2 release with just fix or can you just backport anyway.

[2021-06-14 18:20] thesamesam commented on #2030
@tbm

1. Thanks for asking and the smooth contribution experience!

2. It's useful if we haven't yet upgraded to e.g. new Boost. Gentoo is usually on top of new Boost releases and but some other distributions are careful given the tendency for consumers to break.

Basically, it saves time if you haven't yet hit the problem, because you don't have to go hunting for a patch if you've just updated to

[2021-07-04 16:16] char16t opened #2038 "Unable to run python with `ledger` binding support"
**Problem:**

Unable to run python with `ledger` binding support. I want to run python script:

[code]

**Actual result:**

[code]

[code]

**Expected result:**
[code]

[code]

**Environment:**

OS: Ubuntu 20.04
[code]

Ledger 3.2.1
[code]

Ledger has been built from source code (commit 460a5661ac20789aa578dc9fb20f3a1ed47e5699) via:
[code]

Python:
[code]

[2021-07-15 16:11] lf94 opened #2042 "Support for ICP (Dfinity)"
ICP is now trading but there is zero hardware wallet support. It'd be fantastic if Ledger supported this.

Whatever allows ICP to be stored and transferred from a Ledger device, preferably Nano S.

[2021-07-15 23:47] tbm commented on #2042
This ledger is the ledger-cli accouting tool.

You have to report your issue here: https://github.com/LedgerHQ

[2021-07-15 23:47] #2042 closed

[2021-07-19 20:34] Nadrieril commented on #1812
The workaround doesn't work for me because I also use hledger on the same files

[2021-07-19 20:42] Nadrieril commented on #2015
This is not a solution for everyone, but FYI `hledger` does balance assertions by date

[2021-07-19 22:13] Nadrieril commented on #1812
Turns out this got fixed on master some time ago in https://github.com/ledger/ledger/commit/051e4ab1ef82c58dc9563281ec14c02fc250e20f :tada:

[2021-07-22 21:36] Bradeskojest opened #2043 "--forecast coredumps if there are repeating accounts that are also in automated accounts"

[2021-07-22 21:40] Bradeskojest commented on #1973
@tbm , what is the plan for this ledger instance maintenance? It seems that the project is rather slow getting new updates and bug fixes. Is it all afternoon volunteer work, or there is any 'professional/paid' support?
Not asking due to this suggestion, but more because of small amount of commits. Thanks.

[2021-07-23 13:22] Bradeskojest opened #2044 "Suggestion: Periodic transactions should have the ability to add PAYEE, so they could be used in more complicated queries"

[2021-07-23 20:27] nskobelevs opened #2045 "Balancing calculation rounding to nearest 10?"
The following ledger produces an error that the transactions don't balance

[code]

[code]

Is this intended behaviour?

Ledger version: `Ledger 3.2.1-20200518`

[2021-07-24 03:30] tbm commented on #2045
Add a newline to your file and it will work.

This is a known issue and a fix is actually available (but hasn't been merged yet)

[2021-07-24 03:31] tbm commented on #2045
duplicate of #516

[2021-07-24 08:50] nskobelevs commented on #2045
Yup that seems to be it.

Looks like a common issue, apologies for the duplicate!

[2021-07-24 08:50] #2045 closed

[2021-08-03 05:10] jwiegley commented on #1973
Hi @Bradeskojest, it's all afternoon volunteer work, and it's in extremely low maintenance mode at the moment. I haven't made any changes in over a year, and given my workload, have no plans to continue work anytime soon.

I heartily welcome contributors and anyone willing to dig into the C++ code, and I'm happy to help out on the Gitter and/or IRC to field questions and such.

@tbm If you look in

[2021-08-04 11:49] tbm commented on #2001
I think this can be closed since PR #2027 got merged.  Right?

[2021-08-04 11:52] tbm commented on #1809
Fixed in commit 4ba80c37c068dd1

[2021-08-04 11:52] #1809 closed

[2021-08-04 11:52] tbm commented on #2001
Fixed in commit 4ba80c37c068dd1

[2021-08-04 11:52] #2001 closed

[2021-08-04 12:03] tbm commented on #1952
@Rahix can you submit a patch please.

[2021-08-04 12:14] tbm commented on #1020
@simonmichael

I can't find this in the docs anymore. Do you have a new link/reference?

[2021-08-04 14:14] Rahix commented on #1721
The lines from ac5fd3afd3826a9b0fadcb270900cf42c5ee6e39 were already dropped in 6d4cd58cd4b1b2f3906889009da7b71931645e93 so I think this is already resolved anyway?

[2021-08-04 14:15] Rahix commented on #1721
It looks like @xnox has taken care of this issue in #1839 already.  @tbm I think you can close this issue.

Just to make sure, I was not able to reproduce the warning in the OP anymore, either.

[2021-08-04 17:27] simonmichael commented on #1020
Yup, https://hledger.org/hledger.html#list-or-tree-mode and https://hledger.org/hledger.html#depth-limiting now.

[2021-08-06 05:46] Joe23232 opened #2048 "Can this generate TPAR reports? If so where can I find it in the source code?"
Hi, I wanted to ask can this generate [TPAR reports](https://softwaredevelopers.ato.gov.au/TPARspecification) which is an Australian report? If so where can I find it in the source code?

[2021-08-09 10:27] jwakely opened #2049 "Header guards cause undefined behaviour"
Macro names like [`_UTILS_H`](https://github.com/ledger/ledger/blob/460a5661ac20789aa578dc9fb20f3a1ed47e5699/src/utils.h#L44) cause undefined behaviour, because that is a [reserved name](https://stackoverflow.com/questions/228783/what-are-the-rules-about-using-an-underscore-in-a-c-identifier).

`UTILS_H` would be a perfectly fine macro name, or `LEDGER_UTILS_H` or `LEDGER_UTILS_H_INCLUDED`, or ...

[2021-08-14 11:17] realsirjoe opened #2050 "Ledger not checking for correct syntax"
Under certain conditions ledger does not check the syntax (two spaces between account and amount) this leads to ledger not throwing an error on wrong balancing. This can lead to very bad errors in ones finances!

example:
`2004/05/01 Stock purchase
     Assets:Broker                     50 AAPL @ $30.00

     Expenses:Broker:Commissions        $19.95
     Assets:Broker                  $-1,519.95

[2021-08-14 11:20] #2050 closed

[2021-08-17 16:56] DominikM opened #2051 "Example with virtual postings in documentation fails with time grouping"
The simple example in the docs at https://www.ledger-cli.org/3.0/doc/ledger3.html#Working-with-multiple-funds-and-accounts fails when using time filters.
[code]
with `ledger -f test register` this performs as expected, but when adding a time grouping such as `-M` it fails with: `Error: 'equity' cannot accept virtual and non-virtual postings to the same account`

This is with version Ledger 3.2.1-2

[2021-08-24 03:54] tastesliketriangle commented on #1798
I've decided to re-download Ledger on a fresh install of Win 10, and much to my dismay the issue is still there. I've done some additional testing this time around and possibly narrowed down the issue.

Ledger seems to be truncating the last character from the file. `-14000` is the same as `-14009` which is the same as `-1400` followed by a newline.

The validation code that outputs error messages

[2021-08-24 08:06] tbm commented on #1798
So adding a newline to the file makes it work?

If so, this is a known issue.  There's actually a fix available but it hasn't been incorporated yet.

See https://github.com/ledger/ledger/pull/2041

[2021-08-24 08:32] #516 closed

[2021-08-24 08:34] tbm commented on #1798
Can you try the fix from commit e712ce4e7cb6aac746

[2021-08-24 08:35] tbm commented on #1798
This is likely the same as bug #516 which got fixed by commit e712ce4e7cb6aac746

[2021-08-24 08:37] tbm commented on #2049
@jwakely can you submit a PR please.

Ideally this should be done for all names/files, not just `_UTILS_H`/`value.h` to keep things consistent.

[2021-08-24 08:39] tbm commented on #2031
Let's copy @daraul whose change broke this.  @daraul can you look into this please.

[2021-08-24 08:40] tbm commented on #2003
Did you try the latest version?

[2021-08-24 08:41] tbm commented on #2048
ledger doesn't have business logic built in and doesn't do reports like TPAR.  You'd have to create something on top of ledger.

[2021-08-24 08:41] #2048 closed

[2021-08-24 09:07] tbm commented on #2031
@daraul there's a test case: https://github.com/ledger/ledger/commit/0018c884dbf228c54e30f0bc8b7586cc35c56b0f#commitcomment-50290475

[2021-08-24 09:11] daraul commented on #2031
Oh great, thanks. I'm swamped atm so I can't promise it'll be fixed anytime soon, but it's on the TODO list.

[2021-08-24 09:40] jwakely commented on #2049
I'm very unlikely to have time to submit a PR for it myself, sorry.

[2021-08-24 21:12] purplefishies opened #2052 "CI is failing due to Azure node IP changing"
Hi,

I just noticed branches failing in the CI. It appears to be related to the azure repo not being updated correctly. I have a simple PR that can fix it.

[2021-08-24 21:51] bhagany commented on #1908
I just hit this myself when I accidentally upgraded ledger.  I had to use `--plot-amount-format '%(format_date(date, "%Y-%m-%d")) %(-quantity(amount))\n'` when using `-j` / `--amount-data` to work around it.

[2021-08-27 06:19] danielyli opened #2054 "Assertion erroneously passes if first entry is zero assertion"
Version: Ledger 3.2.1-20200518

The following minimal Ledger file passes when it should error out:

[code]

The output is:

[code]

[2021-08-28 03:14] tastesliketriangle commented on #1798
I'll try to, but building on Windows isn't working, mpfr doesn't want to build without a config but there's no obvious way to generate it. I'll try again in a couple days and report back if I can test the fix.

[2021-08-29 08:00] madroach commented on #1828
You need to use 'C' instead of 'commodity':

[code]

result:
[code]
remove the unbalanced transaction:
[code]

I believe this can be closed now.

[2021-08-29 19:59] madroach opened #2057 "Segfault when trying to add commodity to null-commodity"
I tried to somehow emulate the `D` directives behaviour of `hledger` in `ledger` to configure a default commodity added to any commodityless amount. Doing so I triggered a segfault:

test.journal:
[code]
[code]

[2021-08-31 21:35] kanreki opened #2058 "Compiling on ARM produces type-limits warnings"
On architectures where the C `char` type defaults to unsigned (for example, ARM), compiling produces warning for these source files:

- query.cc
- times.cc
- token.cc

"warning: comparison is always false due to limited range of data type [-Wtype-limits]"

Briefly [mentioned previously on the mail list](https://groups.google.com/g/ledger-cli/c/bd8v3wiU6oo/m/DS5bufG3AQAJ).

[2021-08-31 21:35] kanreki commented on #2058
A pull request is incoming shortly.

[2021-09-08 01:05] kanreki opened #2061 "some code specific to UTF-8 actually accomplishes nothing"
There's some code in `commodity_t::parse_symbol(std::istream&, string&)` (src/commodity.cc) for doing something special with non-ASCII UTF-8 characters. However, it doesn't seem to actually make any difference: it copies bytes into a buffer; but all bytes (except "`invalid_chars`") get copied into the buffer anyway. So this special code seems to be pointless.

Is there some subtlety I'm missing? I

[2021-09-08 01:13] tbm commented on #2061
@kcwu since you did some work on UTF-8, maybe you can comment on this ticket.

[2021-09-08 18:51] nagakiran commented on #2038
Am also facing this issue. Please update if anyone get it working on ubuntu 20.04

[2021-09-09 14:21] kcwu commented on #2061
I guess the code was written that way because the author thought the middle bytes inside UTF-8 may be `invalid_chars`, so he have to parse UTF-8 in order to skip bytes of UTF-8.

However, according to the definition of UTF-8, the intra bytes are always larger than 128, which are not overlapped with `invalid_chars`. Thus, I agree with @kanreki that this function is unnecessary complicated.

[2021-09-09 21:21] kanreki commented on #2061
The other idea that occurred to me: it looks as if maybe the intention was to avoid copying a partial multi-byte character in the case where the buffer is just about to fill up. Notice how we keep testing the size of the remaining space in the buffer. And if we don't have enough space, the `bytes` variable doesn't get set. But if that was the intention, then of course we should break out of the lo

[2021-09-11 02:23] felipelalli commented on #556
Maybe the doc should be updated?

https://www.ledger-cli.org/3.0/doc/ledger3.html#Command-Directives

`The payee name used with the tag is not enforced by the --check-payees option, due to a bug: https://github.com/ledger/ledger/issues/556. `

[2021-09-11 03:11] tbm commented on #556
@felipelalli commit fc8e4ced042a4e6b154d7b6e0159d0f92f updated the docs, but we have to make a new ledger release before the docs on the website are updated.

[2021-09-13 22:23] kanreki commented on #2058
This affects error reporting. For example, if you invoke Ledger as ...

[code]

(with missing closing ']'), on Intel, Ledger correctly reports "Missing ']'". The same test on ARM tries to output a hex 0xFF byte as a character  "Invalid char ÿ (wanted ']')".

(Though if your terminal environment is configured for UTF-8 you would see garbage instead of the ÿ. In that case you could pass the output t

[2021-09-18 11:53] jsch4efer commented on #1453
I ran into similar issues and was able to extend the forcast period with the following commandline argument: --forecast-years 50

[2021-09-25 23:07] rafasc commented on #1568
This should be closed.

[2021-09-26 23:57] tbm commented on #1568
commit 36f87f49d86e931bb99a226cd47721219ccd6301
Author: Alexis Hildebrandt <afh@surryhill.net>
Date:   Mon Sep 6 15:01:09 2010 +0200

    Add --time-colon option

[2021-09-26 23:57] #1568 closed

[2021-09-27 05:14] tbm commented on #1176
Fixed in commit ed58869  by @rafasc

[2021-09-27 05:14] #1176 closed

[2021-09-27 21:58] JosefAtmin opened #2065 "--sort does not sort entries with = assignments correctly"
Hello,

the --sort option does not sort the entries as expected.  Seems to be a bug to me.

I have the file:
=========================================================================================

2021-01-01 A
    account1                                                              100.00 EUR
    account2

2021-04-01 D
    account1

[2021-09-27 22:12] rafasc opened #2066 "`amount.truncate()` not rounding towards zero."
While working on ed58869 I noted that `amount.truncate()` is not rounding towards zero.
E.g. -1.2 being truncated to -2 instead of -1.

The rounding "error" seems originate from `stream_out_mpq`, but I am not familiar with the code base enough to fix it.

Possibly related to https://github.com/ledger/ledger/issues/1663

[2021-09-28 03:58] tbm commented on #2065
If I understand this bug report correctly, I find it very misleading.  Yes, you're not getting the result you want, but the actual sorting is done correctly.  You want to sort by date and it sorts by date.

As you point out, ledger processes balance assignments in the order of transactions in the file, not based on the date.  This is arguably a bad idea and should be fixed (and there are bug repor

[2021-09-28 08:07] JosefAtmin commented on #2065
Thank you very much for this quick and clear clarification. I understand. But that really rules out ledger for me, and I will probably use hledger now. I thought that --sort fixes this bad design decision. It would be great if there were a sort option that would apply before processing the transactions.

[2021-10-02 20:21] bcc32 commented on #1656
Okay, it looks like this is actually just a display issue, since in either case, `ledger r @Foo and Food` prints out a posting.  This seems to be because the default register format does not print both the payee tag and the transaction payee for the first posting, which I suppose makes sense (how would you display that?).  Meanwhile, the second and third postings in the first example do not have t

[2021-10-20 23:50] tbm commented on #2038
@claytonrcarter does the patch from @nagakiran work for you?

Well, if you're using Homebrew, I think you need to report it to them. Maybe they don't enable Python support

[2021-10-20 23:51] tbm commented on #2038
@q3aiml @xnox can you review this patch?

[2021-10-21 05:54] char16t commented on #2038
@tbm Unfortunately, this patch did not fix the problem. Moreover, I checked for `python2.7` and `python` executables in my system and they should be called successfully

[2021-10-21 14:57] claytonrcarter commented on #2038
Thank you @tbm, but no that patch did not work for me. (Though I'm quite new to ledger and I'm not a python or C dev, so perhaps I didn't build it correctly.) I'll keep an eye on this discussion and report the issue to Homebrew once there's a little more clarify here on what's causing the issue.

[2021-10-21 20:56] panthia commented on #2003
Sorry I did not reply earlier. I have not tried the latest version yet. I just needed to get year end in order for taxes. I'll will get to it eventually but the `explicit` produced what I wanted.

[2021-10-26 21:32] naquad opened #2069 "Segmentation fault on sort display_amount when working with multicurrency"
Hi,

Ledger version: 3.2.1-20200518, also replicates on the current master branch
Test ledger:

[code]

Ledger doesn't throw any errors on the file:

[code]

The register output is fine:
[code]

But when I try to sort it I get the segmentation fault:
[code]

I've tried to change the sort expression but whenever it includes display_amount ledger crashes.

[2021-11-01 19:44] bruno-who-likes commented on #1913
For anyone coming to this problem, I found that switching the compiler for Clang to GCC fixed this issue.

[2021-11-05 20:54] claytonrcarter commented on #1017
I tried fumbling around w/ this and that only served to remind that that it's been decades since I last worked w/ C/C++. I got as far as creating this test file:

[code]

which produces this output:
[code]

Getting that far was enough to embolden me to dig out a debugger, where I got as far as this:
[code]

Maybe this will be helpful to someone else that wants to tackle this...

[2021-11-09 07:25] junsik-kim0 opened #2070 "questions about api"
Hello
I am looking for a bug in ledger using fuzzer
This is the plan to be reported to you.

However, there are questions
Do you know the ledger API list or document?
I really want to make sure that the bugs I found are triggered outside.
BR

[2021-11-09 08:25] tbm commented on #2070
ledger is a command-line application.  The commands are documented in the man page and the manual.

There's also a Python interface; some documentation is in the source code.

Is this what you're looking for exactly?  I'm not sure I fully understand your question.

[2021-11-14 11:07] aleksejrs opened #2071 "Effective dates are not used"
On Debian GNU/Linux.
Ledger broke for me when I updated from 3.1.3 to 3.2.0. Apparently this is why.

[code]

[code]

[code]

[2021-11-14 11:25] tbm commented on #2071
`-E` is `--empty`.  You want `--effective`.

Are you sure `-E` did what you wanted in 3.1.x?

[2021-11-14 11:28] aleksejrs commented on #2071
Oops.

Well, this works:

[code]

But "=" does not:

[code]

[code]

[2021-11-16 13:28] tbm commented on #2071
Balance assertions are always based on the order of transactions in the FILE.  They ordering for balance assertions does not change with `--effective`.

[2021-11-16 15:56] aleksejrs commented on #2071
Then what's the point? The logs banks give me are not consistent with when *I* performed the operations. That makes it practically impossible to use an assertions and an effective date for the same posting.

[2021-11-17 00:24] tbm commented on #2071
There are two points:

1) Transaction checks currently are based on the order of transactions in the FILE rather than their DATE.  A lot of people disagree with this and there are other bugs open about this.

2) I don't see what you want is possible.  The aux date / effective date is an optional date.  Your balance assertion will fail without `--effective`.  Do you always specify `--effective` or

[2021-11-17 07:47] aleksejrs commented on #2071
Yes, I do.

[2021-11-30 01:38] aleksejrs commented on #2015
To ease the mess discrepancies between bank UIs and bank statements cause, I decided to transfer somewhat unique amounts between my accounts when possible.

[2021-12-10 01:44] sdherr opened #2073 "Ledger displays unsupported token's address instead of destination address"
I'm using the new Nano S firmware 2.1.0.

I'm attempting to send a non-supported Token using Metamask (version 10.7.1), however the "address" displayed on the Ledger when it's asking me to sign the transaction is actually the *token identity address* not the *destination address*. This feels very wrong to me. The destination address is listed and correct if I enable Debug Data, but the final scree

[2021-12-10 02:03] tbm commented on #2073
This repository is for ledger the command-line bookkeeping tool, not for ledger the crypto wallet.

You want to go here:

https://github.com/LedgerHQ

[2021-12-10 02:03] #2073 closed

[2021-12-10 03:11] sdherr commented on #2073
Ah, how embarrassing. Thank you for your help.

[2021-12-10 13:57] tbm commented on #2073
You're not the first one to make this mistake ;)

[2021-12-11 00:56] garrtt opened #2074 ""Error: Transaction does not balance" for balanced transaction"
### ledger command
`ledger -f current.dat balance`

### Error from output of command
[code]
### Snippet from file that is causing the error
[code]
### Debugging
This transaction doesn't throw an error when it should.
[code]
Here is the output of a transaction that has the wrong unbalanced remainder when it's at the end of the file
[code]
But the same transaction has the correct unbalanced remainde

[2021-12-11 01:22] tbm commented on #2074
Yes, you correctly identified this issue.  It's fixed in commit e712ce4e7cb6aac7469682cc05079707cbfb759b but we need to release a new version with this fix.

[2021-12-11 01:22] #2074 closed

[2021-12-12 23:10] Rahix commented on #1020
Just FYI: I had a stab at fixing this but it wasn't as easy as I had hoped - the problem is that sometimes new accounts (at the cut-off depth) need to be synthesized for this and so far I did not get it to work...  If someone else knows the codebase better, I'd love some hints where to dig - I don't have much time to immerse myself into it much deeper at the moment.

[2021-12-13 05:59] tbm commented on #1020
@Rahix can you email John directly and ask if he can do a pair programming session / walk through the problem on a video call?

[2021-12-14 04:23] #2058 closed

[2021-12-17 08:24] foutrelis opened #2075 "Test failure with Boost 1.77.0 (regress/BF3C1F82-2.test)"
Doesn't seem too serious, but I'm not sure what's causing it (also fails with Boost 1.78.0, though 1.76.0 was fine):

[code]

[2021-12-19 02:23] gopar opened #2076 "Ledger does not resolve to street value in alias"
For some reason, when calling ledger via an alias, the street value is not resolved.
See the prompts below (specifically the 3rd one)

I have `LEDGER_PRICE_DB` set to `data/price_db.dat`
The comand `ledger` is an alias to `/usr/local/bin/ledger --no-color --no-pager --strict $*`

[code]

I'm not sure what i'm doing wrong (Just started using ledger. Maybe i'm overlooking something)

[2021-12-19 02:28] gopar commented on #2076
Oh, looks like it might be my environment that is mest up.
I did the following and it works?

[code]

I guess as a workaround I'll update my alias to include the `-V` flag

[2021-12-19 10:18] tbm commented on #2076
"street value" has no predefined meaning in ledger so you'd have to give an example of what's going on.

But this looks like a user error to me.

[2021-12-19 10:18] #2076 closed

[2021-12-25 08:33] yashovardhan99 commented on #1482
Any update on this? I am trying to forecast a bonus income which I get every year at a specific date.
[code]
This results in the transaction being added every January instead of August.
[code]
This results in the transaction completely missing from the forecast.
In neither case, I am getting the bonus transaction in the specified month.
I have a monthly income transaction as well and it works as e

[2021-12-27 19:00] yashovardhan99 opened #2077 "docs: how to query quoted commodities"
I had a few commodities named `ABC-DEF` which seemed to have issues working with ledger. I am writing this here as I couldn't find any documentation for acceptable characters in a commodity name.

Sample transactions:-
[code]

Normally ledger works fine but some operations like `--limit` seem to have an issue.

For example, `ledger reg -l 'commodity == "ABC-Fund"'` should output 3 postings but has

[2021-12-27 23:54] tbm commented on #2077
In your query, the `"` quotation mark is used to quote the string.  But
since it's a quoted commodity, you also need to specify the quotes for
the commodity.  Therefore, you need two quotation marks, like this:

[code]

Maybe someone can add such an example to the docs.

[2021-12-28 12:57] yashovardhan99 commented on #2077
Thanks this seems to work

[2021-12-31 09:31] MisterY opened #2078 "Ledger-cli in WebAssembly"
Perhaps a crazy idea but an interesting one, nonetheless. Is it possible to compile ledger-cli into wasm?
Has anyone tried, what are the challenges? Opening this issue as a placeholder for the topic.

The benefits should be obvious, I guess. Having Ledger compiled to WASM would allow running it natively in browsers, meaning PWAs and also Android.
I've seen some people compiling Boost with Emscript

[2021-12-31 12:17] MisterY commented on #2078
Seems there is also a virtual filesystem available, which is convenient for storing and reading the files.

- https://stackoverflow.com/questions/47313403/passing-client-files-to-webassembly-from-the-front-end
- https://kripken.github.io/emscripten-site/docs/porting/files/file_systems_overview.html

[2022-01-03 15:37] usonianhorizon commented on #1913
I am also attempting to compile ledger under FreeBSD (13.0) and am seeing the same error.  Could you please clarify where one should specify -fPIC for main.cc?

Thank you.

[2022-01-03 18:29] yashovardhan99 opened #2079 "ledger stats error with automated transactions"
I have a couple of automated transactions (similar to those shown in docs) for calculating asset allocations and donations. When running `ledger stats` with those files included, I get the following error:-
[code]
Excluding both the files with automated transactions solves this error and shows the correct output.

This is one of the transactions which is causing the issue:-
[code]
This was taken w

[2022-01-06 00:03] matthuszagh opened #2080 "Eliding amounts in a transaction with an automated posting"
I'd like to add an automated posting to a transaction and also elide the amount from the final posting. I know the manual clearly states this is something you cannot do:

However, this seems like useful functionality. For example, I share a credit card with another individual, which we split 50-50. It would be nice to be able to do something like:

[code]

and have the automated posting get the va

[2022-01-06 00:34] tbm commented on #2080
I can't comment on the fundamental question you're asking.

But you can solve your problem like this:

[code]

[2022-01-06 00:44] matthuszagh commented on #2080
@tbm thank you! That's exactly what I wanted. Sounds like I need to take a closer look at expressions.

Closing this issue as that resolves my problem (and is maybe a hint that eliding an amount in an automated transaction doesn't provide functionality that can't be accomplished through other means). If someone else feels this functionality is needed we can reopen.

[2022-01-06 00:44] #2080 closed

[2022-01-06 00:45] oaf-edwin commented on #2032
You know, when I first read this I thought "nah, the way it's working is correct." But the more I think about it, the more I come to agree with you. In fact, I'm now thinking that what you suggest should be the default behavior, if not the only behavior.

You say "often this behavior is what you want." Can you give an example of where that might be the case?

[2022-01-09 16:16] yangsheng6810 commented on #2075
Having the same problem. On a ledger file that was reconciled and balanced, I am seeing the following when doing ledger-reconcile:
[code]
Also have the problem of
[code]

[2022-01-09 22:57] jwiegley commented on #2078
Interesting idea! It would permit me to run Ledger directly on the Internet Computer too.

[2022-01-14 01:47] dirkarnez opened #2081 "ledger as a static library"
May I ask is it possible to do this? Knowing that there is shared library build support, but static would also be great! Thank you!

[2022-01-19 06:20] bcc32 commented on #2075
Yep, this also breaks things like `M-x ledger-add-transaction` in ledger-mode, since it also reads in the contents of the current buffer from stdin.

[2022-01-21 07:06] MisterY commented on #2078
Filesystem extension
https://github.com/jvilk/BrowserFS

[2022-01-21 07:23] jorgb opened #2083 "Start budget period on any other day but the 1st"
I looked all over the docs but I am not sure about the possibility. I want my budget to reflect the status of my account the day of my paycheck, not the first of the month.

Right now when I use budget and the period spans from 22 dec to 21 jan (today) I get double budget entries because on the 1st the budget did a rollover and all my funds are doubly budgeted. Ideally I want to just see my budget

[2022-01-23 11:36] deusmax opened #2084 "Commodity pricing example wrong in manual"
In section **4.5.4 Complete control over commodity pricing** of the manual, the results of `output:814A366` is wrong.
Running the ledger entries instead gives:
[code]
Results conveniently provided here:  [ex-4_5_4.txt](https://github.com/ledger/ledger/files/7920345/ex-4_5_4.txt)

[2022-01-23 21:25] daraul commented on #2031
I'm confused, but it looks as though this was fixed without me. @Gumnos, could you try reproducing the error on the master branch? I tried bisecting to find the “bad” commit that fixed it, but ended up at https://github.com/ledger/ledger/commit/051e4ab1ef82c58dc9563281ec14c02fc250e20f (which was made before you found this problem). I was able to confirm that 0018c884dbf228c54e30f0bc8b7586cc35c56b0

[2022-01-23 21:48] daraul commented on #2031
I've written the test case out [here](https://github.com/daraul/ledger/commit/3631cab0cdcc19910964f8e31d7ab5ac5023924e), but I'd appreciate @Gumnos confirming whether or not `$37` is what he's expecting to see in `Assets:Bank:Checking`, based on his test command.

[2022-01-23 22:11] daraul commented on #2031
Sorry for the spam, but I must have mixed up my commands somewhere along the way. I just confirmed that the problem persists on master. I'll work on getting a fix together soon.

[2022-01-23 22:25] Gumnos commented on #2031
@daraul I was hoping to see $37.50 (or 37.49, depending on rounding). The initial `P` amount was determined by taking a $25/hr rate and converting it into a per-second rate (`25/(60*60)` ≈ $0.00694̅ per second, to within rounding tolerances). So I would expect the 1.5 hr to convert to 1.5*25 ≈ $37.50

But if limited to working in integer quantities, then yes, $37 is what I would otherwise expect t

[2022-01-23 23:36] tbm commented on #2084
It seems you added the two automated transactions just before `input:814A366`, but I don't think they are part of `814A366`.

Please double check.  I think this is user error

[2022-01-23 23:48] daraul commented on #2031
Hmm, then I'm confused about the output of the test, then. It rounds to 37; maybe I should have a few more 0's [here](https://github.com/daraul/ledger/blob/3631cab0cdcc19910964f8e31d7ab5ac5023924e/test/regress/2031_a.dat#L1)? What's confusing is that it reports $37 in `Hours:Project` instead of `Assets:Bank:Checking`. I have no idea why that might be happening.

Test output:
[code]

[2022-01-24 01:13] Gumnos commented on #2031
well, it would be additional "4"s, not "0"s (0.006944444444444) to get slightly more accurate, but even with just 2 "4"s worth, it should still come out to within pennies (the Python REPL tells me that `0.006944 * 1.5 * 60 * 60 = 37.4976` which is about the accuracy I'd expect from using floating-point math rather than the fixed decimal that I understand `ledger` uses).  So I suspect there's some

[2022-01-24 01:34] daraul commented on #2031
Yes, I get the pence if I specify the commodity's formatting. I had no idea you could (or would) do this.

[2022-01-24 02:21] Gumnos commented on #2031
So my hope/expectation would be that

    commodity USD
        format $1,000.00

    P 2021-01-01 00:00:00 h 25 USD

    i 2021-04-29 07:00:00    Hours:Project
    o 2021-04-29 08:30:00

    2021-04-30 ! Get paid
      Hours:Project  = 0s
      Assets:Bank:Checking

when processed with

    $ ledger -f test.ledger bal

would report that `Hours:Project` has a 0 balance and `Assets:Bank:Checking` h

[2022-01-26 19:23] deusmax commented on #2084
Correct. The two automated transactions are part of the section's commodity pricing examples and should be included in the example. They are part of the section's subject and should be demonstrated in the example.
My guess is that they were inadvertently left out. They fit well with the example.

[2022-01-26 22:59] tbm commented on #2084
@enderw88 are you still around?  Can you comment on this?

[2022-01-29 17:28] ThatIsAPseudo commented on #2006
Since the conda package is still not available, the relevant section in the Readme should be removed as it can't be installed as of now.

[2022-01-30 12:06] myrddin89 commented on #1642
I’m having this issue, even without `-X`. Any updates on this issue?

[2022-01-31 00:03] tbm commented on #1642
Patches welcome!

[2022-02-03 17:07] #1948 closed

[2022-02-07 05:05] XieJiSS commented on #2075
Same problem here.

[code]

[2022-03-08 16:49] alberto56 opened #2091 ""apk add ledger" on alpine throws "ledger (no such package)" since Dec. 20, 2021"
I maintain the Docker version of ledger which is at https://hub.docker.com/r/dcycle/ledger and whose code is at https://github.com/dcycle/docker-ledger and referenced in [Ledger's README](https://github.com/ledger/ledger/blame/474d2b8d091ba865c17c554a4ecdfb0d05325d3f/README.md#L41-L46).

I have a Jenkins job which attempts to rebuild the image weekly with the latest version of Ledger on Alpine.

T

[2022-03-08 16:53] alberto56 commented on #2091
You can see the result of the test script at https://app.circleci.com/pipelines/github/dcycle/docker-ledger/28/workflows/cf2d22c0-455a-4c8c-a723-5ea14e0d67f8/jobs/30

[2022-03-08 17:58] MisterY commented on #2091
Hi,  Alberto! Have you resolved this? Ledger seems to be available in the repos:

https://pkgs.alpinelinux.org/packages?name=ledger&branch=edge

I would assume it is a matter of including the right repository in the config. I'll have a more detailed look if this is still an issue.

[2022-03-08 18:01] MisterY commented on #2091
It is now in the community repository while before it was in testing, if memory serves me well.

[2022-03-08 18:28] alberto56 commented on #2091
Hi! That works!

There were two issues:

* it seems that the package is on Alpine version "edge" but not alpine version "3", I therefore needed to base my image on alpine:edge, not alpine:3
* I used the "community", not "testing" repository as you suggested.

Thanks! Closing this issue.

[2022-03-08 18:28] #2091 closed

[2022-03-08 18:30] MisterY commented on #2091
Great!

[2022-03-09 11:34] #2075 closed

[2022-03-11 06:49] kunhtkun commented on #2057
Hi!

The following change should fix the segfault:

[code]

After installing this change, your example should work as expected. However, according to

what you want is actually the other way around? That still does not work as expected. With this journal:

[code]

command

[code]

gives

[code]

I believe this is not quite easy to fix. Ledger does not seem to support a commodity with no symbol. (P

[2022-03-11 08:11] tbm commented on #2057
imho we shouldn't optimize for this.  Just add a commodity to amounts.  It really isn't that hard and makes things explicit.

@madroach if you strongly feel there should be a mechanism to specify a default commodity for commodityless amounts, please bring this up on the ledger mailing list for discussion and check how hledger handles this (@simonmichael might comment if you bring it up for discuss

[2022-03-11 08:51] simonmichael commented on #2057
Here's the [hledger functionality](https://hledger.org/hledger.html#default-commodity) I think @madroach was seeking:
[code]
[code]
It's for lazy people who want to skip typing the commodity symbol in the journal but still see it in reports.
I probably guessed `D` worked this way in Ledger, but in fact I think it only affects the `xact` command currently.

[2022-03-11 09:04] tbm commented on #2057
Thanks @simonmichael for your (as always!) quick response!

Maybe this issue should be split into two: the segfault, and the feature request for this feature. (I personally don't like it but this isn't about me, and compatibility with hledger might be a good idea)

[2022-03-12 09:12] tbm commented on #2057
So the segfault is fixed thanks to @kunhtkun

Would you mind opening a new issue for the feature request.   I think it's cleaner to keep it separate.

[2022-03-12 09:13] tbm commented on #2057
I mean @madroach can you please open a new issue.

[2022-03-12 09:47] madroach opened #2095 "Default commodity"
I'm lazy and therefore would like support for a default commodity added to commodityless amounts like `hledger`'s `D` directive does:

This was first brought up on #2057.

[2022-03-12 09:47] #2057 closed

[2022-03-12 09:49] tbm commented on #2057
thanks @madroach.

[2022-03-12 09:50] tbm commented on #2095
@simonmichael gave the following example from hledger:

[code]
[code]

[2022-03-17 18:22] #2069 closed

[2022-03-21 19:15] mjsir911 opened #2098 "Don't assert xact count changes"
Hey, I've been patching my local ledger install to make some python scripts that I wrote work, basically this line:
[code]

in `src/session.cc` prevents python scripts from `journal.add_xact`ing new transactions into it. Removing this line fixes it.

I'm sure its there for other reasons, but removing it hasn't destroyed everything for me yet!

[2022-03-21 23:35] tbm commented on #2098
@xnox do you remember how the Python code works and can you comment on this?

@q3aiml Andy, can you comment on this

@jwiegley can you comment on this

[2022-03-21 23:36] tbm commented on #2098
I guess this would fix #973?

[2022-03-21 23:38] tbm commented on #2031
@daraul @Gumnos what's the status of this?  Is this a bug/regression? Do things work as expected?

[2022-03-21 23:44] tbm commented on #2070
@junsik-kim0 can you please clarify your question.

[2022-03-21 23:45] tbm commented on #1800
Maybe a bug for @kunhtkun ;)

[2022-03-22 00:10] daraul commented on #2031
I would consider it a bug, and no, things don't yet work as expected. I saw you added it to 3.3, but I really can't promise I'll be able to get it fixed soon. From what I can tell, calculation of elided amounts may require changes.

[2022-03-22 01:41] tbm opened #2099 "Document gettting account balance in automated posting: account("...").total"
Getting the account balance in automated postings was [implemented a few years ago](https://groups.google.com/g/ledger-cli/c/LjboHWcwOLc/m/LbhJfy9RDAAJ).

This needs to be documented.

[2022-03-22 01:43] tbm commented on #2099
[code]

[2022-03-22 02:04] tbm commented on #2031
@daraul I added it to 3.3 because it's a regression (right?) so ideally it would get fixed before the new release.

But the new release is overdue so I fear we may have to release without a fix

[2022-03-22 02:11] daraul commented on #2031
I understand. I appreciate both you guys being so patient.

[2022-03-22 05:03] kunhtkun commented on #2081
Hi!

Could you give a use case for that? Ledger is primarily a command-line application so a static library, which cannot be used by either `ledger` or the Python binding, probably is not useful for most users.

Thanks!

[2022-03-22 05:52] vshih opened #2100 "`print` garbles balance assignment"
Given

[code]

[code]

outputs

[code]

which is not equivalent.  The original has a balance assignment, whereas the output turns it into a normal transaction with a balance assertion.

Ledger version 3.2.1-20200518
MacOS, installed via homebrew

[2022-03-22 06:52] tbm commented on #2100
John's response about problems with `print` is usually to add `--raw` (which also works in this case).

But I'd agree that this is a bug.

[2022-03-22 16:55] Gumnos commented on #2031
no worries. I shifted to doing time-tracking outside of `ledger` (though I look forward to the time when I can shift back) so I can be indefinitely patient. :grin:

Hopefully the test-case I provided should be sufficient to determine the pass/fail condition.

[2022-03-23 10:35] dnsoumik opened #2101 "When the Ravencoin(RVN) will be supported as native coin without Electron ?"

[2022-03-23 10:38] #2101 closed

[2022-03-24 00:04] kanreki commented on #2061
(A possibly useful regression test file, depending upon if/how we decide to resolve this.)

[testdata.txt](https://github.com/ledger/ledger/files/8337360/testdata.txt)

[2022-03-24 00:08] tbm commented on #2061
@jwiegley can you comment on this since you probably wrote that code?

@kanreki if John doesn't respond (he's busy), can you submit a pull request with some test cases.

[2022-03-24 00:33] kanreki commented on #2061
My comment from a moment ago might be a little confusing, because that test file might not actually be a sensible regression test if we do decide to remove that code. Rather, I found it useful in *exploring* whether the code was indeed having any effect.

I'll be quite happy to add a test case or two.

[2022-03-24 09:09] dirkarnez commented on #2081
@kunhtkun Would like to embed / wrap `ledger` making it usable say in web application.

Thanks!

[2022-03-26 23:52] tbm commented on #1685
@kunhtkun given the analysis from @drfloob do you have any idea what a fix would be (sorry to ask you all the time for help ;)

[2022-04-01 15:52] iamhardikat11 commented on #2099
I am Novice Open Source Contributor, please provide me with all the important tasks that needs to be done, in order to solve this bug/issue. Thanks and Kudos.

[2022-04-03 16:15] zanona opened #2102 "Allow nested automated transactions"
Apologies if this is somehow already possible, but as having just started using ledger (which is a great tool), I have found the below behaviour doesn't work at the moment.

I would like to be able to set multiple automated transactions which will trigger in a nested fashion and being called inside an already automated transaction.

[code]

The idea behind it would be a way to automatically charge

[2022-04-04 00:07] tbm commented on #2102
I'm not sure I fully follow this example.  The first set of examples and the second one don't seem to actually match.

[2022-04-04 07:54] zanona commented on #2102
Sorry, there were indeed some errors with the example. Let me outline a more declarative use case

### Single-level automated transactions

The below balances to 0 (expected behaviour)
[code]

[code]

### Nested automated transactions
The below doesn't balance to 0

[code]

[code]

[2022-04-04 11:45] tbm commented on #2102
I'm still not sure what you're trying to do exactly but I think you're looking for a way to refer to the amount. You can use `(amount)`

[code]

[2022-04-04 17:14] zanona commented on #2102
Hi, @tbm
Sorry, but I'm afraid that's not quite it, perhaps the title of the issue explains it by itself?
Let me try to simplify to the below.

[code]

Why does `=expense:gym` automated transaction never gets executed, since it's auto added by `=income:salary` transaction? Meaning `expense:gym` is nested inside `income:salary`

Hopefully the example above was able to clarify the idea

[2022-04-05 13:28] zanona opened #2103 "Are period expressions `yearly from` and `every 12 months from` purposely different?"
Hi, sorry if this is not the correct place to ask this, but as I couldn't find it [in the manual](https://www.ledger-cli.org/3.0/doc/ledger3.html#Periodic-Transactions), perhaps this can help guide future users as well, who reach to the GitHub repository for checking past issues.

Mainly I've noticed that
[code]

will execute the first time on `2022/05/01` and a second time on `2023/01/01` whilst

[2022-04-06 12:30] zanona opened #2104 "error when using `expr date` invoked from a periodic transaction"
It looks like that the query parser doesn't like when a periodic transaction is associated with a date from an automated transaction:

[code]

which then complains as

[code]

a current workaround is to add a typed `AuxDate` metadata to the periodic transaction posting, like the below, but then the drawbacks are immediate as whenever updating an expense inside an automated transaction _(.ie: gym i

[2022-04-06 14:57] tbm commented on #2104
same assertion in #1207 and #2079

[2022-04-06 14:59] tbm commented on #2104
and #1081

[2022-04-06 20:37] zanona commented on #1482
@yashovardhan99 have a look #2103. You might want to use `~ every year in August`

[2022-04-06 22:14] #2049 closed

[2022-04-06 22:15] jwiegley commented on #2098
I'd be fine with removing that assert, if it's causing problems.

[2022-04-06 22:16] jwiegley commented on #2061
I think that UTF-8 code was copy/pasted in from some public domain code I found on the web. No objections to removing needless operations.

[2022-04-06 22:32] kanreki commented on #2061
Great. I'll do that then. Thanks, John.

[2022-04-07 18:24] jeli2657 opened #2105 "Unbalanced Bracketed virtual postings do not throw a warning nor error"
Given journal
[code]

Run a bal report and get no results.  No warning that the virtual posting is unbalanced.
[code]

I'm very new to ledger so it is possible I do not understand how this works.  But in my main journal I have more complicated entries like the below, where I had an unbalanced virtual posting.  It's off by .02, but I totally missed it because bal reports never warned me I had an ou

[2022-04-07 21:27] zanona commented on #2105
hey @JesseFL , I spotted you transaction missing an extra space after the last posting

[code]
after this

[code]

Try to make sure to always align your costs to the right like the below to avoid these issues:

[code]

If that resolves your problem, please feel free to close this issue. :+1:

[2022-04-07 21:50] zanona commented on #2103
Closing this, as it can be confirmed to be the expected behaviour by running the [`period` pre-command](https://www.ledger-cli.org/3.0/doc/ledger3.html#Pre_002dCommands).

We can see below that it indeed runs the first time on the specific date and subsequent ones on the beginning of the year. This behaviour is, in fact, similar to `hledger` with the difference `hledger` errors mentioning that Jun

[2022-04-07 21:50] #2103 closed

[2022-04-07 21:53] zanona commented on #1482
Hey, @yashovardhan99. Have a look at #2103, that may be able to help.
You can test how a period is run by running `ledger period 'yearly from 2022/08'`, for example. It will give you a list of periods which is useful. In this case, you may want to go with `every 12 months from August`.

[2022-04-07 21:58] zanona commented on #2070
vote for closing as inactive

[2022-04-07 22:00] zanona commented on #2077
vote for closing as resolved

[2022-04-07 22:08] zanona commented on #2009
@dersuchmann, have you been able to come around your issue by any chance?

Perhaps the debit/credit `--dc ` display mode will help?
I am adding the column titles for readability
[code]

[2022-04-07 22:34] JesseFL commented on #2105
Thank you for pointing out my lack of spacing; that is definitely a new user issue.

However, my paycheck example still looks like something is wrong.  The register shows that the .02 difference is going to `Income:Paycheck`, but shouldn't that be impossible?  How can a virtual posting balance to a real account?  I thought virtual postings are "fake money" and not part of the double-entry accounti

[2022-04-07 22:42] zanona commented on #2020
We sort of have that through the `--amount EXPR` flag and the `ceiling` or `floor` functions. This way you could round it as it makes sense to you?

[code]

[2022-04-07 22:53] tbm commented on #2070
closing as no reply from reporter.  @junsik-kim0 feel free to comment here or open a new ticket.

[2022-04-07 22:53] #2070 closed

[2022-04-07 22:54] tbm commented on #2077
this is not resolved.  It's a common question and should be mentioned in the docs.

[2022-04-07 22:56] tbm commented on #2105
That sounds weird.  Do you have an example?

[2022-04-07 23:04] zanona commented on #2077
Sorry, I didn't pay attention to the label.
Would you accept a PR for adding this to the docs?
Also, do you believe this issue could be linked to this https://github.com/ledger/ledger/issues/2010 or that could be a different issue?

[2022-04-07 23:08] tbm commented on #2077
Yes, that'd be great.

I think it's a different issue but both are related to quoted commodities.

[2022-04-07 23:08] JesseFL commented on #2105
My main paycheck example does it

[code]

[2022-04-07 23:08] tbm commented on #2010
That sounds pretty inconsistent.

[2022-04-07 23:16] zanona commented on #2105
Hey, @JesseFL please have a look at the difference between [virtual postings](https://www.ledger-cli.org/3.0/doc/ledger3.html#Virtual-postings)

Just quoting the docs:

Basically this means that, if you don't want to alter the balances, use a virtual posting surrounded by parenthesis, otherwise brackets.
Also, when you use a parenthesis virtual posting, you don't need to balance out with anything

[2022-04-07 23:17] tbm commented on #2105
I don't use virtual postings, but this looks like a major flaw to me.  I don't think virtual postings should balance against real postings.

The docs say "If you want, you can state that virtual postings should balance against one or more other virtual postings by using brackets".  So virtual postings should balance against each other, not against real postings.

[2022-04-07 23:18] tbm commented on #2105
@zanona you haven't identified the problem correctly.

The problem is this, which should never happen:

[code]

[2022-04-08 08:00] #2077 closed

[2022-04-14 03:02] #2061 closed

[2022-04-14 21:42] rwslippey opened #2108 "Expose accounts to an API?"
I'll be clear, I'm not using ledger-cli for it's entirely intended purpose but I have a use case that's working great for what I need. In fact, so far ledger has been the best thing I've found in a while for my needs.

Anyway, I'm working on expanding a few things on my project.

Curious if there is a way to expose ledger balance reports to an API (in an isolated network of course... for security

[2022-04-14 22:34] tbm commented on #2108
Would be interesting to hear about your use case.

ledger has a Python API, but it's not well documented or well developed.  I don't know if you have access to the balance reports through the API.

Maybe you can ask on the ledger mailing list.

[2022-04-15 00:54] rwslippey commented on #2108
I'll try to keep it brief on here but, I work as a program manager for an aviation organization. We're kind of small and don't have mass storage tanks but do have several tankers. I've thought for a long time about making a more automated system of tracking our inventory and always ran into the issue of how to deal with the "book balance" IE: what's calculated based on math and metering the produc

[2022-04-15 01:01] tbm commented on #2108
This is just my personal opinion.  I know you're asking about ledger.  What I've personally done is to use ledger for my main stuff but then I use [ledger2beancount](ledger2beancount.readthedocs.io/) to convert to beancount; beancount has a good and well documented Python API.  So I use that to access my data from Python scripts.  Maybe you could take a similar approach (especially since you like

[2022-04-15 01:06] rwslippey commented on #2108
I'll was actually looking at beancount a while back too. I just hadn't dug far enough into it but the python api sounds like it's just what I'm looking for. I'll check it out. thanks for the tip and guidance.

[2022-04-15 01:11] peterkeen commented on #2108
One thing you could do instead of one truck at a time is to do something like:

[code]

That should get you a two column CSV with the account (i.e. truck) and the current balance, one truck per line. Then you could parse that with Python's [csv](https://docs.python.org/3/library/csv.html) module.

[2022-04-15 01:12] tbm commented on #2108
@peterkeen great suggestion.  And much easier than the complicated process I suggested. ;)

[2022-04-15 01:13] rwslippey commented on #2108
Hadn't thought of doing it that way. I was a little worried about trying to keep repeating the same command over and over. Always learning

[2022-04-15 01:22] peterkeen commented on #2108
@rwslippey also with regards to:

Ledger is just a calculator. It makes no assumptions about what you're calculating or why :)

[2022-04-15 22:31] JesseFL opened #2110 "--color does not work in Windows CMD or Powershell"
[code]
![image](https://user-images.githubusercontent.com/17784067/163649417-9d1088da-d19d-453c-b7b4-5578ae712bd6.png)
![image](https://user-images.githubusercontent.com/17784067/163649515-02a1da16-3307-4938-b08b-4bab0706987b.png)

Must be something with the escape character.  Oddly, the colors work fine in an embedded CMD window in Visual Studio Code.  Windows term colors are supposed to be the s

[2022-04-21 17:01] erganemic commented on #2051
I can corroborate, seems like this might be related to #1671. My own use case was e.g.

[code]

(i.e., doing envelope budgeting, where expenses are drawn from a preallocated budget account instead of directly from a checking account). This file produced the same error, with the same Ledger version as the parent.

[2022-04-25 02:31] petersonev commented on #2011
This syntax also does not seem to work. The lot dates only seem to work when a lot price is explicitly given rather than inferred from the cost amount (or cost total). Seems like that might be a bug but giving the lot price instead of the cost amount seems to work:
[code]

[2022-04-25 04:59] tbm commented on #2011
Works for me:

[code]

[2022-04-25 05:03] tbm commented on #2011
Yes, sorry about that.

[2022-04-27 03:44] 501st-alpha1 commented on #1554
I think I've run into this issue when dealing with Bitcoin transactions, and so I'll try to flesh out a more detailed example to show the problem in case that's helpful, and propose a possible solution.

First, the simple case: I'll buy some BTC and just keep it on the exchange (what could possibly go wrong?).

Given `basis.ledger`:

[code]

we get:

[code]

What's the basis?

[code]

That's corre

[2022-04-27 04:08] 501st-alpha1 commented on #512
I ran into this issue too.  Here's a more detailed example for better clarity:

Given `lots.ledger`:

[code]

`bal` looks good:

[code]

but adding `--lot-prices` gives the exact same output as above (because at less than 1.0 BTC, the conversion to mBTC has triggered).  If I comment out the first line in `lots.ledger` (`C 1 BTC...`), then it works:

[code]

(So it doesn't actually matter how the t

[2022-05-02 05:13] 501st-alpha1 commented on #960
I've also run into this issue (with Ledger 3.2.1), so it seems this is still an issue.

I noticed it fails only if the assertion is *combined* with the transaction that actually changes the balance.  So this fails:

[code]

with:

[code]

while this:

[code]

works fine:

[code]

so while it'd be nice to have this fixed, this workaround is good enough for me in the meantime.  (Maybe the priority c

[2022-05-05 07:31] dmage commented on #1976
I have automated transactions like these to implement envelope budgeting

[code]

and also an external script that verifies that these virtual postings are balanced.

[2022-05-05 19:00] dmage commented on #2102
@zanona recursive transactions can cause loops

[code]

Would you expect an error for this file?

[2022-05-05 20:30] dmage commented on #2031
Unfortunately that's a flawed use case. There are two options how time can be transferred into the checking account.

The first option is to keep it as time. In this case, you'll see new values in your checking account every time market price for time changes. I doubt that's a desired result.

The second option is to explicitly convert time into dollars:

[code]

But in this case you can write wha

[2022-05-05 22:40] dmage commented on #2031
`i` and `o` generate virtual postings (apparently because there is no counterpart account). With virtual accounts in the transaction it starts to work:

[code]

So the minimal reproducer is

[code]

I doubt if it is a valid ledger though.

[2022-05-05 23:25] #1721 closed

[2022-05-06 11:44] dmage commented on #1765
Two years later I think my example is incorrect and ledger should complain about such transactions.

[code]

[code]

Now I record such transactions like this:

[code]

[code]

I verify my ledger file by the command `ledger reg --basis --collapse --real --unround`. If the output isn't empty, I consider my ledger file to be incorrect.

Is my approach too strict to apply to everyone?

[2022-05-06 12:52] dmage commented on #1765
That's the precision I want. I want ledger to use all 4 digits after the decimal dot for my currencies, as that's what I need for the tax purposes. My broker account has 8 digits. So I have records like

[code]

I don't want it to display amounts with that precision as it's basically noise. Until I need to do taxes, in this case I want to see all digits. As I do taxes in CZK, all EUR values get mu

[2022-05-08 10:16] zanona commented on #2102
Hey @dmage, I wouldn't expect an error, I'm afraid. How so?

[2022-05-08 12:39] dmage commented on #2102
If ledger starts to apply these rules to automatic transactions, it'll give you

[code]

Every new iteration will cause another one iteration of automated transactions, i.e. it'll never stop doing it.

[2022-05-20 21:59] mjsir911 commented on #2098
Of note is that this assert is also triggered with this behavior:
[code]

[2022-05-20 22:27] tbm commented on #2098
@mjsir911 can you create a pull request?

[2022-05-20 22:28] tbm commented on #2098
Oh, I just read the second part of your message. So you're saying removing the `assert` isn't enough because transactions are duplicated?

[2022-05-24 02:50] mjsir911 commented on #2098
Right, there are cases where the `assert` is actually protecting against wonky behavior. I'll try to spend some time spelunking through to see where I can trigger this behavior, maybe we can protect against it more explicitly?

What's the expectation with calling `read_journal_files` multiple times?

Sorry for complicating this bug, just want to make sure everything's in order!

[2022-06-24 18:41] gwymor opened #2115 "Is `--exchange A:B` commodity conversion broken?"
The `--exchange` option documentation says that it is possible to display commodity A values in commodity B without converting other commodities, by connecting the commodities with a colon:

(Documentation added in #299.)

However, I have not been able to get this feature working. Ledger acts the same as if I had provided no `--exchange` option at all. Has this feature been removed/broken, or am I

[2022-06-24 21:38] tbm commented on #2115
This issue sounds familiar but I can't find it being reported anyway.

I never used this syntax.  It seems it is supported when I look at `--debug commodity`, but it doesn't appear to work:

[code]

[2022-07-07 21:26] maaft opened #2124 "Show actual message to sign, not the hash of the message"
Signing messages (e.g. through metamask) is very common nowadays for gasless transactions.

However,  the ledger wallet does not currently show the actual message that the user is going to sign.

This is a **huge security vulnerability** IMHO.

Currently, any MITM-attacker could just intercept the message sent to ledger, changing the message to a malicious one in the process.
The user would not no

[2022-07-07 23:27] tbm commented on #2124
This repository is for ledger-cli, an accounting software, and not for ledger, the crypto wallet.

You may want to report your issue here:

https://github.com/LedgerHQ

[2022-07-07 23:27] #2124 closed

[2022-07-10 19:29] jman223 opened #2125 "Ledger Manual Update - 2.2.3 Cleared Report"
The command example for the "Cleared Report" in section 2.2.3 reads

`ledger -f drewr3.dat cleared`

but should read

`ledger -f drewr3.dat --cleared`

[2022-07-11 01:34] tbm commented on #2125
The example is correct.

`cleared` is a command which shows a cleared report

`--cleared` is an option that limits output to cleared transactions; this can be used in combination with e.g. `reg`

[2022-07-18 22:30] afh opened #2127 "Rename default branch from `master` to `main`?"
Many projects using [git](https://git-scm.com) have renamed the default branch from `master` to `main` (see [Regarding Git and Branch Naming](https://sfconservancy.org/news/2020/jun/23/gitbranchname/), [`github/renaming`](https://github.com/github/renaming)) and [git version 2.28.0](https://github.com/git/git/blob/master/Documentation/RelNotes/2.28.0.txt#L107-L110) introduced the `init.defaultBran

[2022-07-20 09:45] afh commented on #2108
@rwslippey Could you post a sample ledger file and a sample of the desired output. At first glance ledger's Python API might be suitable for your use-case and I'd be happy to share my experiences with it here.

[2022-08-03 12:09] cacology commented on #2083
I'd like this too!  I have a hack that works only in some cases:  `~weekly in 2022-08-03 ... [etc.]` will give you one transaction for the beginning of that week, which can be slightly closer to what you want. The problem is, of course, that you have to write one out per month if you want what you want above.

What I wish is that we had something of the form `~ Monthly on <SPEC>` which would use t

[2022-08-05 03:13] shth opened #2129 "Balance assignment does not (but should) update display precision"
# Env
- macOS Big Sur 11.5.2
[code]
# Description
I am trying to automatically track the interests received from my broker account, with balance assignment. Here's an example of what I did.

[code]

The result is this. From my understanding, the `= 1.1 AAPL` assignment should make the `Assets:Broker` posting cost equal `0.1 AAPL`, therefore `Income:Stock Interests` should be automatically balanced

[2022-08-05 03:18] tbm commented on #2129
Yes, as you found out transactions are processed in the order of the file, not order per date.  So you need to re-order them.

The second example works correctly.

So why do you not get the result you want?  Ledger uses the precision from your file to work out the display precision.  In your example you say "1 AAPL", so it doesn't use decimals for AAPL.  So while the value is 1.1 it will show 1 be

[2022-08-05 03:20] tbm commented on #2129
Actually, I think I'll re-open this issue because:

[code]

imho the `= 1.1 AAPL` balance assignment should affect the display precision, but doesn't appear to.

[2022-08-05 03:48] shth commented on #2129
@tbm Thanks for the quick response. It works as you described.

Btw just asking will the parse order instead of date order issue be fixed? Because I think it is more convenient to add new transactions from the top, but this issue kind of blocks that.

[2022-08-05 04:04] tbm commented on #2129
I don't know if it will be fixed in the future, but certainly not soon as nobody is working on it and from what I understand it's not so easy to fix.

[2022-08-06 03:17] shth commented on #2129
Understandable. Though what do you think if some pre-processors were to be added, so that the input files are sorted by dates before passing to the parser?

[2022-08-06 03:35] tbm commented on #2129
Please discuss the sorting issue in the relevant ticket.  This ticket is only about display precision issue.  Ledger development isn't very active but I'm sure contributions in this area would be accepted. (But please discuss in the relevant ticket)

[2022-08-06 04:11] shth commented on #2129
Got it. Thanks!

[2022-08-08 10:46] sdubinsky opened #2130 "[BUG] Can't Mix {=} Expressions with @@ Expressions When Currencies Overlap"
Ledger 3.2.1-20200518 on ubuntu 22.04.1

When I create a sample file with both {=} expressions and @@ expressions, the {=} expressions aren't calculated properly in bal reports.

[code]

[code]
but
[code]

[code]

[2022-08-09 08:04] tbm commented on #2130
I think your latest example is broken.  You wanted to show:

[code]

[2022-08-09 14:00] sdubinsky commented on #2130
yes, thank you.  I've updated my post.

Anyway, I don't think the currencies with {} should be shown in this case.

[2022-08-12 04:41] pickfire commented on #2051
This failed for me with `-M` too but I have no idea how to fix it, for now I just commented out the virtual accounts manually.

[2022-08-26 15:09] MisterY commented on #2078
# Boost 2 WebAssembly links

- https://stackoverflow.com/questions/57046348/emscripten-and-boost-library-how-to-compile-existing-project-for-webassembly

[2022-08-26 15:18] MisterY commented on #2078
Link to [WebAssembly support](https://github.com/boostorg/context/issues/109) in Boost repo.

[2022-08-30 00:47] agustinvinao commented on #2032
One quick way to fix this is to create what I call a phantom transaction:

[code]

I have this kind of transactions in the same ledger file as my budget settings and it like saying when will start to "track" an account.

Hope it helps

[2022-08-30 13:09] andrew521 opened #2131 "missing records at the end in "ledger reg""
"ledger  reg" command is missing records at the end. I am running these on Aug 31. For acc1 the last  row is 2022-08-21 (2 weeks missing) and for  acc2 the last  row is  2022-07-03   (9 weeks missing). Is this a bug? Any workaround?

$ ledger -J -X USD -V -M --collapse reg acc1

2020-03-01 3.2250856547
2020-03-08 12.7704218218652774763
2020-03-15 26.18540631567
2020-03-22 36.3850603442
..........

[2022-10-01 15:52] horasio opened #2132 "Bug in handling utf-8"
In latest commits from July 20:

Local config : MacOS 12.6 Monterey, Terminal in UTF8.
I guess the fix above is not enough because the July 19 commit works well with the Euro symbol as a commodity :
Python 3.7.14 (default, Sep 10 2022, 11:16:56)
[Clang 13.0.0 (clang-1300.0.29.30)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

[code]
But with this commit, it's al

[2022-10-01 19:00] afh commented on #2132
A PR (#2133) addressing this regression is now available, @horasio. Any testing you could do and feedback you could give is greatly appreciated :pray:

[2022-10-01 20:08] horasio commented on #2132
All good as far as my tiny test goes. See my comment in your PR. Thank you!

[2022-10-02 02:19] #2132 closed

[2022-10-03 13:08] mariaa144 opened #2134 "Using commodity equivelancy fails to balance in some cases"
When I run the command `ledger -f ledger.dat --price-db price-db bal` with the files

[code]

[code]

I get the error:

[code]

However if I use the following `ledger.dat` then the command works.

[code]

I get the following output:

[code]

I would expect the commodity could be entered in any row and ledger could balance the report.

[2022-10-06 18:01] pclouds commented on #2095
From the original issue

It is hard. I neglected documentation (sorry) and now have ~15 years worth of transactions without default commodity. Even if I want to fix it, it would need some tool support to print/convert the ledger to add default commodity :(

[2022-10-07 07:22] tbm commented on #2095
@pclouds it's probably one simple Perl regex call to change your ledger.

[2022-10-07 14:35] pclouds commented on #2095
Oh I thought of that. The think is the numbers at the end of the payer line, or are followed by comments... so it's not exactly straightforward. And I also have some amounts _with_ commodity so I have to avoid those.

[2022-10-10 23:13] #2134 closed

[2022-10-27 07:40] tbm commented on #2095
If you can't do it yourself, I could probably write a Perl program for you, but if you know some coding it shouldn't be hard even with your considerations. (I hope... there are so many corner cases to consider!)

[2022-10-27 14:53] pclouds commented on #2095
Scripting isn't a problem, I could do it. My problem is verification because there are _a lot_ of transactions to check (visually). It just occurs to me though that if the total balance in the end is the same before and after the conversion then perhaps things aren't that bad.

But I was kinda delaying that and trying to see if I could implement this in ledger too. I suppose you are not opposed to

[2022-10-28 01:04] tbm commented on #2095
John, the author of ledger, is not very active, so it's not clear who would give the "go ahead" for this. (If anyone would implement it, that is).

But my personal view is that making things more compatible with hledger would be a good idea.

[2022-10-28 21:05] danger89 opened #2137 "Add Debian/Ubuntu package support"
Copy over the `debian` folder from: https://github.com/mbudde/ledger/tree/debian/debian (no longer maintaining his PPA).

Allow you to easily build and/or publish deb packages!

Regards,
Melroy van den Berg

[2022-10-29 02:02] tbm commented on #2137
Personally I'm not too keen on adding Linux distro packaging code to upstream code, but that my just be my view as a Debian person (in the Debian world we think the distros are the place for that - and fwiw ledger is in Debian packaged by @bremner).

I'd be curious what other people think.

Also, if this is merged, who is volunteering to maintain it? We can't merge code without someone willing to

[2022-10-29 14:44] danger89 commented on #2137
Actually there is alternative way of doing this. Which is leveraging the cmake build system. Cmake makes it possible to also generate packages on various distros. Incl. Deb files.

[2022-10-30 15:01] rynr opened #2138 "commodity alias does not work with `EUR`"
I found #1678, but it seems to be something different, though the error message is the same.

See the following to reproduce:
[code]

I can define a commodity with the alias `USD`, but not with the alias `EUR`.
Am I missing something here?

[2022-10-30 16:25] rnapier commented on #1987
There's a [good thread](https://groups.google.com/g/ledger-cli/c/EcOszf2WzF4/m/ePy2ywPxBV4J) on how to work around this bug with `--total` in the google group.

[2022-10-30 17:34] rnapier opened #2140 "Finding most recent price of commodity"
I would like to get the most recent prices (in US$) from my pricedb for a list of commodities. I can get the entire list of historical prices like this:

    ledger prices -X $ --no-revalued VTI BND BNX VOO

However, I then need to work backwards through the list to find the latest value for each commodity. Is there a way to do this directly and have ledger just output the value it would use as th

[2022-10-31 01:49] tbm commented on #2138
I can't reproduce this.  Do you have a UTF-8 locale?

[2022-10-31 01:52] tbm commented on #2140
I don't know but how about:

    ledger prices -X EUR  --no-revalued USD --sort d  | tail -n 1

[2022-10-31 07:31] rynr commented on #2138
My environment variables:
[code]
Are others relevant too?

[2022-10-31 09:50] tbm commented on #2138
I was just guessing.  I don't know.  I can't reproduce the issue.

[2022-11-02 00:10] rnapier commented on #2140
That works for a single price, but I'm looking for several, and sorting them is a bit more expensive than I'd love. My pricedb is 12k entries long. If that's the only approach, I'd just write the code to work backwards through the list by hand. Each call is about 200ms, so fetching ~30 commodities starts taking several seconds.

[2022-11-02 01:37] tbm commented on #2140
It looks like the `-p` option works on `prices`, so you could do:

    ledger prices -p "from 2022-06-02 to 2022-06-03"

[2022-11-02 01:38] tbm commented on #2140
Oh, this works:

    ledger prices -p "2022-06-02"

[2022-11-02 01:39] tbm commented on #2140
But that assumes you have a price entry for each day.  It doesn't give you the most recent.  I'm not sure if there's a query for that.

[2022-11-03 07:07] afh commented on #2138
I'm also unable to reproduce this with the given instructions.

@rynr Can you provide the output of the `locale` command, please? `LC_CTYPE`, LC_NUMERIC`, and `LC_MONETARY` could be relevant…
[code]

[2022-11-03 21:08] danger89 commented on #2137
I'm leveraging the CMake build system in my [LibreWeb project](https://libreweb.org) to help me build packages for various distros: https://gitlab.melroy.org/libreweb/libreweb-browser/-/blob/main/cmake/Packaging.cmake

[2022-11-06 22:21] lawlist opened #2141 "--prefix is ignored when building from master branch"
I'm running Debian 8.11.1 in a VirtualBox machine on a MacPro 4,9 desktop with OSX 10.6.8.   When building from the master branch cloned today (11/06/2022), the --prefix is ignored and the executables are installed into the root directory of the cloned repository.   The following is the configure command line that I am using, with the cloned master branch being  downloaded to /tmp and existing at

[2022-11-10 06:26] adamipc commented on #2141
I had a similar problem and just did an `./acprep gitclean` and rebuilt which fixed it.

[2022-11-11 02:52] lawlist commented on #2141
I tried again this evening with a brand new clone and the build succeeds, but the destination prefix is disregarded.  Maybe there is a `make install`, or the equivalent thereof, that I'm missing?

PATH=$PATH:/opt/cmake-3.24.3-linux-x86_64/bin ./acprep update --prefix=/tmp/test

[2022-11-11 02:56] lawlist commented on #2141
It turns out that I simply did not use `make install`.  This was my first experience using cmake and an acprep configuration utility.  I'll make a note to my file that this requires `make install` like what I'm use to seeing with other unrelated installations.

[2022-11-11 02:56] #2141 closed

[2022-11-11 12:39] nick-buhro opened #2142 "CSV: how to convert file where some transactions don't have a cost?"
It looks like there are no possible ways to import from CSV transactions if some of them don't have a cost. I mean fraction of transactions have a cost, and other don't.

For example, csv file:
[code]
could be converted without any issues:
[code]

But what if some transactions don't have a cost? I've tried 2 approaches:
1. Leave the cost empty:
[code]
[code]
2. Put the same value to the cost:
[cod

[2022-11-13 21:06] marbew opened #2144 "Bittorrent NOT showing value"
Under the Tron account, when transferring bittorrent tokens, there is no value express in dollars or any other currency

[2022-11-14 01:39] tbm commented on #2144
This Git repo is for ledger-cli, the command-line accounting tool.

You want: https://github.com/LedgerHQ

[2022-11-14 01:39] #2144 closed

[2022-11-23 03:15] tbm opened #2145 "Document ledger's regex dialect"
This came up here: https://www.reddit.com/r/plaintextaccounting/comments/yzg3kz/whats_ledgers_regex_dialect/

[2022-11-29 23:41] riastradh opened #2146 "--gain doesn't report change in market value from a reference time"
Suppose I hold 100 XYZ, with cost basis $2, at the end of 2021 when I close my 2021 book, at which point the market price has risen to $3.

I open my 2022 book with:
- The amount I hold, including its cost basis, at the close of the 2021 book.
- The market price at the close of the 2021 book.

[code]

(Annoyingly, the order here matters: if I put P first, then `ledger --end 2022-01-01 --market bal

[2022-11-30 05:55] tbm commented on #2146
I don't have a good answer, but some comments:

Yes, ledger can only have one price per day for a commodity, so I guess order matters.

Spuriously?  I think you have a thinko here.  You're asking for the market value at date 1 and date 2. You bought inbetween those dates.  So of course you *also* have to subtract the cost of what you bought:

    ledger -f d --market bal -B  --begin "2022-01-01"

[2022-11-30 05:56] tbm commented on #2146
I also want to point out that there's a distinction between `--end` and `--now` but I'm not sure `--now` will actually help you get the right answer either.